Repository guardian/csnx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent, @guardian/apps-rendering

.github/CODEOWNERS:

# If you would like to be notified about changes in particular part of this repo,
# please add your team to a path in a PR.

# N.B. This file is matched from top down; the last matching pattern has the most precedence.
# So if a file is matched by multiple patterns, the last pattern that matches will be used.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# By default all files are owned by these teams:
* 																@guardian/client-side-infra

/.changeset/ 													@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity @guardian/source @guardian/transparency-consent

/libs/@guardian/source-foundations/ 							@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components/ 						@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components-development-kitchen/ 	@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-foundations/ 				@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-react-components/ 			@guardian/client-side-infra @guardian/source

/libs/@guardian/browserlist-config/  							@guardian/client-side-infra @guardian/dotcom-platform

/libs/@guardian/libs/ 											@guardian/client-side-infra @guardian/apps-rendering @guardian/dotcom-platform
/libs/@guardian/libs/src/consent-management-platform/ 			@guardian/client-side-infra @guardian/transparency-consent

/libs/@guardian/identity-auth-frontend/ 						@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity

/libs/@guardian/identity-auth/ 									@guardian/client-side-infra @guardian/identity

Revert "correct spelling might help"
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

Revert "Possible fix for building source foundations / react components before storybook"
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

Revert "add dependancy for source foundations build on storybooks for react componenets etc"
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

ensure stroybook deps are built
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

Update sourcepoint-tcfv2.cy.js
  libs/@guardian/libs/cypress/e2e/consent-management-platform/sourcepoint-tcfv2.cy.js
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform

build design tokens to the correct place
  Makefile
  libs/@guardian/design-tokens/package.json
Owners: @guardian/client-side-infra

Rollup config fix
  configs/rollup.config.js
  libs/@guardian/newsletter-types/rollup.config.js
Owners: @guardian/client-side-infra

add a npm script running checker
  scripts/deno/check-npm-scripts.ts
  scripts/deno/deno.lock
Owners: @guardian/client-side-infra

prettify typography generated code
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/scripts/build-type-presets.ts
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source

adds common task deps to source packages
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

Bump `react-components*` to latest foundations (#1445)
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/CHANGELOG.md
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source

remove Nx from single source package
  libs/@guardian/source/package.json
Owners: @guardian/client-side-infra

Include Purpose 11 in Cypress Test (#1449)
  libs/@guardian/libs/cypress/e2e/consent-management-platform/sourcepoint-tcfv2.cy.js
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform

Remove Nx from single source package (#1455)
  libs/@guardian/source/package.json
Owners: @guardian/client-side-infra

allow passing of package name to package script checker
  scripts/deno/check-npm-scripts.ts
  scripts/deno/deno.lock
Owners: @guardian/client-side-infra

rename command to build storybooks
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  Makefile
  README.md
  docs/source/contributing.md
  docs/source/storybook.md
Owners: @guardian/client-side-infra

use clearer variable names
  scripts/deno/check-npm-scripts.ts
Owners: @guardian/client-side-infra

remove old comment
  .github/workflows/chromatic.yml
Owners: @guardian/client-side-infra

Allow passing of package name to `check-npm-scripts` (#1456)
  scripts/deno/check-npm-scripts.ts
  scripts/deno/deno.lock
Owners: @guardian/client-side-infra

rename `make` `build:storybooks` to `build-storybook`
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  Makefile
  README.md
  docs/source/contributing.md
  docs/source/storybook.md
Owners: @guardian/client-side-infra

Rename command to build storybooks (#1457)
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  Makefile
  README.md
  docs/source/contributing.md
  docs/source/storybook.md
Owners: @guardian/client-side-infra

fix bad grep
  libs/@guardian/source-react-components-development-kitchen/src/age-warning/README.md
  libs/@guardian/source-react-components-development-kitchen/src/divider/README.md
  libs/@guardian/source-react-components-development-kitchen/src/editorial-button/EditorialButton.tsx
  libs/@guardian/source-react-components-development-kitchen/src/editorial-button/EditorialLinkButton.tsx
  libs/@guardian/source-react-components-development-kitchen/src/editorial-button/README.md
  libs/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/ExpandingWrapper.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/README.md
  libs/@guardian/source-react-components-development-kitchen/src/file-input/FileInput.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/file-input/README.md
  libs/@guardian/source-react-components-development-kitchen/src/footer-with-contents/README.md
  libs/@guardian/source-react-components-development-kitchen/src/lines/Lines.tsx
  libs/@guardian/source-react-components-development-kitchen/src/lines/README.md
  libs/@guardian/source-react-components-development-kitchen/src/logo/Logo.tsx
  libs/@guardian/source-react-components-development-kitchen/src/logo/README.md
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.tsx
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/README.md
  libs/@guardian/source-react-components-development-kitchen/src/quote-icon/QuoteIcon.tsx
  libs/@guardian/source-react-components-development-kitchen/src/quote-icon/README.md
  libs/@guardian/source-react-components-development-kitchen/src/star-rating/README.md
  libs/@guardian/source-react-components-development-kitchen/src/star-rating/StarRating.tsx
  libs/@guardian/source-react-components-development-kitchen/src/summary/README.md
  libs/@guardian/source-react-components-development-kitchen/src/tabs/README.MD
  libs/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/README.md
  libs/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/ToggleSwitchApps.tsx
  libs/@guardian/source-react-components-development-kitchen/src/toggle-switch/README.md
  libs/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.tsx
Owners: @guardian/client-side-infra, @guardian/source

depend on source
  libs/@guardian/source-react-components-development-kitchen/package.json
Owners: @guardian/client-side-infra, @guardian/source

i ahte this
  .github/actions/setup-node-env/action.yml
Owners: @guardian/client-side-infra

idiot
  .github/actions/setup-node-env/action.yml
Owners: @guardian/client-side-infra

create `@guardian/source-development-kitchen`
  .changeset/shy-timers-bow.md
  Makefile
  README.md
  apps/storybooks/.storybook/main.js
  libs/@guardian/source-development-kitchen/.eslintrc.cjs
  libs/@guardian/source-development-kitchen/.storybook/main.js
  libs/@guardian/source-development-kitchen/.storybook/manager.ts
  libs/@guardian/source-development-kitchen/.storybook/preview-head.html
  libs/@guardian/source-development-kitchen/.storybook/preview.tsx
  libs/@guardian/source-development-kitchen/.storybook/preview/FocusManagerDecorator.tsx
  libs/@guardian/source-development-kitchen/.storybook/preview/ThemeProviderDecorator.tsx
  libs/@guardian/source-development-kitchen/.storybook/preview/backgrounds.ts
  libs/@guardian/source-development-kitchen/.storybook/preview/viewport.ts
  libs/@guardian/source-development-kitchen/.storybook/theme.ts
  libs/@guardian/source-development-kitchen/README.md
  libs/@guardian/source-development-kitchen/jest.config.js
  libs/@guardian/source-development-kitchen/jest.dist.setup.js
  libs/@guardian/source-development-kitchen/package.json
  libs/@guardian/source-development-kitchen/react-components/package.json
  libs/@guardian/source-development-kitchen/rollup.config.js
  libs/@guardian/source-development-kitchen/src/react-components
  libs/@guardian/source-development-kitchen/tsconfig.json
  libs/@guardian/source-development-kitchen/tsconfig.spec.json
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.tsx
  libs/@guardian/source/README.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

i hate cyrpess
  .github/actions/setup-node-env/action.yml
Owners: @guardian/client-side-infra

ignore wireit cache dirs when looking for tests
  configs/jest.config.js
Owners: @guardian/client-side-infra

Revert "i hate cyrpess"
  .github/actions/setup-node-env/action.yml
Owners: @guardian/client-side-infra

give @guardian/source-development-kitchen a version
  libs/@guardian/source-development-kitchen/package.json
Owners: @guardian/client-side-infra

ignore wireit cache dirs when looking for tests (#1460)
  configs/jest.config.js
Owners: @guardian/client-side-infra

Center button content by default
  libs/@guardian/source-react-components/src/button/styles.ts
Owners: @guardian/client-side-infra, @guardian/source

Allow collapsing of `Inline` layout below breakpoint
  libs/@guardian/source-react-components/src/inline/Inline.stories.tsx
  libs/@guardian/source-react-components/src/inline/Inline.tsx
  libs/@guardian/source-react-components/src/inline/styles.ts
Owners: @guardian/client-side-infra, @guardian/source

Add `fullWidthUntil` prop
  libs/@guardian/source-react-components/src/button/@types/SharedButtonProps.ts
  libs/@guardian/source-react-components/src/button/Button.stories.tsx
  libs/@guardian/source-react-components/src/button/Button.tsx
  libs/@guardian/source-react-components/src/button/styles.ts
Owners: @guardian/client-side-infra, @guardian/source

Remove `fullWidthUntil` prop from buttons
  libs/@guardian/source-react-components/src/button/@types/SharedButtonProps.ts
  libs/@guardian/source-react-components/src/button/Button.stories.tsx
  libs/@guardian/source-react-components/src/button/Button.tsx
  libs/@guardian/source-react-components/src/button/styles.ts
Owners: @guardian/client-side-infra, @guardian/source

Add button group examples to stories
  libs/@guardian/source-react-components/src/inline/Inline.stories.tsx
Owners: @guardian/client-side-infra, @guardian/source

Use common Space type across components
  libs/@guardian/source-react-components/src/columns/Columns.tsx
  libs/@guardian/source-react-components/src/columns/styles.ts
  libs/@guardian/source-react-components/src/stack/Stack.tsx
  libs/@guardian/source-react-components/src/stack/styles.ts
Owners: @guardian/client-side-infra, @guardian/source

Update Stack stories to better show spacing
  libs/@guardian/source-react-components/src/stack/Stack.stories.tsx
Owners: @guardian/client-side-infra, @guardian/source

Update stories to include examples of all spacing units
  libs/@guardian/source-react-components/src/inline/Inline.stories.tsx
  libs/@guardian/source-react-components/src/stack/Stack.stories.tsx
Owners: @guardian/client-side-infra, @guardian/source

Add changeset
  .changeset/forty-comics-scream.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent
