Repository guardian/csnx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent, @guardian/apps-rendering

remove some extra single source package stuff
  pnpm-lock.yaml
  tsconfig.base.json
Owners: @guardian/client-side-infra

Remove @guardian/source (#1291)
  README.md
  libs/@guardian/source/CHANGELOG.md
  libs/@guardian/source/README.md
  libs/@guardian/source/package.json
  libs/@guardian/source/project.json
  libs/@guardian/source/src/components/react-dev-kitchen/index.ts
  libs/@guardian/source/src/components/react/index.ts
  libs/@guardian/source/src/foundations/index.ts
  libs/@guardian/source/tsconfig.json
  libs/@guardian/source/tsconfig.spec.json
  pnpm-lock.yaml
  tsconfig.base.json
Owners: @guardian/client-side-infra

enable wireit cacheing in GHA
  .github/actions/setup-node-env/action.yml
Owners: @guardian/client-side-infra

Add TypographyPreset type
  libs/@guardian/source-foundations/src/typography/types.ts
  libs/@guardian/source-foundations/src/utils/typography.ts
Owners: @guardian/client-side-infra, @guardian/source

Lowercase 'italic' in tokens so it satisfies type
  libs/@guardian/design-tokens/src/tokens.json
  libs/@guardian/design-tokens/tokens.d.ts
  libs/@guardian/design-tokens/tokens.js
  libs/@guardian/design-tokens/variables.css
  libs/@guardian/source-foundations/src/tokens.test.ts
  libs/@guardian/source-foundations/src/typography/css.ts
  libs/@guardian/source-foundations/src/typography/objects.ts
Owners: @guardian/client-side-infra, @guardian/source

use wireit to build github-pages
  .github/workflows/github-pages.yml
  .gitignore
  .vscode/extensions.json
  README.md
  apps/github-pages/astro.config.mjs
  apps/github-pages/package.json
  apps/github-pages/project.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

Discard changes to README.md
  README.md
Owners: @guardian/client-side-infra

ingnore `project.json` files in stroybook builds
  tools/scripts/lib/get-nx-targets.mjs
Owners: @guardian/client-side-infra

use pnpm to run wireit tasks
  Makefile
Owners: @guardian/client-side-infra

only install `wireit` where it’s used
  apps/storybooks/package.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source

include npm scripts in list of runnable project tasks
  README.md
  tools/scripts/lib/get-nx-targets.mjs
  tools/scripts/lib/get-tasks.mjs
  tools/scripts/maintain-readme/index.mjs
Owners: @guardian/client-side-infra

Try out `wireit` on the storybook workflows (#1273)
  .github/actions/setup-node-env/action.yml
  .github/workflows/chromatic.yml
  .gitignore
  .vscode/extensions.json
  Makefile
  README.md
  apps/storybooks/README.md
  apps/storybooks/package.json
  apps/storybooks/project.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/project.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components-development-kitchen/project.json
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source-react-components/project.json
  nx.json
  pnpm-lock.yaml
  tools/scripts/lib/get-nx-targets.mjs
  tools/scripts/lib/get-tasks.mjs
  tools/scripts/maintain-readme/index.mjs
Owners: @guardian/client-side-infra, @guardian/source

upgrade to storybook v8.0.5
  libs/@guardian/source-react-components-development-kitchen/.storybook/manager.ts
  libs/@guardian/source-react-components/.storybook/manager.ts
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source

update makefile on commit
  .husky/pre-commit
Owners: @guardian/client-side-infra

replace all `\` in make target names in readme
  tools/scripts/lib/get-make-targets.mjs
Owners: @guardian/client-side-infra

move readme’s updateSection to it’s own dir
  tools/scripts/maintain-readme/index.mjs
  tools/scripts/maintain-readme/update-readme-section.mjs
Owners: @guardian/client-side-infra

fix `make ls`
  tools/scripts/list-make-targets.mjs
Owners: @guardian/client-side-infra

turns out we can use escaped `:` in `make` targets
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  Makefile
  docs/source/contributing.md
  docs/source/storybook.md
  tools/scripts/lib/get-make-targets.mjs
Owners: @guardian/client-side-infra

replace once
  tools/scripts/maintain-makefile/index.mjs
Owners: @guardian/client-side-infra

create real make targets for project tasks
  Makefile
  README.md
  tools/scripts/maintain-makefile/index.mjs
Owners: @guardian/client-side-infra

Update stories to show correct examples
  libs/@guardian/source-foundations/src/typography/typography.mdx
Owners: @guardian/client-side-infra, @guardian/source

Stripped down codemod for testing
  libs/@guardian/source-foundations/codemods/migrate-typography.js
  libs/@guardian/source-foundations/codemods/typography-test.js
Owners: @guardian/client-side-infra, @guardian/source

Swap the wildcard `make` task for auto-generated project-specific tasks (#1324)
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  .husky/pre-commit
  Makefile
  README.md
  docs/source/contributing.md
  docs/source/storybook.md
  tools/scripts/lib/get-make-targets.mjs
  tools/scripts/list-make-targets.mjs
  tools/scripts/maintain-makefile/index.mjs
  tools/scripts/maintain-readme/index.mjs
  tools/scripts/maintain-readme/update-readme-section.mjs
Owners: @guardian/client-side-infra

Add deprecated typography exports
  libs/@guardian/source-foundations/src/_deprecated/colour/palette.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/types.ts
  libs/@guardian/source-foundations/src/deprecated-exports.ts
  libs/@guardian/source-foundations/src/index.ts
  libs/@guardian/source-foundations/src/tokens.test.ts
  libs/@guardian/source-foundations/src/typography/types.ts
Owners: @guardian/client-side-infra, @guardian/source

Move deprecated colour tokens to deprecated exports
  libs/@guardian/source-foundations/src/_deprecated/palette.ts
  libs/@guardian/source-foundations/src/colour/palette.ts
  libs/@guardian/source-foundations/src/deprecated-exports.ts
  libs/@guardian/source-foundations/src/index.ts
  libs/@guardian/source-foundations/src/tokens.test.ts
Owners: @guardian/client-side-infra, @guardian/source

Move deprecation tags to original exports
  libs/@guardian/source-foundations/src/_deprecated/colour/palette.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/types.ts
  libs/@guardian/source-foundations/src/deprecated-exports.ts
Owners: @guardian/client-side-infra, @guardian/source

Update libs/@guardian/source-foundations/src/_deprecated/typography/types.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/types.ts
Owners: @guardian/client-side-infra, @guardian/source

Relocate deprecated typography API code
  libs/@guardian/source-foundations/src/_deprecated/typography/api.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/data.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/font-styles.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/index.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/obj/index.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/obj/typography.obj.test.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/storybookTypographyRenderers.tsx
  libs/@guardian/source-foundations/src/_deprecated/typography/types.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/typography.test.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/typographyDeprecated.mdx
  libs/@guardian/source-foundations/src/_deprecated/typography/typographyDeprecated.stories.tsx
  libs/@guardian/source-foundations/src/deprecated-exports.ts
  libs/@guardian/source-foundations/src/index.ts
  libs/@guardian/source-foundations/src/tokens.test.ts
  libs/@guardian/source-foundations/src/typography/TypographyPresets.tsx
  libs/@guardian/source-foundations/src/typography/types.ts
  libs/@guardian/source-foundations/src/typography/typography.stories.tsx
Owners: @guardian/client-side-infra, @guardian/source

refine wireit storybooks setup
  apps/storybooks/.storybook/main.js
  apps/storybooks/package.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

Mark typography API exports as deprecated
  libs/@guardian/source-foundations/src/_deprecated/typography/data.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/index.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/types.ts
Owners: @guardian/client-side-infra, @guardian/source

Fix casing of 'italic' in tokens
  libs/@guardian/design-tokens/src/tokens.json
  libs/@guardian/design-tokens/tokens.d.ts
  libs/@guardian/design-tokens/tokens.js
  libs/@guardian/design-tokens/variables.css
  libs/@guardian/source-foundations/src/tokens.test.ts
  libs/@guardian/source-foundations/src/typography/css.ts
  libs/@guardian/source-foundations/src/typography/objects.ts
Owners: @guardian/client-side-infra, @guardian/source

Fix casing of 'italic' in tokens
  libs/@guardian/design-tokens/src/tokens.json
  libs/@guardian/design-tokens/tokens.d.ts
  libs/@guardian/design-tokens/tokens.js
  libs/@guardian/design-tokens/variables.css
  libs/@guardian/source-foundations/src/tokens.test.ts
  libs/@guardian/source-foundations/src/typography/css.ts
  libs/@guardian/source-foundations/src/typography/objects.ts
Owners: @guardian/client-side-infra, @guardian/source

Pin tsx version
  libs/@guardian/source-foundations/package.json
Owners: @guardian/client-side-infra, @guardian/source

move typography docs into `stories`
  libs/@guardian/source-foundations/src/typography/stories/TypographyPresets.tsx
  libs/@guardian/source-foundations/src/typography/stories/typography.mdx
  libs/@guardian/source-foundations/src/typography/stories/typography.stories.tsx
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source

auto-generated files are built to `vendor`
  libs/@guardian/source-foundations/scripts/build-type-presets.ts
  libs/@guardian/source-foundations/src/index.ts
  libs/@guardian/source-foundations/src/typography/stories/TypographyPresets.tsx
  libs/@guardian/source-foundations/vendor/typography/css.ts
  libs/@guardian/source-foundations/vendor/typography/objects.ts
Owners: @guardian/client-side-infra, @guardian/source

add changeset
  .changeset/silly-coins-approve.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

format changeset
  .changeset/silly-coins-approve.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Update references to generated code
  libs/@guardian/source-foundations/src/tokens.test.ts
Owners: @guardian/client-side-infra, @guardian/source

Make conversion function types more specific
  libs/@guardian/source-foundations/src/utils/convert-value.ts
Owners: @guardian/client-side-infra, @guardian/source

Update deprecation messages and add link to docs
  libs/@guardian/source-foundations/src/_deprecated/typography/data.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/index.ts
Owners: @guardian/client-side-infra, @guardian/source

.github/CODEOWNERS:

# If you would like to be notified about changes in particular part of this repo,
# please add your team to a path in a PR.

# N.B. This file is matched from top down; the last matching pattern has the most precedence.
# So if a file is matched by multiple patterns, the last pattern that matches will be used.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# By default all files are owned by these teams:
* 																@guardian/client-side-infra

/.changeset/ 													@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity @guardian/source @guardian/transparency-consent

/libs/@guardian/source-foundations/ 							@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components/ 						@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components-development-kitchen/ 	@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-foundations/ 				@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-react-components/ 			@guardian/client-side-infra @guardian/source

/libs/@guardian/browserlist-config/  							@guardian/client-side-infra @guardian/dotcom-platform

/libs/@guardian/libs/ 											@guardian/client-side-infra @guardian/apps-rendering @guardian/dotcom-platform
/libs/@guardian/libs/src/consent-management-platform/ 			@guardian/client-side-infra @guardian/transparency-consent

/libs/@guardian/identity-auth-frontend/ 						@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity

/libs/@guardian/identity-auth/ 									@guardian/client-side-infra @guardian/identity
