Repository guardian/csnx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent, @guardian/apps-rendering

lint fixes
  .changeset/popular-pumas-draw.md
  README.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

fix tsconfig
  libs/@guardian/source/tsconfig.json
Owners: @guardian/client-side-infra

ifx config jsdoc
  configs/rollup.config.js
Owners: @guardian/client-side-infra

Added scripts and dependencies to single source package.
  Makefile
  README.md
  libs/@guardian/source/package.json
  libs/@guardian/source/scripts/build-type-presets.ts
  libs/@guardian/source/scripts/create-icons/README.md
  libs/@guardian/source/scripts/create-icons/create-icon-component.ts
  libs/@guardian/source/scripts/create-icons/create-readme.ts
  libs/@guardian/source/scripts/create-icons/get-svgs-from-figma.ts
  libs/@guardian/source/scripts/create-icons/index.ts
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

make rollup config configurable
  README.md
  configs/rollup.config.js
  libs/@guardian/source/package.json
  libs/@guardian/source/rollup.config.js
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

standardise layout
  README.md
  libs/@guardian/source-foundations/src/utils/__generated__
  libs/@guardian/source-foundations/src/utils/_deprecated
  libs/@guardian/source-foundations/src/utils/accessibility
  libs/@guardian/source-foundations/src/utils/animation
  libs/@guardian/source-foundations/src/utils/breakpoints
  libs/@guardian/source-foundations/src/utils/colour
  libs/@guardian/source-foundations/src/utils/deprecated-exports.ts
  libs/@guardian/source-foundations/src/utils/index.test.ts
  libs/@guardian/source-foundations/src/utils/index.ts
  libs/@guardian/source-foundations/src/utils/mq
  libs/@guardian/source-foundations/src/utils/size
  libs/@guardian/source-foundations/src/utils/space
  libs/@guardian/source-foundations/src/utils/tokens.test.ts
  libs/@guardian/source-foundations/src/utils/typography
  libs/@guardian/source/foundations/package.json
  libs/@guardian/source/foundations/src
  libs/@guardian/source/react-components/package.json
  libs/@guardian/source/react-components/src
  libs/@guardian/source/rollup.config.js
  libs/@guardian/source/src/foundations
  libs/@guardian/source/src/react-components
Owners: @guardian/client-side-infra, @guardian/source

include sub packages
  libs/@guardian/source/package.json
Owners: @guardian/client-side-infra

update rollup base config
  configs/rollup.config.js
Owners: @guardian/client-side-infra

Add storybooks to new single source package.
  Makefile
  README.md
  apps/storybooks/.storybook/main.js
  libs/@guardian/source/.storybook/main.js
  libs/@guardian/source/.storybook/manager.ts
  libs/@guardian/source/.storybook/preview-head.html
  libs/@guardian/source/.storybook/preview.tsx
  libs/@guardian/source/.storybook/preview/FocusManagerDecorator.tsx
  libs/@guardian/source/.storybook/preview/ThemeProviderDecorator.tsx
  libs/@guardian/source/.storybook/preview/backgrounds.ts
  libs/@guardian/source/.storybook/preview/viewport.ts
  libs/@guardian/source/.storybook/theme.ts
  libs/@guardian/source/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

try single source package again
  .changeset/popular-pumas-draw.md
  Makefile
  README.md
  libs/@guardian/source/foundations/package.json
  libs/@guardian/source/foundations/src
  libs/@guardian/source/package.json
  libs/@guardian/source/react-components/package.json
  libs/@guardian/source/react-components/src
  libs/@guardian/source/rollup.config.js
  libs/@guardian/source/test.ts
  libs/@guardian/source/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Add readme to source Co-authored-by: Alex Sanders <alex@sndrs.dev>
  libs/@guardian/source/README.md
  libs/@guardian/source/assets/logo.png
Owners: @guardian/client-side-infra

remove accidents
  libs/@guardian/source-foundations/src/utils/__generated__
  libs/@guardian/source-foundations/src/utils/_deprecated
  libs/@guardian/source-foundations/src/utils/accessibility
  libs/@guardian/source-foundations/src/utils/animation
  libs/@guardian/source-foundations/src/utils/breakpoints
  libs/@guardian/source-foundations/src/utils/colour
  libs/@guardian/source-foundations/src/utils/deprecated-exports.ts
  libs/@guardian/source-foundations/src/utils/index.test.ts
  libs/@guardian/source-foundations/src/utils/index.ts
  libs/@guardian/source-foundations/src/utils/mq
  libs/@guardian/source-foundations/src/utils/size
  libs/@guardian/source-foundations/src/utils/space
  libs/@guardian/source-foundations/src/utils/tokens.test.ts
  libs/@guardian/source-foundations/src/utils/typography
Owners: @guardian/client-side-infra, @guardian/source

Add linting fixing testing to single source package.
  Makefile
  README.md
  libs/@guardian/source/.eslintrc.cjs
  libs/@guardian/source/.storybook/preview/FocusManagerDecorator.tsx
  libs/@guardian/source/jest.config.js
  libs/@guardian/source/jest.dist.setup.js
  libs/@guardian/source/lib/jest-matchers/@types/index.d.ts
  libs/@guardian/source/lib/jest-matchers/toBeValidCSS.ts
  libs/@guardian/source/lib/jest-matchers/toMatchCSS.ts
  libs/@guardian/source/package.json
  libs/@guardian/source/rollup.config.js
  libs/@guardian/source/test.ts
  libs/@guardian/source/tsconfig.json
  libs/@guardian/source/tsconfig.spec.json
Owners: @guardian/client-side-infra

Try `@guardian/source` package once more (#1435)
  .changeset/popular-pumas-draw.md
  Makefile
  README.md
  apps/storybooks/.storybook/main.js
  configs/rollup.config.js
  libs/@guardian/source/.eslintrc.cjs
  libs/@guardian/source/.storybook/main.js
  libs/@guardian/source/.storybook/manager.ts
  libs/@guardian/source/.storybook/preview-head.html
  libs/@guardian/source/.storybook/preview.tsx
  libs/@guardian/source/.storybook/preview/FocusManagerDecorator.tsx
  libs/@guardian/source/.storybook/preview/ThemeProviderDecorator.tsx
  libs/@guardian/source/.storybook/preview/backgrounds.ts
  libs/@guardian/source/.storybook/preview/viewport.ts
  libs/@guardian/source/.storybook/theme.ts
  libs/@guardian/source/README.md
  libs/@guardian/source/assets/logo.png
  libs/@guardian/source/foundations/package.json
  libs/@guardian/source/jest.config.js
  libs/@guardian/source/jest.dist.setup.js
  libs/@guardian/source/lib/jest-matchers/@types/index.d.ts
  libs/@guardian/source/lib/jest-matchers/toBeValidCSS.ts
  libs/@guardian/source/lib/jest-matchers/toMatchCSS.ts
  libs/@guardian/source/package.json
  libs/@guardian/source/react-components/package.json
  libs/@guardian/source/rollup.config.js
  libs/@guardian/source/scripts/build-type-presets.ts
  libs/@guardian/source/scripts/create-icons/README.md
  libs/@guardian/source/scripts/create-icons/create-icon-component.ts
  libs/@guardian/source/scripts/create-icons/create-readme.ts
  libs/@guardian/source/scripts/create-icons/get-svgs-from-figma.ts
  libs/@guardian/source/scripts/create-icons/index.ts
  libs/@guardian/source/src/foundations
  libs/@guardian/source/src/react-components
  libs/@guardian/source/tsconfig.json
  libs/@guardian/source/tsconfig.spec.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Update CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
Owners: @guardian/client-side-infra, @guardian/source

update `react-components*` to latest foundations
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/CHANGELOG.md
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source

create single source package release
  .changeset/config.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

fix lint
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.tsx
Owners: @guardian/client-side-infra, @guardian/source

remove `:` from `make build:stroybooks`
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  Makefile
  README.md
  docs/source/contributing.md
  docs/source/storybook.md
Owners: @guardian/client-side-infra

ensure deps are built for storybooks
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

missed source imports
  libs/@guardian/source-react-components-development-kitchen/.storybook/preview/FocusManagerDecorator.tsx
  libs/@guardian/source-react-components-development-kitchen/.storybook/preview/backgrounds.ts
  libs/@guardian/source-react-components-development-kitchen/.storybook/preview/viewport.ts
Owners: @guardian/client-side-infra, @guardian/source

add changeset
  .changeset/dirty-trees-smile.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Update getConsentState.ts
  libs/@guardian/libs/src/consent-management-platform/usnat/getConsentState.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Fixed tests
  libs/@guardian/libs/cypress/e2e/consent-management-platform/sourcepoint-ccpa.cy.js
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform

Update sourcepointConfig.js
  libs/@guardian/libs/cypress/e2e/consent-management-platform/fixtures/sourcepointConfig.js
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform

Update getConsentState.test.js
  libs/@guardian/libs/src/consent-management-platform/usnat/getConsentState.test.js
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Update index.ts
  libs/@guardian/libs/src/consent-management-platform/types/index.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Updating TODOs
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/types/index.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Update generated id with react useId as it does not change when the component is re-rendered.
  .changeset/happy-toes-explain.md
  libs/@guardian/source-react-components/src/checkbox/Checkbox.tsx
  libs/@guardian/source-react-components/src/checkbox/CheckboxGroup.tsx
  libs/@guardian/source-react-components/src/choice-card/ChoiceCardGroup.tsx
  libs/@guardian/source-react-components/src/radio/Radio.tsx
  libs/@guardian/source-react-components/src/radio/RadioGroup.tsx
  libs/@guardian/source-react-components/src/select/Select.tsx
  libs/@guardian/source-react-components/src/text-area/TextArea.tsx
  libs/@guardian/source-react-components/src/text-input/TextInput.tsx
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Update sourcepoint-ccpa.cy.js
  libs/@guardian/libs/cypress/e2e/consent-management-platform/sourcepoint-ccpa.cy.js
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform

add dependancy for source foundations build on storybooks for react componenets etc
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

correct spelling might help
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

Update to `@guardian/source-foundations@16.0.0`
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source

Add changeset
  .changeset/shy-lamps-carry.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Possible fix for building source foundations / react components before storybook
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

Possible fix for building source foundations / react components before storybook
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

update make build storybook
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  Makefile
  README.md
  docs/source/contributing.md
Owners: @guardian/client-side-infra

Add purpose 11
  libs/@guardian/libs/cypress/e2e/consent-management-platform/sourcepoint-tcfv2.cy.js
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform

Revert "Possible fix for building source foundations / react components before storybook"
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

Revert "update make build storybook"
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  Makefile
  README.md
  docs/source/contributing.md
Owners: @guardian/client-side-infra

.github/CODEOWNERS:

# If you would like to be notified about changes in particular part of this repo,
# please add your team to a path in a PR.

# N.B. This file is matched from top down; the last matching pattern has the most precedence.
# So if a file is matched by multiple patterns, the last pattern that matches will be used.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# By default all files are owned by these teams:
* 																@guardian/client-side-infra

/.changeset/ 													@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity @guardian/source @guardian/transparency-consent

/libs/@guardian/source-foundations/ 							@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components/ 						@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components-development-kitchen/ 	@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-foundations/ 				@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-react-components/ 			@guardian/client-side-infra @guardian/source

/libs/@guardian/browserlist-config/  							@guardian/client-side-infra @guardian/dotcom-platform

/libs/@guardian/libs/ 											@guardian/client-side-infra @guardian/apps-rendering @guardian/dotcom-platform
/libs/@guardian/libs/src/consent-management-platform/ 			@guardian/client-side-infra @guardian/transparency-consent

/libs/@guardian/identity-auth-frontend/ 						@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity

/libs/@guardian/identity-auth/ 									@guardian/client-side-infra @guardian/identity
