Repository guardian/csnx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent, @guardian/apps-rendering

Explciitly test if space props are undefined
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source-react-components/src/columns/Columns.tsx
  libs/@guardian/source-react-components/src/inline/Inline.tsx
  libs/@guardian/source-react-components/src/stack/Stack.tsx
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source

Add `libs` as a build dependency
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

Add as dependency to single Source package
  libs/@guardian/source/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

Add changeset
  .changeset/empty-geese-explain.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Use specific version of rather than local workspace copy
  libs/@guardian/source/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

move `rollup` config to `configs/rollup`
  configs/rollup/package.json
  configs/rollup/rollup.config.js
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-core/rollup.config.js
  libs/@guardian/ab-react/package.json
  libs/@guardian/ab-react/rollup.config.js
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/core-web-vitals/rollup.config.js
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-foundations/rollup.config.js
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/eslint-plugin-source-react-components/rollup.config.js
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth-frontend/rollup.config.js
  libs/@guardian/identity-auth/package.json
  libs/@guardian/identity-auth/rollup.config.js
  libs/@guardian/libs/package.json
  libs/@guardian/libs/rollup.config.js
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/newsletter-types/rollup.config.js
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/rollup.config.js
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components-development-kitchen/rollup.config.js
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source-react-components/rollup.config.js
  libs/@guardian/source/package.json
  libs/@guardian/source/rollup.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @guardian/client-side-infra, @guardian/source, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/apps-rendering

WIP
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-react/package.json
  libs/@guardian/cobalt-plugin-ts/package.json
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/eslint-config-typescript/package.json
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth/package.json
  libs/@guardian/libs/package.json
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source/package.json
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/apps-rendering

move rollup configs to `configs/rollup` (#1462)
  configs/rollup/package.json
  configs/rollup/rollup.config.js
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-core/rollup.config.js
  libs/@guardian/ab-react/package.json
  libs/@guardian/ab-react/rollup.config.js
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/core-web-vitals/rollup.config.js
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-foundations/rollup.config.js
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/eslint-plugin-source-react-components/rollup.config.js
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth-frontend/rollup.config.js
  libs/@guardian/identity-auth/package.json
  libs/@guardian/identity-auth/rollup.config.js
  libs/@guardian/libs/package.json
  libs/@guardian/libs/rollup.config.js
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/newsletter-types/rollup.config.js
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/rollup.config.js
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components-development-kitchen/rollup.config.js
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source-react-components/rollup.config.js
  libs/@guardian/source/package.json
  libs/@guardian/source/rollup.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @guardian/client-side-infra, @guardian/source, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/apps-rendering

Add changeset
  .changeset/lemon-terms-own.md
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

use workspace versions of packages
  libs/@guardian/ab-react/package.json
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth/package.json
  libs/@guardian/identity-auth/src/__tests__/cookieRefresh.test.ts
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components-development-kitchen/src/editorial-button/styles.ts
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity

fix cypress
  .github/actions/setup-node-env/action.yml
Owners: @guardian/client-side-infra

disable cache
  .github/actions/setup-node-env/action.yml
Owners: @guardian/client-side-infra

Update main.js
  configs/storybook/main.js
Owners: @guardian/client-side-infra

use eslint commands directly
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source/package.json
Owners: @guardian/client-side-infra, @guardian/source

single export needed
  libs/@guardian/source-react-components/.storybook/preview.ts
  libs/@guardian/source/.storybook/preview.ts
Owners: @guardian/client-side-infra, @guardian/source

ignroe build-process files in tsconfigs
  libs/@guardian/ab-core/tsconfig.json
  libs/@guardian/ab-react/tsconfig.json
  libs/@guardian/browserslist-config/tsconfig.json
  libs/@guardian/cobalt-plugin-ts/tsconfig.json
  libs/@guardian/core-web-vitals/tsconfig.json
  libs/@guardian/design-tokens/tsconfig.json
  libs/@guardian/eslint-plugin-source-foundations/tsconfig.json
  libs/@guardian/eslint-plugin-source-react-components/tsconfig.json
  libs/@guardian/identity-auth-frontend/tsconfig.json
  libs/@guardian/identity-auth/tsconfig.json
  libs/@guardian/libs/tsconfig.json
  libs/@guardian/newsletter-types/tsconfig.json
  libs/@guardian/source-foundations/tsconfig.json
  libs/@guardian/source-react-components-development-kitchen/tsconfig.json
  libs/@guardian/source-react-components/tsconfig.json
  libs/@guardian/source/tsconfig.json
Owners: @guardian/client-side-infra, @guardian/source, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/apps-rendering

restore action.yml
  .github/actions/setup-node-env/action.yml
Owners: @guardian/client-side-infra

restore missing deps
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source-react-components/scripts/create-icons/create-icon-component.ts
  libs/@guardian/source/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source

Ignore build-process files in tsconfigs (#1467)
  libs/@guardian/ab-core/tsconfig.json
  libs/@guardian/ab-react/tsconfig.json
  libs/@guardian/browserslist-config/tsconfig.json
  libs/@guardian/cobalt-plugin-ts/tsconfig.json
  libs/@guardian/core-web-vitals/tsconfig.json
  libs/@guardian/design-tokens/tsconfig.json
  libs/@guardian/eslint-plugin-source-foundations/tsconfig.json
  libs/@guardian/eslint-plugin-source-react-components/tsconfig.json
  libs/@guardian/identity-auth-frontend/tsconfig.json
  libs/@guardian/identity-auth/tsconfig.json
  libs/@guardian/libs/tsconfig.json
  libs/@guardian/newsletter-types/tsconfig.json
  libs/@guardian/source-foundations/tsconfig.json
  libs/@guardian/source-react-components-development-kitchen/tsconfig.json
  libs/@guardian/source-react-components/tsconfig.json
  libs/@guardian/source/tsconfig.json
Owners: @guardian/client-side-infra, @guardian/source, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/apps-rendering

i hate cyrpess
  .github/actions/setup-node-env/action.yml
Owners: @guardian/client-side-infra

create `@guardian/source-development-kitchen`
  .changeset/shy-timers-bow.md
  Makefile
  README.md
  apps/storybooks/.storybook/main.js
  libs/@guardian/source-development-kitchen/.eslintrc.cjs
  libs/@guardian/source-development-kitchen/.storybook/main.js
  libs/@guardian/source-development-kitchen/.storybook/manager.ts
  libs/@guardian/source-development-kitchen/.storybook/preview-head.html
  libs/@guardian/source-development-kitchen/.storybook/preview.tsx
  libs/@guardian/source-development-kitchen/.storybook/preview/FocusManagerDecorator.tsx
  libs/@guardian/source-development-kitchen/.storybook/preview/ThemeProviderDecorator.tsx
  libs/@guardian/source-development-kitchen/.storybook/preview/backgrounds.ts
  libs/@guardian/source-development-kitchen/.storybook/preview/viewport.ts
  libs/@guardian/source-development-kitchen/.storybook/theme.ts
  libs/@guardian/source-development-kitchen/README.md
  libs/@guardian/source-development-kitchen/jest.config.js
  libs/@guardian/source-development-kitchen/jest.dist.setup.js
  libs/@guardian/source-development-kitchen/package.json
  libs/@guardian/source-development-kitchen/react-components/package.json
  libs/@guardian/source-development-kitchen/rollup.config.js
  libs/@guardian/source-development-kitchen/src/react-components
  libs/@guardian/source-development-kitchen/tsconfig.json
  libs/@guardian/source-development-kitchen/tsconfig.spec.json
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.tsx
  libs/@guardian/source/README.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Revert "i hate cyrpess"
  .github/actions/setup-node-env/action.yml
Owners: @guardian/client-side-infra

Update pnpm-workspace.yaml
  pnpm-workspace.yaml
Owners: @guardian/client-side-infra

give @guardian/source-development-kitchen a version
  libs/@guardian/source-development-kitchen/package.json
Owners: @guardian/client-side-infra

update changes from `main`
  libs/@guardian/source-development-kitchen/.storybook/manager.ts
  libs/@guardian/source-development-kitchen/.storybook/preview-head.html
  libs/@guardian/source-development-kitchen/.storybook/preview.ts
  libs/@guardian/source-development-kitchen/.storybook/preview.tsx
  libs/@guardian/source-development-kitchen/.storybook/preview/FocusManagerDecorator.tsx
  libs/@guardian/source-development-kitchen/.storybook/preview/ThemeProviderDecorator.tsx
  libs/@guardian/source-development-kitchen/.storybook/preview/backgrounds.ts
  libs/@guardian/source-development-kitchen/.storybook/preview/viewport.ts
  libs/@guardian/source-development-kitchen/.storybook/theme.ts
  libs/@guardian/source-development-kitchen/main.js
  libs/@guardian/source-development-kitchen/package.json
  libs/@guardian/source-development-kitchen/rollup.config.js
  libs/@guardian/source-development-kitchen/tsconfig.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

undo change
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.tsx
Owners: @guardian/client-side-infra, @guardian/source

Simplify markup and use colours from Source palette
  libs/@guardian/source-react-components/src/icons/SvgSpinner.tsx
Owners: @guardian/client-side-infra, @guardian/source

update changesets ignore config
  .changeset/config.json
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

force pnpm to use registry version of packages
  .npmrc
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

Create `@guardian/source-development-kitchen` (#1459)
  .changeset/config.json
  .changeset/shy-timers-bow.md
  Makefile
  README.md
  apps/storybooks/.storybook/main.js
  libs/@guardian/source-development-kitchen/.eslintrc.cjs
  libs/@guardian/source-development-kitchen/.storybook/main.js
  libs/@guardian/source-development-kitchen/.storybook/manager.ts
  libs/@guardian/source-development-kitchen/.storybook/preview.ts
  libs/@guardian/source-development-kitchen/README.md
  libs/@guardian/source-development-kitchen/jest.config.js
  libs/@guardian/source-development-kitchen/jest.dist.setup.js
  libs/@guardian/source-development-kitchen/main.js
  libs/@guardian/source-development-kitchen/package.json
  libs/@guardian/source-development-kitchen/react-components/package.json
  libs/@guardian/source-development-kitchen/rollup.config.js
  libs/@guardian/source-development-kitchen/src/react-components
  libs/@guardian/source-development-kitchen/tsconfig.json
  libs/@guardian/source-development-kitchen/tsconfig.spec.json
  libs/@guardian/source/README.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

force pnpm to use registry version of packages (#1469)
  .npmrc
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

production release of @guardian/source
  libs/@guardian/source/CHANGELOG.md
  libs/@guardian/source/package.json
Owners: @guardian/client-side-infra

production release of @guardian/source-development-kitchen
  libs/@guardian/source-development-kitchen/CHANGELOG.md
  libs/@guardian/source-development-kitchen/package.json
Owners: @guardian/client-side-infra

Revert update
  libs/@guardian/source/CHANGELOG.md
  libs/@guardian/source/package.json
Owners: @guardian/client-side-infra

update docs to point to new package
  libs/@guardian/source/src/foundations/_deprecated/typography/typographyDeprecated.mdx
  libs/@guardian/source/src/foundations/accessibility/description-id.mdx
  libs/@guardian/source/src/foundations/accessibility/focus-halo.mdx
  libs/@guardian/source/src/foundations/accessibility/focus-style-manager.mdx
  libs/@guardian/source/src/foundations/accessibility/generate-source-id.mdx
  libs/@guardian/source/src/foundations/accessibility/visually-hidden.mdx
  libs/@guardian/source/src/foundations/colour/palette.mdx
  libs/@guardian/source/src/foundations/mq/mq.mdx
  libs/@guardian/source/src/foundations/size/size.mdx
  libs/@guardian/source/src/foundations/space/space.mdx
  libs/@guardian/source/src/foundations/typography/stories/typography.mdx
  libs/@guardian/source/src/foundations/utils/resets.mdx
Owners: @guardian/client-side-infra

update paths in docs
  libs/@guardian/source/scripts/create-icons/create-readme.ts
  libs/@guardian/source/src/react-components/__generated__/icons/README.md
  libs/@guardian/source/src/react-components/accordion/Accordion.tsx
  libs/@guardian/source/src/react-components/accordion/AccordionRow.tsx
  libs/@guardian/source/src/react-components/accordion/AccordionRowNoJS.tsx
  libs/@guardian/source/src/react-components/brand/SvgGuardianBestWebsiteLogo.tsx
  libs/@guardian/source/src/react-components/brand/SvgGuardianLiveLogo.tsx
  libs/@guardian/source/src/react-components/brand/SvgGuardianLogo.tsx
  libs/@guardian/source/src/react-components/brand/SvgRoundelBrand.tsx
  libs/@guardian/source/src/react-components/brand/SvgRoundelBrandInverse.tsx
  libs/@guardian/source/src/react-components/brand/SvgRoundelDefault.tsx
  libs/@guardian/source/src/react-components/brand/SvgRoundelInverse.tsx
  libs/@guardian/source/src/react-components/button/Button.tsx
  libs/@guardian/source/src/react-components/button/LinkButton.tsx
  libs/@guardian/source/src/react-components/checkbox/Checkbox.tsx
  libs/@guardian/source/src/react-components/checkbox/CheckboxGroup.tsx
  libs/@guardian/source/src/react-components/choice-card/ChoiceCard.tsx
  libs/@guardian/source/src/react-components/choice-card/ChoiceCardGroup.tsx
  libs/@guardian/source/src/react-components/columns/Column.tsx
  libs/@guardian/source/src/react-components/columns/Columns.tsx
  libs/@guardian/source/src/react-components/container/Container.tsx
  libs/@guardian/source/src/react-components/footer/Footer.tsx
  libs/@guardian/source/src/react-components/hide/Hide.tsx
  libs/@guardian/source/src/react-components/inline/Inline.tsx
  libs/@guardian/source/src/react-components/label/Label.tsx
  libs/@guardian/source/src/react-components/label/Legend.tsx
  libs/@guardian/source/src/react-components/link/ButtonLink.tsx
  libs/@guardian/source/src/react-components/link/Link.tsx
  libs/@guardian/source/src/react-components/radio/Radio.tsx
  libs/@guardian/source/src/react-components/radio/RadioGroup.tsx
  libs/@guardian/source/src/react-components/select/Select.tsx
  libs/@guardian/source/src/react-components/stack/Stack.tsx
  libs/@guardian/source/src/react-components/text-area/TextArea.tsx
  libs/@guardian/source/src/react-components/text-input/TextInput.tsx
  libs/@guardian/source/src/react-components/tiles/Tiles.tsx
  libs/@guardian/source/src/react-components/user-feedback/InlineError.tsx
  libs/@guardian/source/src/react-components/user-feedback/InlineSuccess.tsx
Owners: @guardian/client-side-infra

update sotrybook config to use single source pacakge
  configs/storybook/package.json
  configs/storybook/preview/FocusManagerDecorator.tsx
  configs/storybook/preview/backgrounds.ts
  configs/storybook/preview/viewport.ts
Owners: @guardian/client-side-infra

delete old dev kitchen
  Makefile
  README.md
  libs/@guardian/source-react-components-development-kitchen/.eslintrc.cjs
  libs/@guardian/source-react-components-development-kitchen/.storybook/main.js
  libs/@guardian/source-react-components-development-kitchen/.storybook/manager.ts
  libs/@guardian/source-react-components-development-kitchen/.storybook/preview.ts
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/README.md
  libs/@guardian/source-react-components-development-kitchen/jest.config.js
  libs/@guardian/source-react-components-development-kitchen/jest.dist.setup.js
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components-development-kitchen/rollup.config.js
  libs/@guardian/source-react-components-development-kitchen/tsconfig.json
  libs/@guardian/source-react-components-development-kitchen/tsconfig.spec.json
Owners: @guardian/client-side-infra, @guardian/source

fix jest
  libs/@guardian/source-development-kitchen/jest.dist.setup.js
  libs/@guardian/source-development-kitchen/package.json
  libs/@guardian/source/jest.dist.setup.js
  libs/@guardian/source/package.json
Owners: @guardian/client-side-infra

Reduce circle radius to avoid clipping
  libs/@guardian/source-react-components/src/icons/SvgSpinner.tsx
Owners: @guardian/client-side-infra, @guardian/source

.github/CODEOWNERS:

# If you would like to be notified about changes in particular part of this repo,
# please add your team to a path in a PR.

# N.B. This file is matched from top down; the last matching pattern has the most precedence.
# So if a file is matched by multiple patterns, the last pattern that matches will be used.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# By default all files are owned by these teams:
* 																@guardian/client-side-infra

/.changeset/ 													@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity @guardian/source @guardian/transparency-consent

/libs/@guardian/source-foundations/ 							@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components/ 						@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components-development-kitchen/ 	@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-foundations/ 				@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-react-components/ 			@guardian/client-side-infra @guardian/source

/libs/@guardian/browserlist-config/  							@guardian/client-side-infra @guardian/dotcom-platform

/libs/@guardian/libs/ 											@guardian/client-side-infra @guardian/apps-rendering @guardian/dotcom-platform
/libs/@guardian/libs/src/consent-management-platform/ 			@guardian/client-side-infra @guardian/transparency-consent

/libs/@guardian/identity-auth-frontend/ 						@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity

/libs/@guardian/identity-auth/ 									@guardian/client-side-infra @guardian/identity
