Repository guardian/csnx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent, @guardian/apps-rendering

Use native `fetch` in `libs` tests (#1356)
  libs/@guardian/libs/jest.config.ts
  libs/@guardian/libs/jest.testEnvironment.js
  libs/@guardian/libs/src/consent-management-platform/index.test.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.test.js
  libs/@guardian/libs/src/consent-management-platform/vendors.test.js
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform, @guardian/transparency-consent

use `endsWith`
  libs/@guardian/design-tokens/tokens.config.js
Owners: @guardian/client-side-infra

use `||` instead of `??`
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.tsx
Owners: @guardian/client-side-infra, @guardian/source

remove wireit from `newsletter-types`
  libs/@guardian/newsletter-types/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

Narrow as possible types for spacing values
  libs/@guardian/source-foundations/src/utils/convert-value.ts
Owners: @guardian/client-side-infra, @guardian/source

Add a changeset
  .changeset/long-rice-exist.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Narrow the type of space-related objects in source-foundations (#1346)
  .changeset/long-rice-exist.md
  libs/@guardian/source-foundations/src/utils/convert-value.ts
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Fix linting errors
  libs/@guardian/source-foundations/src/_deprecated/typography/storybookTypographyRenderers.tsx
Owners: @guardian/client-side-infra, @guardian/source

Add note about getting assistance to changelog
  .changeset/silly-coins-approve.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Update wording in changelog
  .changeset/silly-coins-approve.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Test typography preset canary release
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source

Use foundations canary release in all packages
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source

Update button and checkbox to use presets
  libs/@guardian/source-react-components/src/button/styles.ts
  libs/@guardian/source-react-components/src/checkbox/styles.ts
Owners: @guardian/client-side-infra, @guardian/source

Remove local copy of foundations from path
  tsconfig.base.json
Owners: @guardian/client-side-infra

Update to latest canary release
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source

Fix invalid TS config
  tsconfig.base.json
Owners: @guardian/client-side-infra

Update to latest canary
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source

Update remaining component to use presets
  libs/@guardian/source-react-components/src/accordion/styles.ts
  libs/@guardian/source-react-components/src/choice-card/styles.ts
  libs/@guardian/source-react-components/src/footer/styles.ts
  libs/@guardian/source-react-components/src/label/styles.ts
  libs/@guardian/source-react-components/src/link/styles.ts
  libs/@guardian/source-react-components/src/radio/styles.ts
  libs/@guardian/source-react-components/src/select/styles.ts
  libs/@guardian/source-react-components/src/text-area/styles.ts
  libs/@guardian/source-react-components/src/text-input/styles.ts
  libs/@guardian/source-react-components/src/user-feedback/styles.ts
Owners: @guardian/client-side-infra, @guardian/source

Update to latest canary release
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source

Introduce web typography presets (#1335)
  .changeset/silly-coins-approve.md
  Makefile
  README.md
  libs/@guardian/design-tokens/src/tokens.json
  libs/@guardian/design-tokens/tokens.d.ts
  libs/@guardian/design-tokens/tokens.js
  libs/@guardian/design-tokens/variables.css
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/scripts/build-type-presets.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/api.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/data.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/font-styles.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/index.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/obj/index.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/obj/typography.obj.test.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/storybookTypographyRenderers.tsx
  libs/@guardian/source-foundations/src/_deprecated/typography/types.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/typography.test.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/typographyDeprecated.mdx
  libs/@guardian/source-foundations/src/_deprecated/typography/typographyDeprecated.stories.tsx
  libs/@guardian/source-foundations/src/deprecated-exports.ts
  libs/@guardian/source-foundations/src/index.test.ts
  libs/@guardian/source-foundations/src/index.ts
  libs/@guardian/source-foundations/src/tokens.test.ts
  libs/@guardian/source-foundations/src/typography/index.ts
  libs/@guardian/source-foundations/src/typography/stories/TypographyPresets.tsx
  libs/@guardian/source-foundations/src/typography/stories/typography.mdx
  libs/@guardian/source-foundations/src/typography/stories/typography.stories.tsx
  libs/@guardian/source-foundations/src/typography/types.ts
  libs/@guardian/source-foundations/src/utils/convert-value.test.ts
  libs/@guardian/source-foundations/src/utils/convert-value.ts
  libs/@guardian/source-foundations/vendor/typography/css.ts
  libs/@guardian/source-foundations/vendor/typography/objects.ts
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

remove `@nx/cypress` and build `github-pages` to local `dist`
  .github/workflows/github-pages.yml
  Makefile
  README.md
  apps/github-pages/astro.config.mjs
  apps/github-pages/package.json
  libs/@guardian/libs/package.json
  nx.json
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform

fix `identity-auth` linting
  libs/@guardian/identity-auth/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/identity

update tests
  libs/@guardian/source-foundations/codemods/updateTypographyPresets.js
Owners: @guardian/client-side-infra, @guardian/source

Remove `@nx/cypress` (#1360)
  .github/workflows/github-pages.yml
  Makefile
  README.md
  apps/github-pages/astro.config.mjs
  apps/github-pages/package.json
  libs/@guardian/libs/package.json
  nx.json
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform

Fix `identity-auth` linting (#1361)
  libs/@guardian/identity-auth/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/identity

Add article presets
  libs/@guardian/design-tokens/src/tokens.json
  libs/@guardian/design-tokens/tokens.d.ts
  libs/@guardian/design-tokens/tokens.js
  libs/@guardian/design-tokens/variables.css
  libs/@guardian/source-foundations/src/index.test.ts
  libs/@guardian/source-foundations/src/tokens.test.ts
  libs/@guardian/source-foundations/vendor/typography/css.ts
  libs/@guardian/source-foundations/vendor/typography/objects.ts
Owners: @guardian/client-side-infra, @guardian/source

Add changeset
  .changeset/breezy-keys-smell.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Amend changelog
  libs/@guardian/source-foundations/CHANGELOG.md
Owners: @guardian/client-side-infra, @guardian/source

use `projectRoot`/`workspaceRoot` in build configs
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-react/package.json
  libs/@guardian/browserslist-config/package.json
  libs/@guardian/cobalt-plugin-ts/package.json
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/design-tokens/package.json
  libs/@guardian/eslint-config-typescript/package.json
  libs/@guardian/eslint-config/package.json
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/libs/package.json
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/prettier/package.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/tsconfig/package.json
Owners: @guardian/client-side-infra, @guardian/source, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/apps-rendering

remove ommcnet
  tsconfig.base.json
Owners: @guardian/client-side-infra

add reminder to remove `@nx/jest`
  configs/jest.config.ts
Owners: @guardian/client-side-infra

WIP
  configs/README.md
  configs/jest.config.ts
  jest.config.ts
  jest.preset.js
  libs/@guardian/ab-core/jest.config.ts
  libs/@guardian/ab-react/jest.config.ts
  libs/@guardian/browserslist-config/jest.config.js
  libs/@guardian/browserslist-config/jest.config.ts
  libs/@guardian/core-web-vitals/jest.config.ts
  libs/@guardian/eslint-config-typescript/jest.config.js
  libs/@guardian/eslint-config-typescript/jest.config.ts
  libs/@guardian/eslint-config/jest.config.js
  libs/@guardian/eslint-config/jest.config.ts
  libs/@guardian/eslint-plugin-source-foundations/jest.config.ts
  libs/@guardian/eslint-plugin-source-react-components/jest.config.ts
  libs/@guardian/identity-auth-frontend/jest.config.ts
  libs/@guardian/identity-auth-frontend/src/index.test.ts
  libs/@guardian/identity-auth/jest.config.ts
  libs/@guardian/identity-auth/package.json
  libs/@guardian/libs/jest.config.ts
  libs/@guardian/newsletter-types/jest.config.ts
  libs/@guardian/prettier/jest.config.js
  libs/@guardian/prettier/jest.config.ts
  libs/@guardian/source-react-components-development-kitchen/jest.config.ts
  libs/@guardian/source-react-components/package.json
  libs/@guardian/tsconfig/jest.config.js
  libs/@guardian/tsconfig/jest.config.ts
  pnpm-lock.yaml
  tsconfig.base.json
Owners: @guardian/client-side-infra, @guardian/source, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/apps-rendering

use jest directly for dev tasks
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-react/package.json
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/libs/package.json
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
Owners: @guardian/client-side-infra, @guardian/source, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/apps-rendering

amend package.json to use npm scripts to run jest for test and verify-dist
  Makefile
  README.md
  libs/@guardian/ab-core/jest.dist.setup.ts
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-react/jest.dist.setup.ts
  libs/@guardian/ab-react/package.json
  libs/@guardian/core-web-vitals/jest.dist.setup.ts
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/eslint-config-typescript/package.json
  libs/@guardian/eslint-config/package.json
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/identity-auth-frontend/jest.dist.setup.ts
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth/jest.dist.setup.ts
  libs/@guardian/libs/jest.dist.setup.js
  libs/@guardian/libs/jest.dist.setup.ts
  libs/@guardian/libs/package.json
  libs/@guardian/newsletter-types/jest.config.ts
  libs/@guardian/newsletter-types/jest.dist.setup.js
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
Owners: @guardian/client-side-infra, @guardian/source, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/apps-rendering

add types to jest config
  configs/jest.config.ts
Owners: @guardian/client-side-infra

fixes for verify-dist using jest directly.
  libs/@guardian/ab-core/package.json
  libs/@guardian/browserslist-config/jest.config.ts
  libs/@guardian/browserslist-config/package.json
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/eslint-config-typescript/jest.config.ts
  libs/@guardian/eslint-config/jest.config.ts
  libs/@guardian/libs/package.json
  libs/@guardian/prettier/package.json
  libs/@guardian/tsconfig/jest.config.ts
  libs/@guardian/tsconfig/package.json
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform

type jest configs
  libs/@guardian/ab-core/jest.config.ts
  libs/@guardian/ab-react/jest.config.ts
  libs/@guardian/browserslist-config/jest.config.ts
  libs/@guardian/core-web-vitals/jest.config.ts
  libs/@guardian/eslint-config-typescript/jest.config.ts
  libs/@guardian/eslint-config/jest.config.ts
  libs/@guardian/eslint-plugin-source-foundations/jest.config.ts
  libs/@guardian/eslint-plugin-source-react-components/jest.config.ts
  libs/@guardian/identity-auth-frontend/jest.config.ts
  libs/@guardian/identity-auth/jest.config.ts
  libs/@guardian/libs/jest.config.ts
  libs/@guardian/prettier/jest.config.ts
  libs/@guardian/source-foundations/jest.config.ts
  libs/@guardian/source-react-components-development-kitchen/jest.config.ts
  libs/@guardian/source-react-components/jest.config.ts
  libs/@guardian/tsconfig/jest.config.ts
Owners: @guardian/client-side-infra, @guardian/source, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/apps-rendering

Building development kitchen in the package without declaration files yet
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components-development-kitchen/vite.config.mjs
  pnpm-lock.yaml
  tsconfig.base.json
Owners: @guardian/client-side-infra, @guardian/source

Make children flush with container
  libs/@guardian/source-react-components/src/inline/Inline.tsx
  libs/@guardian/source-react-components/src/inline/styles.ts
Owners: @guardian/client-side-infra, @guardian/source

Generate multiple item example
  libs/@guardian/source-react-components/src/inline/Inline.stories.tsx
Owners: @guardian/client-side-infra, @guardian/source

.github/CODEOWNERS:

# If you would like to be notified about changes in particular part of this repo,
# please add your team to a path in a PR.

# N.B. This file is matched from top down; the last matching pattern has the most precedence.
# So if a file is matched by multiple patterns, the last pattern that matches will be used.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# By default all files are owned by these teams:
* 																@guardian/client-side-infra

/.changeset/ 													@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity @guardian/source @guardian/transparency-consent

/libs/@guardian/source-foundations/ 							@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components/ 						@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components-development-kitchen/ 	@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-foundations/ 				@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-react-components/ 			@guardian/client-side-infra @guardian/source

/libs/@guardian/browserlist-config/  							@guardian/client-side-infra @guardian/dotcom-platform

/libs/@guardian/libs/ 											@guardian/client-side-infra @guardian/apps-rendering @guardian/dotcom-platform
/libs/@guardian/libs/src/consent-management-platform/ 			@guardian/client-side-infra @guardian/transparency-consent

/libs/@guardian/identity-auth-frontend/ 						@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity

/libs/@guardian/identity-auth/ 									@guardian/client-side-infra @guardian/identity
