Repository guardian/csnx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent, @guardian/apps-rendering

Update stories to better show layout and spacing
  libs/@guardian/source-react-components/src/inline/Inline.stories.tsx
Owners: @guardian/client-side-infra, @guardian/source

Update stories and docs
  libs/@guardian/source-react-components/src/inline/Inline.stories.tsx
  libs/@guardian/source-react-components/src/inline/Inline.tsx
Owners: @guardian/client-side-infra, @guardian/source

Add generic Space type based on foundations
  libs/@guardian/source-react-components/src/@types/Space.ts
  libs/@guardian/source-react-components/src/inline/@types/InlineSpace.ts
  libs/@guardian/source-react-components/src/inline/Inline.stories.tsx
  libs/@guardian/source-react-components/src/inline/Inline.tsx
  libs/@guardian/source-react-components/src/inline/styles.ts
Owners: @guardian/client-side-infra, @guardian/source

Add changeset
  .changeset/early-rocks-run.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

bump pnpm
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

bump pnpm to v9 (#1371)
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

adding types to build
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components-development-kitchen/vite.config.mjs
Owners: @guardian/client-side-infra, @guardian/source

Update getConsentState.ts
  libs/@guardian/libs/src/consent-management-platform/usnat/getConsentState.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Added usnat to consent state
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

build only esm packages
  tools/nx-plugins/npm-package/build/index.ts
  tools/nx-plugins/npm-package/build/set-package-defaults.ts
Owners: @guardian/client-side-infra

add changeset
  .changeset/dull-ghosts-protect.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

bump `@guardian/eslint-plugin-source-react-components` too
  .changeset/dull-ghosts-protect.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Revert "bump pnpm to v9 (#1371)"
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

Revert "bump pnpm to v9" (#1373)
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

Requires curly braces in all circumstances
  .changeset/pretty-poets-smash.md
  libs/@guardian/ab-core/src/fixture.ts
  libs/@guardian/ab-core/src/ophan.ts
  libs/@guardian/ab-react/src/context.test.tsx
  libs/@guardian/cobalt-plugin-ts/index.mjs
  libs/@guardian/core-web-vitals/src/index.ts
  libs/@guardian/eslint-config/index.js
  libs/@guardian/eslint-plugin-source-foundations/src/rules/no-star-imports-or-exports.ts
  libs/@guardian/eslint-plugin-source-foundations/src/rules/valid-import-path.ts
  libs/@guardian/eslint-plugin-source-react-components/src/rules/valid-import-path.ts
  libs/@guardian/libs/src/consent-management-platform/index.ts
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.test.js
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
  libs/@guardian/libs/src/cookies/getCookie.ts
  libs/@guardian/libs/src/datetime/timeAgo.ts
  libs/@guardian/libs/src/locale/getLocale.ts
  libs/@guardian/libs/src/performance/log.ts
  libs/@guardian/libs/src/storage/storage.ts
  libs/@guardian/source-foundations/lib/jest-matchers/toBeValidCSS.ts
  libs/@guardian/source-foundations/lib/jest-matchers/toMatchCSS.ts
  libs/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/ExpandingWrapper.tsx
  libs/@guardian/source-react-components-development-kitchen/src/file-input/FileInput.tsx
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent, @guardian/apps-rendering

Requires curly braces in all circumstances in the eslint config (#1374)
  .changeset/pretty-poets-smash.md
  libs/@guardian/ab-core/src/fixture.ts
  libs/@guardian/ab-core/src/ophan.ts
  libs/@guardian/ab-react/src/context.test.tsx
  libs/@guardian/cobalt-plugin-ts/index.mjs
  libs/@guardian/core-web-vitals/src/index.ts
  libs/@guardian/eslint-config/index.js
  libs/@guardian/eslint-plugin-source-foundations/src/rules/no-star-imports-or-exports.ts
  libs/@guardian/eslint-plugin-source-foundations/src/rules/valid-import-path.ts
  libs/@guardian/eslint-plugin-source-react-components/src/rules/valid-import-path.ts
  libs/@guardian/libs/src/consent-management-platform/index.ts
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.test.js
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
  libs/@guardian/libs/src/cookies/getCookie.ts
  libs/@guardian/libs/src/datetime/timeAgo.ts
  libs/@guardian/libs/src/locale/getLocale.ts
  libs/@guardian/libs/src/performance/log.ts
  libs/@guardian/libs/src/storage/storage.ts
  libs/@guardian/source-foundations/lib/jest-matchers/toBeValidCSS.ts
  libs/@guardian/source-foundations/lib/jest-matchers/toMatchCSS.ts
  libs/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/ExpandingWrapper.tsx
  libs/@guardian/source-react-components-development-kitchen/src/file-input/FileInput.tsx
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent, @guardian/apps-rendering

refactor(timeAgo): format code more pleasingly
  libs/@guardian/libs/src/datetime/timeAgo.ts
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform

refactor(ab-core): smaller, clearer code
  libs/@guardian/ab-core/src/fixture.ts
Owners: @guardian/client-side-infra

bump `@guardian/eslint-config-typescript` too
  .changeset/pretty-poets-smash.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

chore: add changesets
  .changeset/odd-jobs-flow.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

bump `@guardian/eslint-config-typescript` too (#1378)
  .changeset/pretty-poets-smash.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

chore: add changesets
  .changeset/short-mirrors-doubt.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Refactor `ab-core` for clearer intent (#1377)
  .changeset/odd-jobs-flow.md
  libs/@guardian/ab-core/src/fixture.ts
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

trigger CI
  README.md
Owners: @guardian/client-side-infra

Revert "trigger CI"
  README.md
Owners: @guardian/client-side-infra

adding article to code mod
  libs/@guardian/source-foundations/codemods/updateTypographyPresets.js
Owners: @guardian/client-side-infra, @guardian/source

Migrate PR from old CMP
  libs/@guardian/libs/src/consent-management-platform/ccpa/__fixtures__/api.getGPPData.canSell.json
  libs/@guardian/libs/src/consent-management-platform/ccpa/__fixtures__/api.getGPPData.doNotSell.json
  libs/@guardian/libs/src/consent-management-platform/ccpa/__fixtures__/api.getGPPData.fail.json
  libs/@guardian/libs/src/consent-management-platform/ccpa/api.test.js
  libs/@guardian/libs/src/consent-management-platform/ccpa/api.ts
  libs/@guardian/libs/src/consent-management-platform/ccpa/getConsentState.test.js
  libs/@guardian/libs/src/consent-management-platform/ccpa/getConsentState.ts
  libs/@guardian/libs/src/consent-management-platform/lib/sourcepointConfig.ts
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.test.js
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.test.js
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/stub.ts
  libs/@guardian/libs/src/consent-management-platform/stub_gpp_ccpa.js
  libs/@guardian/libs/src/consent-management-platform/stub_gpp_usnat.js
  libs/@guardian/libs/src/consent-management-platform/types/ccpa.ts
  libs/@guardian/libs/src/consent-management-platform/types/window.d.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

comment out uspData
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.test.js
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Update sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

WIP: Separate token exports
  libs/@guardian/cobalt-plugin-ts/index.mjs
  libs/@guardian/design-tokens/src/tokens.json
  libs/@guardian/design-tokens/tokens.d.ts
  libs/@guardian/design-tokens/tokens.js
  libs/@guardian/design-tokens/variables.css
  libs/@guardian/source-foundations/scripts/build-type-presets.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/data.ts
  libs/@guardian/source-foundations/src/breakpoints/breakpoints.ts
  libs/@guardian/source-foundations/src/colour/palette.ts
  libs/@guardian/source-foundations/src/size/size.ts
  libs/@guardian/source-foundations/src/space/space.ts
  libs/@guardian/source-foundations/src/typography/stories/TypographyPresets.tsx
Owners: @guardian/client-side-infra, @guardian/source

Update window.d.ts
  libs/@guardian/libs/src/consent-management-platform/types/window.d.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

update palette export
  libs/@guardian/source-foundations/src/colour/palette.ts
Owners: @guardian/client-side-infra, @guardian/source

added changeset
  .changeset/bright-vans-sin.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Reformat `timeAgo` code for consistency (#1376)
  .changeset/short-mirrors-doubt.md
  libs/@guardian/libs/src/datetime/timeAgo.ts
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent, @guardian/apps-rendering

prettier fix
  libs/@guardian/source-foundations/src/_deprecated/typography/data.ts
  libs/@guardian/source-foundations/src/size/size.ts
Owners: @guardian/client-side-infra, @guardian/source

update source-react-components to use workspace version of source foundations
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

update source-react-components to use workspace version of source foundations
  .changeset/fair-scissors-drive.md
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Update CHANGELOG.md
  libs/@guardian/libs/CHANGELOG.md
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform

Update CHANGELOG.md
  libs/@guardian/libs/CHANGELOG.md
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform

prettier fix
  libs/@guardian/libs/CHANGELOG.md
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform

.github/CODEOWNERS:

# If you would like to be notified about changes in particular part of this repo,
# please add your team to a path in a PR.

# N.B. This file is matched from top down; the last matching pattern has the most precedence.
# So if a file is matched by multiple patterns, the last pattern that matches will be used.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# By default all files are owned by these teams:
* 																@guardian/client-side-infra

/.changeset/ 													@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity @guardian/source @guardian/transparency-consent

/libs/@guardian/source-foundations/ 							@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components/ 						@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components-development-kitchen/ 	@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-foundations/ 				@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-react-components/ 			@guardian/client-side-infra @guardian/source

/libs/@guardian/browserlist-config/  							@guardian/client-side-infra @guardian/dotcom-platform

/libs/@guardian/libs/ 											@guardian/client-side-infra @guardian/apps-rendering @guardian/dotcom-platform
/libs/@guardian/libs/src/consent-management-platform/ 			@guardian/client-side-infra @guardian/transparency-consent

/libs/@guardian/identity-auth-frontend/ 						@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity

/libs/@guardian/identity-auth/ 									@guardian/client-side-infra @guardian/identity
