Repository guardian/csnx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent, @guardian/apps-rendering

not incremetnal anyway
  libs/@guardian/ab-core/tsconfig.json
  libs/@guardian/ab-react/tsconfig.json
  libs/@guardian/core-web-vitals/tsconfig.json
  libs/@guardian/eslint-plugin-source-foundations/tsconfig.json
  libs/@guardian/eslint-plugin-source-react-components/tsconfig.json
  libs/@guardian/identity-auth-frontend/tsconfig.json
  libs/@guardian/identity-auth/tsconfig.json
  libs/@guardian/libs/tsconfig.json
  libs/@guardian/newsletter-types/tsconfig.json
  libs/@guardian/source-foundations/tsconfig.json
  libs/@guardian/source-react-components-development-kitchen/tsconfig.json
  libs/@guardian/source-react-components/tsconfig.json
Owners: @guardian/client-side-infra, @guardian/source, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/apps-rendering

make `@types/eslint` an option peerdep
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

use rollup directly
  .eslintrc.cjs
  configs/package.json
  configs/rollup.config.js
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-core/rollup.config.js
  libs/@guardian/ab-react/package.json
  libs/@guardian/ab-react/rollup.config.js
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/core-web-vitals/rollup.config.js
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-foundations/rollup.config.js
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/eslint-plugin-source-react-components/rollup.config.js
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth-frontend/rollup.config.js
  libs/@guardian/identity-auth/package.json
  libs/@guardian/identity-auth/rollup.config.js
  libs/@guardian/libs/cypress/downloads/downloads.html
  libs/@guardian/libs/package.json
  libs/@guardian/libs/rollup.config.js
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/newsletter-types/rollup.config.js
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/rollup.config.js
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components-development-kitchen/rollup.config.js
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source-react-components/rollup.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @guardian/client-side-infra, @guardian/source, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/apps-rendering

add `preserveModulesRoot` and restrtucture config
  configs/rollup.config.js
Owners: @guardian/client-side-infra

correct react compoennts entry files
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

use object for rollup entry
  configs/rollup.config.js
  libs/@guardian/ab-react/tsconfig.json
Owners: @guardian/client-side-infra

ignore `configs` in changesets
  .changeset/config.json
  configs/package.json
  nx.json
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

`configs` is private
  configs/package.json
Owners: @guardian/client-side-infra

add changeset
  .changeset/smart-numbers-return.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Remove deprecated input reset style
  libs/@guardian/source-foundations/src/utils/resets.test.ts
  libs/@guardian/source-foundations/src/utils/resets.ts
Owners: @guardian/client-side-infra, @guardian/source

Add changeset
  .changeset/shy-buckets-obey.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Update changeset
  .changeset/shy-buckets-obey.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Remove deprecated input reset style (#1408)
  .changeset/shy-buckets-obey.md
  libs/@guardian/source-foundations/src/utils/resets.test.ts
  libs/@guardian/source-foundations/src/utils/resets.ts
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Remove dependency updates from changelogs
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components/CHANGELOG.md
Owners: @guardian/client-side-infra, @guardian/source

sotrybook needs design-tokens
  libs/@guardian/source-foundations/package.json
Owners: @guardian/client-side-infra, @guardian/source

`github-pages` depends on `libs`
  apps/github-pages/package.json
Owners: @guardian/client-side-infra

build tokens to `vendor`
  libs/@guardian/design-tokens/package.json
  libs/@guardian/design-tokens/src/tokens.json
  libs/@guardian/design-tokens/tokens.config.js
  libs/@guardian/design-tokens/vendor/tokens.d.ts
  libs/@guardian/design-tokens/vendor/tokens.js
  libs/@guardian/design-tokens/vendor/variables.css
Owners: @guardian/client-side-infra

make `@types/react` an optional peerDep
  libs/@guardian/ab-react/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

order exports from most to least specific
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-react/package.json
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth/package.json
  libs/@guardian/libs/package.json
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/apps-rendering

add note about fixing cypress failing in CI
  .github/actions/setup-node-env/action.yml
Owners: @guardian/client-side-infra

make `@types/eslint` an option peerdep
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

remove unessary config
  libs/@guardian/libs/tsconfig.json
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform

not incremetnal anyway
  libs/@guardian/ab-core/tsconfig.json
  libs/@guardian/ab-react/tsconfig.json
  libs/@guardian/core-web-vitals/tsconfig.json
  libs/@guardian/eslint-plugin-source-foundations/tsconfig.json
  libs/@guardian/eslint-plugin-source-react-components/tsconfig.json
  libs/@guardian/identity-auth-frontend/tsconfig.json
  libs/@guardian/identity-auth/tsconfig.json
  libs/@guardian/libs/tsconfig.json
  libs/@guardian/newsletter-types/tsconfig.json
  libs/@guardian/source-foundations/tsconfig.json
  libs/@guardian/source-react-components-development-kitchen/tsconfig.json
  libs/@guardian/source-react-components/tsconfig.json
Owners: @guardian/client-side-infra, @guardian/source, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/apps-rendering

remove ref to `prepare-for-changesets`
  .github/workflows/canaries.yml
Owners: @guardian/client-side-infra

use rollup directly
  .eslintrc.cjs
  configs/package.json
  configs/rollup.config.js
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-core/rollup.config.js
  libs/@guardian/ab-react/package.json
  libs/@guardian/ab-react/rollup.config.js
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/core-web-vitals/rollup.config.js
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-foundations/rollup.config.js
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/eslint-plugin-source-react-components/rollup.config.js
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth-frontend/rollup.config.js
  libs/@guardian/identity-auth/package.json
  libs/@guardian/identity-auth/rollup.config.js
  libs/@guardian/libs/cypress/downloads/downloads.html
  libs/@guardian/libs/package.json
  libs/@guardian/libs/rollup.config.js
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/newsletter-types/rollup.config.js
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/rollup.config.js
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components-development-kitchen/rollup.config.js
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source-react-components/rollup.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @guardian/client-side-infra, @guardian/source, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/apps-rendering

`configs` is private
  configs/package.json
Owners: @guardian/client-side-infra

add `preserveModulesRoot` and restrtucture config
  configs/rollup.config.js
Owners: @guardian/client-side-infra

use object for rollup entry
  configs/rollup.config.js
  libs/@guardian/ab-react/tsconfig.json
Owners: @guardian/client-side-infra

correct react compoennts entry files
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

ignore `configs` in changesets
  .changeset/config.json
  configs/package.json
  nx.json
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

use relative path
  libs/@guardian/source-foundations/src/typography/stories/typography.mdx
Owners: @guardian/client-side-infra, @guardian/source

ignore ts paths buidling storybooks
  .storybook/main.js
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source

bump `source-react-components` in dev kithcen
  libs/@guardian/libs/cypress/downloads/downloads.html
  libs/@guardian/source-react-components-development-kitchen/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform, @guardian/source

pin deps
  configs/package.json
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-react/package.json
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth/package.json
  libs/@guardian/libs/package.json
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/apps-rendering

these use the version in node_modules right now, no need to build
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

remove wierd line fo code
  libs/@guardian/source-foundations/src/typography/stories/typography.mdx
Owners: @guardian/client-side-infra, @guardian/source

fix chromatic pin version
  .github/workflows/chromatic.yml
Owners: @guardian/client-side-infra

chromatic pin version reverted
  .github/workflows/chromatic.yml
Owners: @guardian/client-side-infra

fix inmport paths
  libs/@guardian/source-react-components/src/accordion/AccordionRow.tsx
  libs/@guardian/source-react-components/src/accordion/AccordionRowNoJS.tsx
  libs/@guardian/source-react-components/src/button/Button.stories.tsx
  libs/@guardian/source-react-components/src/button/LinkButton.stories.tsx
  libs/@guardian/source-react-components/src/choice-card/ChoiceCard.stories.tsx
  libs/@guardian/source-react-components/src/footer/BackToTop.tsx
  libs/@guardian/source-react-components/src/icons/Icons.stories.tsx
  libs/@guardian/source-react-components/src/link/ButtonLink.stories.tsx
  libs/@guardian/source-react-components/src/link/Link.stories.tsx
  libs/@guardian/source-react-components/src/select/Select.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineError.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineSuccess.tsx
Owners: @guardian/client-side-infra, @guardian/source

lint fixes
  libs/@guardian/source-foundations/.eslintrc.cjs
  libs/@guardian/source-react-components-development-kitchen/.eslintrc.cjs
  libs/@guardian/source-react-components/.eslintrc.cjs
  libs/@guardian/source-react-components/src/accordion/AccordionRow.tsx
  libs/@guardian/source-react-components/src/accordion/AccordionRowNoJS.tsx
  libs/@guardian/source-react-components/src/icons/Icons.stories.tsx
Owners: @guardian/client-side-infra, @guardian/source

.github/CODEOWNERS:

# If you would like to be notified about changes in particular part of this repo,
# please add your team to a path in a PR.

# N.B. This file is matched from top down; the last matching pattern has the most precedence.
# So if a file is matched by multiple patterns, the last pattern that matches will be used.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# By default all files are owned by these teams:
* 																@guardian/client-side-infra

/.changeset/ 													@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity @guardian/source @guardian/transparency-consent

/libs/@guardian/source-foundations/ 							@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components/ 						@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components-development-kitchen/ 	@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-foundations/ 				@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-react-components/ 			@guardian/client-side-infra @guardian/source

/libs/@guardian/browserlist-config/  							@guardian/client-side-infra @guardian/dotcom-platform

/libs/@guardian/libs/ 											@guardian/client-side-infra @guardian/apps-rendering @guardian/dotcom-platform
/libs/@guardian/libs/src/consent-management-platform/ 			@guardian/client-side-infra @guardian/transparency-consent

/libs/@guardian/identity-auth-frontend/ 						@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity

/libs/@guardian/identity-auth/ 									@guardian/client-side-infra @guardian/identity
