Repository guardian/csnx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent, @guardian/apps-rendering

Update getConsentState.ts
  libs/@guardian/libs/src/consent-management-platform/usnat/getConsentState.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Update onConsentChange.ts
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

fixed tests
  libs/@guardian/libs/src/consent-management-platform/onConsent.test.ts
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.enhanced.test.ts
  libs/@guardian/libs/src/consent-management-platform/types/usnat.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Clean up PR
  libs/@guardian/libs/src/consent-management-platform/lib/sourcepointConfig.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/stub.ts
  libs/@guardian/libs/src/consent-management-platform/types/index.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

remove cmpStatus
  libs/@guardian/libs/src/consent-management-platform/onConsent.test.ts
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.enhanced.test.ts
  libs/@guardian/libs/src/consent-management-platform/types/usnat.ts
  libs/@guardian/libs/src/consent-management-platform/usnat/getConsentState.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Fixed tests
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.ts
  libs/@guardian/libs/src/consent-management-platform/usnat/__fixtures__/api.getGPPData.canSell.json
  libs/@guardian/libs/src/consent-management-platform/usnat/__fixtures__/api.getGPPData.doNotSell.json
  libs/@guardian/libs/src/consent-management-platform/usnat/__fixtures__/api.getGPPData.fail.json
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Update sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Update getConsentState.test.js
  libs/@guardian/libs/src/consent-management-platform/usnat/getConsentState.test.js
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Do not enable `incremental` in `@guardian/tsconfig` (#1392)
  .changeset/wet-llamas-camp.md
  libs/@guardian/tsconfig/tsconfig.json
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Update to major
  .changeset/slimy-lobsters-jump.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Upgrade to latest version of foundations
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source

Update deprecated imports in Link story
  libs/@guardian/source-react-components/src/link/Link.stories.tsx
Owners: @guardian/client-side-infra, @guardian/source

Replace uses of typography API with presets
  libs/@guardian/source-react-components/src/accordion/styles.ts
  libs/@guardian/source-react-components/src/button/styles.ts
  libs/@guardian/source-react-components/src/checkbox/styles.ts
  libs/@guardian/source-react-components/src/choice-card/styles.ts
  libs/@guardian/source-react-components/src/footer/styles.ts
  libs/@guardian/source-react-components/src/label/styles.ts
  libs/@guardian/source-react-components/src/link/styles.ts
  libs/@guardian/source-react-components/src/radio/styles.ts
  libs/@guardian/source-react-components/src/select/styles.ts
  libs/@guardian/source-react-components/src/text-area/styles.ts
  libs/@guardian/source-react-components/src/text-input/styles.ts
  libs/@guardian/source-react-components/src/user-feedback/styles.ts
Owners: @guardian/client-side-infra, @guardian/source

Bump `@guardian/source-foundations` version
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source

Update Source components to use typography presets (#1370)
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source-react-components/src/accordion/styles.ts
  libs/@guardian/source-react-components/src/button/styles.ts
  libs/@guardian/source-react-components/src/checkbox/styles.ts
  libs/@guardian/source-react-components/src/choice-card/styles.ts
  libs/@guardian/source-react-components/src/footer/styles.ts
  libs/@guardian/source-react-components/src/label/styles.ts
  libs/@guardian/source-react-components/src/link/Link.stories.tsx
  libs/@guardian/source-react-components/src/link/styles.ts
  libs/@guardian/source-react-components/src/radio/styles.ts
  libs/@guardian/source-react-components/src/select/styles.ts
  libs/@guardian/source-react-components/src/text-area/styles.ts
  libs/@guardian/source-react-components/src/text-input/styles.ts
  libs/@guardian/source-react-components/src/user-feedback/styles.ts
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source

Add changeset for `@guardian/source-react-components`
  .changeset/gentle-lamps-provide.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Change to major release
  libs/@guardian/source-react-components/CHANGELOG.md
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

Updated release notes
  .changeset/slimy-lobsters-jump.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

add changeset
  .changeset/shaggy-bobcats-yell.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Update slimy-lobsters-jump.md
  .changeset/slimy-lobsters-jump.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Replace typography API uses with presets
  libs/@guardian/source-react-components-development-kitchen/src/age-warning/AgeWarning.tsx
  libs/@guardian/source-react-components-development-kitchen/src/divider/Divider.tsx
  libs/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/styles.ts
  libs/@guardian/source-react-components-development-kitchen/src/file-input/styles.ts
  libs/@guardian/source-react-components-development-kitchen/src/footer-with-contents/footerLinksStyles.ts
  libs/@guardian/source-react-components-development-kitchen/src/footer-with-contents/footerWithContentsStyles.ts
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/sharedStyles.ts
  libs/@guardian/source-react-components-development-kitchen/src/summary/styles.ts
  libs/@guardian/source-react-components-development-kitchen/src/tabs/styles.ts
  libs/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/styles.ts
Owners: @guardian/client-side-infra, @guardian/source

Add changeset
  .changeset/old-zebras-divide.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Update to latest version of `@guardian/source-react-components`
  libs/@guardian/source-react-components-development-kitchen/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source

Update to latest version of `@guardian/source-foundations`
  libs/@guardian/source-react-components-development-kitchen/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source

Update Source Development Kitchen components to use typography presets (#1394)
  .changeset/old-zebras-divide.md
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components-development-kitchen/src/age-warning/AgeWarning.tsx
  libs/@guardian/source-react-components-development-kitchen/src/divider/Divider.tsx
  libs/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/styles.ts
  libs/@guardian/source-react-components-development-kitchen/src/file-input/styles.ts
  libs/@guardian/source-react-components-development-kitchen/src/footer-with-contents/footerLinksStyles.ts
  libs/@guardian/source-react-components-development-kitchen/src/footer-with-contents/footerWithContentsStyles.ts
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/sharedStyles.ts
  libs/@guardian/source-react-components-development-kitchen/src/summary/styles.ts
  libs/@guardian/source-react-components-development-kitchen/src/tabs/styles.ts
  libs/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/styles.ts
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

add changeset
  .changeset/thirty-shrimps-perform.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

`ab-react` is not an emotion project
  libs/@guardian/ab-react/package.json
  libs/@guardian/ab-react/tsconfig.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

default consents for 11 is false (#1391)
  .changeset/shaggy-bobcats-yell.md
  libs/@guardian/libs/src/consent-management-platform/tcfv2/__fixtures__/api.getTCData.json
  libs/@guardian/libs/src/consent-management-platform/tcfv2/getConsentState.test.js
  libs/@guardian/libs/src/consent-management-platform/tcfv2/getConsentState.ts
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

fix CMP cypress test
  libs/@guardian/libs/cypress/e2e/consent-management-platform/sourcepoint-tcfv2.cy.js
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform

ignore cypress downloads
  .gitignore
Owners: @guardian/client-side-infra

Fix CMP cypress tests (#1409)
  .gitignore
  libs/@guardian/libs/cypress/e2e/consent-management-platform/sourcepoint-tcfv2.cy.js
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform

Improve `Inline` layout spacing (#1369)
  .changeset/early-rocks-run.md
  libs/@guardian/source-react-components/src/@types/Space.ts
  libs/@guardian/source-react-components/src/inline/@types/InlineSpace.ts
  libs/@guardian/source-react-components/src/inline/Inline.stories.tsx
  libs/@guardian/source-react-components/src/inline/Inline.tsx
  libs/@guardian/source-react-components/src/inline/styles.ts
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

sotrybook needs design-tokens
  libs/@guardian/source-foundations/package.json
Owners: @guardian/client-side-infra, @guardian/source

`github-pages` depends on `libs`
  apps/github-pages/package.json
Owners: @guardian/client-side-infra

order exports from most to least specific
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-react/package.json
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth/package.json
  libs/@guardian/libs/package.json
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/apps-rendering

build tokens to `vendor`
  libs/@guardian/design-tokens/package.json
  libs/@guardian/design-tokens/src/tokens.json
  libs/@guardian/design-tokens/tokens.config.js
  libs/@guardian/design-tokens/vendor/tokens.d.ts
  libs/@guardian/design-tokens/vendor/tokens.js
  libs/@guardian/design-tokens/vendor/variables.css
Owners: @guardian/client-side-infra

make `@types/react` an optional peerDep
  libs/@guardian/ab-react/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

add note about fixing cypress failing in CI
  .github/actions/setup-node-env/action.yml
Owners: @guardian/client-side-infra

remove unessary config
  libs/@guardian/libs/tsconfig.json
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform

remove ref to `prepare-for-changesets`
  .github/workflows/canaries.yml
Owners: @guardian/client-side-infra

.github/CODEOWNERS:

# If you would like to be notified about changes in particular part of this repo,
# please add your team to a path in a PR.

# N.B. This file is matched from top down; the last matching pattern has the most precedence.
# So if a file is matched by multiple patterns, the last pattern that matches will be used.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# By default all files are owned by these teams:
* 																@guardian/client-side-infra

/.changeset/ 													@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity @guardian/source @guardian/transparency-consent

/libs/@guardian/source-foundations/ 							@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components/ 						@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components-development-kitchen/ 	@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-foundations/ 				@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-react-components/ 			@guardian/client-side-infra @guardian/source

/libs/@guardian/browserlist-config/  							@guardian/client-side-infra @guardian/dotcom-platform

/libs/@guardian/libs/ 											@guardian/client-side-infra @guardian/apps-rendering @guardian/dotcom-platform
/libs/@guardian/libs/src/consent-management-platform/ 			@guardian/client-side-infra @guardian/transparency-consent

/libs/@guardian/identity-auth-frontend/ 						@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity

/libs/@guardian/identity-auth/ 									@guardian/client-side-infra @guardian/identity
