Repository guardian/csnx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent, @guardian/apps-rendering

udpate esmodules changeset
  .changeset/lovely-moose-thank.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Update esmodules changeset (#1428)
  .changeset/lovely-moose-thank.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

dont bump `design-tokens`
  .changeset/lovely-moose-thank.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Do not publish `design-tokens` (#1429)
  .changeset/lovely-moose-thank.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Update CHANGELOG.md
  libs/@guardian/eslint-plugin-source-foundations/CHANGELOG.md
Owners: @guardian/client-side-infra, @guardian/source

Update CHANGELOG.md
  libs/@guardian/eslint-plugin-source-react-components/CHANGELOG.md
Owners: @guardian/client-side-infra, @guardian/source

Update CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
Owners: @guardian/client-side-infra, @guardian/source

Update CHANGELOG.md
  libs/@guardian/source-react-components/CHANGELOG.md
Owners: @guardian/client-side-infra, @guardian/source

Changed ccpadata to ausdata
  libs/@guardian/libs/src/consent-management-platform/aus/api.ts
  libs/@guardian/libs/src/consent-management-platform/types/aus.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Stop exporting GPPSignalStatus
  libs/@guardian/libs/src/consent-management-platform/types/usnat.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

AUSData
  libs/@guardian/libs/src/consent-management-platform/types/window.d.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Update test
  libs/@guardian/libs/src/consent-management-platform/onConsent.test.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Update index.ts
  libs/@guardian/libs/src/consent-management-platform/types/index.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

try single source package again
  .changeset/popular-pumas-draw.md
  Makefile
  README.md
  libs/@guardian/source/foundations/package.json
  libs/@guardian/source/foundations/src
  libs/@guardian/source/package.json
  libs/@guardian/source/react-components/package.json
  libs/@guardian/source/react-components/src
  libs/@guardian/source/rollup.config.js
  libs/@guardian/source/test.ts
  libs/@guardian/source/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

lint fixes
  .changeset/popular-pumas-draw.md
  README.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

include sub packages
  libs/@guardian/source/package.json
Owners: @guardian/client-side-infra

standardise layout
  README.md
  libs/@guardian/source-foundations/src/utils/__generated__
  libs/@guardian/source-foundations/src/utils/_deprecated
  libs/@guardian/source-foundations/src/utils/accessibility
  libs/@guardian/source-foundations/src/utils/animation
  libs/@guardian/source-foundations/src/utils/breakpoints
  libs/@guardian/source-foundations/src/utils/colour
  libs/@guardian/source-foundations/src/utils/deprecated-exports.ts
  libs/@guardian/source-foundations/src/utils/index.test.ts
  libs/@guardian/source-foundations/src/utils/index.ts
  libs/@guardian/source-foundations/src/utils/mq
  libs/@guardian/source-foundations/src/utils/size
  libs/@guardian/source-foundations/src/utils/space
  libs/@guardian/source-foundations/src/utils/tokens.test.ts
  libs/@guardian/source-foundations/src/utils/typography
  libs/@guardian/source/foundations/package.json
  libs/@guardian/source/foundations/src
  libs/@guardian/source/react-components/package.json
  libs/@guardian/source/react-components/src
  libs/@guardian/source/rollup.config.js
  libs/@guardian/source/src/foundations
  libs/@guardian/source/src/react-components
Owners: @guardian/client-side-infra, @guardian/source

remove accidents
  libs/@guardian/source-foundations/src/utils/__generated__
  libs/@guardian/source-foundations/src/utils/_deprecated
  libs/@guardian/source-foundations/src/utils/accessibility
  libs/@guardian/source-foundations/src/utils/animation
  libs/@guardian/source-foundations/src/utils/breakpoints
  libs/@guardian/source-foundations/src/utils/colour
  libs/@guardian/source-foundations/src/utils/deprecated-exports.ts
  libs/@guardian/source-foundations/src/utils/index.test.ts
  libs/@guardian/source-foundations/src/utils/index.ts
  libs/@guardian/source-foundations/src/utils/mq
  libs/@guardian/source-foundations/src/utils/size
  libs/@guardian/source-foundations/src/utils/space
  libs/@guardian/source-foundations/src/utils/tokens.test.ts
  libs/@guardian/source-foundations/src/utils/typography
Owners: @guardian/client-side-infra, @guardian/source

make rollup config configurable
  README.md
  configs/rollup.config.js
  libs/@guardian/source/package.json
  libs/@guardian/source/rollup.config.js
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

bump node to `20.13.1`
  .nvmrc
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

bump node to `20.13.1` (#1436)
  .nvmrc
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

try single source package again
  .changeset/popular-pumas-draw.md
  Makefile
  README.md
  libs/@guardian/source/foundations/package.json
  libs/@guardian/source/foundations/src
  libs/@guardian/source/package.json
  libs/@guardian/source/react-components/package.json
  libs/@guardian/source/react-components/src
  libs/@guardian/source/rollup.config.js
  libs/@guardian/source/test.ts
  libs/@guardian/source/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

lint fixes
  .changeset/popular-pumas-draw.md
  README.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

standardise layout
  README.md
  libs/@guardian/source-foundations/src/utils/__generated__
  libs/@guardian/source-foundations/src/utils/_deprecated
  libs/@guardian/source-foundations/src/utils/accessibility
  libs/@guardian/source-foundations/src/utils/animation
  libs/@guardian/source-foundations/src/utils/breakpoints
  libs/@guardian/source-foundations/src/utils/colour
  libs/@guardian/source-foundations/src/utils/deprecated-exports.ts
  libs/@guardian/source-foundations/src/utils/index.test.ts
  libs/@guardian/source-foundations/src/utils/index.ts
  libs/@guardian/source-foundations/src/utils/mq
  libs/@guardian/source-foundations/src/utils/size
  libs/@guardian/source-foundations/src/utils/space
  libs/@guardian/source-foundations/src/utils/tokens.test.ts
  libs/@guardian/source-foundations/src/utils/typography
  libs/@guardian/source/foundations/package.json
  libs/@guardian/source/foundations/src
  libs/@guardian/source/react-components/package.json
  libs/@guardian/source/react-components/src
  libs/@guardian/source/rollup.config.js
  libs/@guardian/source/src/foundations
  libs/@guardian/source/src/react-components
Owners: @guardian/client-side-infra, @guardian/source

include sub packages
  libs/@guardian/source/package.json
Owners: @guardian/client-side-infra

remove accidents
  libs/@guardian/source-foundations/src/utils/__generated__
  libs/@guardian/source-foundations/src/utils/_deprecated
  libs/@guardian/source-foundations/src/utils/accessibility
  libs/@guardian/source-foundations/src/utils/animation
  libs/@guardian/source-foundations/src/utils/breakpoints
  libs/@guardian/source-foundations/src/utils/colour
  libs/@guardian/source-foundations/src/utils/deprecated-exports.ts
  libs/@guardian/source-foundations/src/utils/index.test.ts
  libs/@guardian/source-foundations/src/utils/index.ts
  libs/@guardian/source-foundations/src/utils/mq
  libs/@guardian/source-foundations/src/utils/size
  libs/@guardian/source-foundations/src/utils/space
  libs/@guardian/source-foundations/src/utils/tokens.test.ts
  libs/@guardian/source-foundations/src/utils/typography
Owners: @guardian/client-side-infra, @guardian/source

make rollup config configurable
  README.md
  configs/rollup.config.js
  libs/@guardian/source/package.json
  libs/@guardian/source/rollup.config.js
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

ifx config jsdoc
  configs/rollup.config.js
Owners: @guardian/client-side-infra

update rollup base config
  configs/rollup.config.js
Owners: @guardian/client-side-infra

fix tsconfig
  libs/@guardian/source/tsconfig.json
Owners: @guardian/client-side-infra

Add storybooks to new single source package.
  Makefile
  README.md
  apps/storybooks/.storybook/main.js
  libs/@guardian/source/.storybook/main.js
  libs/@guardian/source/.storybook/manager.ts
  libs/@guardian/source/.storybook/preview-head.html
  libs/@guardian/source/.storybook/preview.tsx
  libs/@guardian/source/.storybook/preview/FocusManagerDecorator.tsx
  libs/@guardian/source/.storybook/preview/ThemeProviderDecorator.tsx
  libs/@guardian/source/.storybook/preview/backgrounds.ts
  libs/@guardian/source/.storybook/preview/viewport.ts
  libs/@guardian/source/.storybook/theme.ts
  libs/@guardian/source/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

Add linting fixing testing to single source package.
  Makefile
  README.md
  libs/@guardian/source/.eslintrc.cjs
  libs/@guardian/source/.storybook/preview/FocusManagerDecorator.tsx
  libs/@guardian/source/jest.config.js
  libs/@guardian/source/jest.dist.setup.js
  libs/@guardian/source/lib/jest-matchers/@types/index.d.ts
  libs/@guardian/source/lib/jest-matchers/toBeValidCSS.ts
  libs/@guardian/source/lib/jest-matchers/toMatchCSS.ts
  libs/@guardian/source/package.json
  libs/@guardian/source/rollup.config.js
  libs/@guardian/source/test.ts
  libs/@guardian/source/tsconfig.json
  libs/@guardian/source/tsconfig.spec.json
Owners: @guardian/client-side-infra

Added scripts and dependencies to single source package.
  Makefile
  README.md
  libs/@guardian/source/package.json
  libs/@guardian/source/scripts/build-type-presets.ts
  libs/@guardian/source/scripts/create-icons/README.md
  libs/@guardian/source/scripts/create-icons/create-icon-component.ts
  libs/@guardian/source/scripts/create-icons/create-readme.ts
  libs/@guardian/source/scripts/create-icons/get-svgs-from-figma.ts
  libs/@guardian/source/scripts/create-icons/index.ts
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

Add eslint plugin for source
  libs/@guardian/source/eslint-plugin/package.json
  libs/@guardian/source/package.json
  libs/@guardian/source/rollup.config.js
  libs/@guardian/source/src/eslint-plugin/index.ts
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

Update `neutral.38` and add `neutral.73` to palette
  libs/@guardian/design-tokens/src/__generated__/tokens.d.ts
  libs/@guardian/design-tokens/src/__generated__/tokens.js
  libs/@guardian/design-tokens/src/__generated__/variables.css
  libs/@guardian/design-tokens/src/tokens.json
Owners: @guardian/client-side-infra

Add changeset
  .changeset/many-olives-kneel.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Update sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

fix tokens test
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/src/tokens.test.ts
Owners: @guardian/client-side-infra, @guardian/source

restructure design tokens build output and make tokens.json a build input
  libs/@guardian/design-tokens/__generated__/tokens.d.ts
  libs/@guardian/design-tokens/__generated__/tokens.js
  libs/@guardian/design-tokens/__generated__/variables.css
  libs/@guardian/design-tokens/package.json
  libs/@guardian/design-tokens/tokens.config.js
  libs/@guardian/design-tokens/tokens.json
  libs/@guardian/source-foundations/package.json
Owners: @guardian/client-side-infra, @guardian/source

fix tokens test (#1443)
  libs/@guardian/design-tokens/__generated__/tokens.d.ts
  libs/@guardian/design-tokens/__generated__/tokens.js
  libs/@guardian/design-tokens/__generated__/variables.css
  libs/@guardian/design-tokens/package.json
  libs/@guardian/design-tokens/tokens.config.js
  libs/@guardian/design-tokens/tokens.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/src/tokens.test.ts
Owners: @guardian/client-side-infra, @guardian/source

.github/CODEOWNERS:

# If you would like to be notified about changes in particular part of this repo,
# please add your team to a path in a PR.

# N.B. This file is matched from top down; the last matching pattern has the most precedence.
# So if a file is matched by multiple patterns, the last pattern that matches will be used.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# By default all files are owned by these teams:
* 																@guardian/client-side-infra

/.changeset/ 													@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity @guardian/source @guardian/transparency-consent

/libs/@guardian/source-foundations/ 							@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components/ 						@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components-development-kitchen/ 	@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-foundations/ 				@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-react-components/ 			@guardian/client-side-infra @guardian/source

/libs/@guardian/browserlist-config/  							@guardian/client-side-infra @guardian/dotcom-platform

/libs/@guardian/libs/ 											@guardian/client-side-infra @guardian/apps-rendering @guardian/dotcom-platform
/libs/@guardian/libs/src/consent-management-platform/ 			@guardian/client-side-infra @guardian/transparency-consent

/libs/@guardian/identity-auth-frontend/ 						@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity

/libs/@guardian/identity-auth/ 									@guardian/client-side-infra @guardian/identity
