Repository guardian/csnx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent, @guardian/apps-rendering

Add types to plugin
  libs/@guardian/cobalt-plugin-ts/index.mjs
Owners: @guardian/client-side-infra

Update getConsentState.ts
  libs/@guardian/libs/src/consent-management-platform/ccpa/getConsentState.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Update sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

remove changeset source react components
  .changeset/fair-scissors-drive.md
  README.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Update getConsentState.ts
  libs/@guardian/libs/src/consent-management-platform/usnat/getConsentState.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

revert changes to source-react-components
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

revert changes to source-react-components
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

fix readme
  README.md
Owners: @guardian/client-side-infra

fixed lint issues
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.test.js
  libs/@guardian/libs/src/consent-management-platform/usnat/api.test.js
  libs/@guardian/libs/src/consent-management-platform/usnat/getConsentState.test.js
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Create slimy-lobsters-jump.md
  .changeset/slimy-lobsters-jump.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Update Design Tokens package to export multiple objects (#1380)
  .changeset/bright-vans-sin.md
  libs/@guardian/cobalt-plugin-ts/index.mjs
  libs/@guardian/design-tokens/src/tokens.json
  libs/@guardian/design-tokens/tokens.d.ts
  libs/@guardian/design-tokens/tokens.js
  libs/@guardian/design-tokens/variables.css
  libs/@guardian/source-foundations/scripts/build-type-presets.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/data.ts
  libs/@guardian/source-foundations/src/breakpoints/breakpoints.ts
  libs/@guardian/source-foundations/src/colour/palette.ts
  libs/@guardian/source-foundations/src/size/size.ts
  libs/@guardian/source-foundations/src/space/space.ts
  libs/@guardian/source-foundations/src/typography/stories/TypographyPresets.tsx
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

patch fix colour palette
  .changeset/dry-cows-poke.md
  libs/@guardian/source-foundations/src/colour/palette.ts
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

patch fix colour palette
  .changeset/dry-cows-poke.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

patch fix colour palette (#1383)
  .changeset/dry-cows-poke.md
  libs/@guardian/source-foundations/src/colour/palette.ts
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Update sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Update sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Update sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Update sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

default consents for 11 is false
  libs/@guardian/libs/src/consent-management-platform/tcfv2/__fixtures__/api.getTCData.json
  libs/@guardian/libs/src/consent-management-platform/tcfv2/getConsentState.test.js
  libs/@guardian/libs/src/consent-management-platform/tcfv2/getConsentState.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

add new space tokens
  libs/@guardian/design-tokens/src/tokens.json
Owners: @guardian/client-side-infra

Update sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Update getConsentState.ts
  libs/@guardian/libs/src/consent-management-platform/usnat/getConsentState.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

do not enable `incremental` in base tsconfig
  .changeset/wet-llamas-camp.md
  libs/@guardian/tsconfig/tsconfig.json
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

make `@types/react` an optional peerDep
  libs/@guardian/ab-react/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

sotrybook needs design-tokens
  libs/@guardian/source-foundations/package.json
Owners: @guardian/client-side-infra, @guardian/source

build tokens to `vendor`
  libs/@guardian/design-tokens/package.json
  libs/@guardian/design-tokens/src/tokens.json
  libs/@guardian/design-tokens/tokens.config.js
  libs/@guardian/design-tokens/vendor/tokens.d.ts
  libs/@guardian/design-tokens/vendor/tokens.js
  libs/@guardian/design-tokens/vendor/variables.css
Owners: @guardian/client-side-infra

not incremetnal anyway
  libs/@guardian/ab-core/tsconfig.json
  libs/@guardian/ab-react/tsconfig.json
  libs/@guardian/core-web-vitals/tsconfig.json
  libs/@guardian/eslint-plugin-source-foundations/tsconfig.json
  libs/@guardian/eslint-plugin-source-react-components/tsconfig.json
  libs/@guardian/identity-auth-frontend/tsconfig.json
  libs/@guardian/identity-auth/tsconfig.json
  libs/@guardian/libs/tsconfig.json
  libs/@guardian/newsletter-types/tsconfig.json
  libs/@guardian/source-foundations/tsconfig.json
  libs/@guardian/source-react-components-development-kitchen/tsconfig.json
  libs/@guardian/source-react-components/tsconfig.json
Owners: @guardian/client-side-infra, @guardian/source, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/apps-rendering

`github-pages` depends on `libs`
  apps/github-pages/package.json
Owners: @guardian/client-side-infra

add note about fixing cypress failing in CI
  .github/actions/setup-node-env/action.yml
Owners: @guardian/client-side-infra

remove unessary config
  libs/@guardian/libs/tsconfig.json
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform

order exports from most to least specific
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-react/package.json
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth/package.json
  libs/@guardian/libs/package.json
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/apps-rendering

make `@types/eslint` an option peerdep
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

remove ref to `prepare-for-changesets`
  .github/workflows/canaries.yml
Owners: @guardian/client-side-infra

Update stories and docs
  libs/@guardian/source-react-components/src/inline/Inline.stories.tsx
  libs/@guardian/source-react-components/src/inline/Inline.tsx
Owners: @guardian/client-side-infra, @guardian/source

Add generic Space type based on foundations
  libs/@guardian/source-react-components/src/@types/Space.ts
  libs/@guardian/source-react-components/src/inline/@types/InlineSpace.ts
  libs/@guardian/source-react-components/src/inline/Inline.stories.tsx
  libs/@guardian/source-react-components/src/inline/Inline.tsx
  libs/@guardian/source-react-components/src/inline/styles.ts
Owners: @guardian/client-side-infra, @guardian/source

Add changeset
  .changeset/early-rocks-run.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Generate multiple item example
  libs/@guardian/source-react-components/src/inline/Inline.stories.tsx
Owners: @guardian/client-side-infra, @guardian/source

Update stories to better show layout and spacing
  libs/@guardian/source-react-components/src/inline/Inline.stories.tsx
Owners: @guardian/client-side-infra, @guardian/source

Make children flush with container
  libs/@guardian/source-react-components/src/inline/Inline.tsx
  libs/@guardian/source-react-components/src/inline/styles.ts
Owners: @guardian/client-side-infra, @guardian/source

Update usnat.ts
  libs/@guardian/libs/src/consent-management-platform/types/usnat.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

.github/CODEOWNERS:

# If you would like to be notified about changes in particular part of this repo,
# please add your team to a path in a PR.

# N.B. This file is matched from top down; the last matching pattern has the most precedence.
# So if a file is matched by multiple patterns, the last pattern that matches will be used.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# By default all files are owned by these teams:
* 																@guardian/client-side-infra

/.changeset/ 													@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity @guardian/source @guardian/transparency-consent

/libs/@guardian/source-foundations/ 							@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components/ 						@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components-development-kitchen/ 	@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-foundations/ 				@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-react-components/ 			@guardian/client-side-infra @guardian/source

/libs/@guardian/browserlist-config/  							@guardian/client-side-infra @guardian/dotcom-platform

/libs/@guardian/libs/ 											@guardian/client-side-infra @guardian/apps-rendering @guardian/dotcom-platform
/libs/@guardian/libs/src/consent-management-platform/ 			@guardian/client-side-infra @guardian/transparency-consent

/libs/@guardian/identity-auth-frontend/ 						@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity

/libs/@guardian/identity-auth/ 									@guardian/client-side-infra @guardian/identity
