Repository guardian/csnx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent, @guardian/apps-rendering

Add object style example
  libs/@guardian/source-foundations/src/typography/stories/typography.mdx
Owners: @guardian/client-side-infra, @guardian/source

use `ConsentFramework` and `OnConsentChangeCallback` throughout
  libs/@guardian/libs/src/consent-management-platform/cmp.ts
  libs/@guardian/libs/src/consent-management-platform/getCurrentFramework.ts
  libs/@guardian/libs/src/consent-management-platform/getFramework.ts
  libs/@guardian/libs/src/consent-management-platform/onConsent.test.ts
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.enhanced.test.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/stub.ts
  libs/@guardian/libs/src/consent-management-platform/types/index.ts
  libs/@guardian/libs/src/consent-management-platform/types/window.d.ts
  libs/@guardian/libs/src/consent-management-platform/vendorDataManager.test.ts
  libs/@guardian/libs/src/index.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent, @guardian/apps-rendering, @guardian/dotcom-platform

Refine `wireit` storybooks setup (#1333)
  apps/storybooks/.storybook/main.js
  apps/storybooks/package.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/source

Remove article and kicker presets
  libs/@guardian/design-tokens/src/tokens.json
  libs/@guardian/design-tokens/tokens.d.ts
  libs/@guardian/design-tokens/tokens.js
  libs/@guardian/design-tokens/variables.css
  libs/@guardian/source-foundations/src/index.test.ts
  libs/@guardian/source-foundations/src/tokens.test.ts
  libs/@guardian/source-foundations/vendor/typography/css.ts
  libs/@guardian/source-foundations/vendor/typography/objects.ts
Owners: @guardian/client-side-infra, @guardian/source

Copied all changes in CMP repo
  libs/@guardian/libs/src/consent-management-platform/ccpa/__fixtures__/api.getGPPData.fail.json
  libs/@guardian/libs/src/consent-management-platform/ccpa/__fixtures__/api.getGPPData.success.json
  libs/@guardian/libs/src/consent-management-platform/ccpa/api.ts
  libs/@guardian/libs/src/consent-management-platform/ccpa/getConsentState.ts
  libs/@guardian/libs/src/consent-management-platform/cmp.ts
  libs/@guardian/libs/src/consent-management-platform/lib/sourcepointConfig.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.test.js
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/stub.ts
  libs/@guardian/libs/src/consent-management-platform/stub_gpp_ccpa.js
  libs/@guardian/libs/src/consent-management-platform/types/ccpa.ts
  libs/@guardian/libs/src/consent-management-platform/types/window.d.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

updated all tests
  libs/@guardian/libs/src/consent-management-platform/ccpa/api.test.js
  libs/@guardian/libs/src/consent-management-platform/ccpa/getConsentState.test.js
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.test.js
Owners: @guardian/client-side-infra, @guardian/transparency-consent

added usnat and using instead of ccpa
  libs/@guardian/libs/src/consent-management-platform/cmp.ts
  libs/@guardian/libs/src/consent-management-platform/getFramework.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/types/index.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Test mapping of presets to typography API
  libs/@guardian/source-foundations/src/typography/preset.test.ts
Owners: @guardian/client-side-infra, @guardian/source

Update mapping to account for default weight
  libs/@guardian/source-foundations/src/typography/preset.test.ts
Owners: @guardian/client-side-infra, @guardian/source

Remove article and kicker presets
  libs/@guardian/source-foundations/src/typography/preset.test.ts
Owners: @guardian/client-side-infra, @guardian/source

WIP
  libs/@guardian/source-foundations/codemods/updateTypographyPresets.js
Owners: @guardian/client-side-infra, @guardian/source

Update docs to remove article and kicker
  libs/@guardian/source-foundations/src/typography/stories/typography.mdx
Owners: @guardian/client-side-infra, @guardian/source

Update link to mapping example in changelog
  .changeset/silly-coins-approve.md
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/identity, @guardian/source, @guardian/transparency-consent

Added all mapping
  libs/@guardian/source-foundations/codemods/updateTypographyPresets.js
Owners: @guardian/client-side-infra, @guardian/source

Added todo comment
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Fixed stub name
  libs/@guardian/libs/src/consent-management-platform/stub.ts
  libs/@guardian/libs/src/consent-management-platform/stub_gpp_usnat.js
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Update ccpa to usnat
  libs/@guardian/libs/src/consent-management-platform/aus/api.ts
  libs/@guardian/libs/src/consent-management-platform/ccpa/getConsentState.test.js
  libs/@guardian/libs/src/consent-management-platform/ccpa/getConsentState.ts
  libs/@guardian/libs/src/consent-management-platform/cmp.ts
  libs/@guardian/libs/src/consent-management-platform/lib/sourcepointConfig.ts
  libs/@guardian/libs/src/consent-management-platform/onConsent.test.ts
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.enhanced.test.ts
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.test.js
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.ts
  libs/@guardian/libs/src/consent-management-platform/types/index.ts
  libs/@guardian/libs/src/consent-management-platform/types/usnat.ts
  libs/@guardian/libs/src/consent-management-platform/types/window.d.ts
  libs/@guardian/libs/src/consent-management-platform/usnat/__fixtures__/api.getGPPData.canSell.json
  libs/@guardian/libs/src/consent-management-platform/usnat/__fixtures__/api.getGPPData.doNotSell.json
  libs/@guardian/libs/src/consent-management-platform/usnat/__fixtures__/api.getGPPData.fail.json
  libs/@guardian/libs/src/consent-management-platform/usnat/__fixtures__/api.getUSPData.json
  libs/@guardian/libs/src/consent-management-platform/usnat/api.test.js
  libs/@guardian/libs/src/consent-management-platform/usnat/api.ts
  libs/@guardian/libs/src/consent-management-platform/usnat/getConsentState.test.js
  libs/@guardian/libs/src/consent-management-platform/usnat/getConsentState.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Update ccpa to usnat
  libs/@guardian/libs/src/consent-management-platform/onConsent.test.ts
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.enhanced.test.ts
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Updating from ccpa to usnat
  libs/@guardian/libs/src/consent-management-platform/getFramework.test.js
  libs/@guardian/libs/src/consent-management-platform/index.test.ts
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.enhanced.test.ts
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.test.js
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.test.js
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Update lint
  libs/@guardian/libs/src/consent-management-platform/aus/api.ts
  libs/@guardian/libs/src/consent-management-platform/types/aus.ts
  libs/@guardian/libs/src/consent-management-platform/types/index.ts
  libs/@guardian/libs/src/consent-management-platform/types/usnat.ts
  libs/@guardian/libs/src/consent-management-platform/types/window.d.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Mark object style exports as deprecated
  libs/@guardian/source-foundations/src/_deprecated/typography/api.ts
Owners: @guardian/client-side-infra, @guardian/source

Added all mapping
  libs/@guardian/source-foundations/codemods/updateTypographyPresets.js
Owners: @guardian/client-side-infra, @guardian/source

fix for errors when not imported
  libs/@guardian/source-foundations/codemods/updateTypographyPresets.js
Owners: @guardian/client-side-infra, @guardian/source

Update story types and imports
  libs/@guardian/source-foundations/src/_deprecated/typography/storybookTypographyRenderers.tsx
  libs/@guardian/source-foundations/src/_deprecated/typography/typographyDeprecated.mdx
  libs/@guardian/source-foundations/src/_deprecated/typography/typographyDeprecated.stories.tsx
Owners: @guardian/client-side-infra, @guardian/source

Rename object style exports so names are unique
  libs/@guardian/source-foundations/src/_deprecated/typography/api.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/index.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/obj/index.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/obj/typography.obj.test.ts
  libs/@guardian/source-foundations/src/deprecated-exports.ts
Owners: @guardian/client-side-infra, @guardian/source

if the parameter is set to
  libs/@guardian/source-foundations/codemods/updateTypographyPresets.js
Owners: @guardian/client-side-infra, @guardian/source

Use foundations canary release in all packages
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/source

update comments
  libs/@guardian/source-foundations/codemods/updateTypographyPresets.js
Owners: @guardian/client-side-infra, @guardian/source

WIP
  libs/@guardian/source-foundations/codemods/updateTypographyPresets.js
Owners: @guardian/client-side-infra, @guardian/source

WIP
  libs/@guardian/source-foundations/codemods/updateTypographyPresets.js
Owners: @guardian/client-side-infra, @guardian/source

WIP
  libs/@guardian/source-foundations/codemods/updateTypographyPresets.js
Owners: @guardian/client-side-infra, @guardian/source

Replace ccpa with usnat
  apps/github-pages/src/components/CmpTest.svelte
Owners: @guardian/client-side-infra

Working version of CodeMod
  libs/@guardian/source-foundations/codemods/updateTypographyPresets.js
Owners: @guardian/client-side-infra, @guardian/source

update tests
  libs/@guardian/source-foundations/codemods/typography-test.js
  libs/@guardian/source-foundations/codemods/typography-test.ts
Owners: @guardian/client-side-infra, @guardian/source

Account for different apis
  libs/@guardian/libs/src/consent-management-platform/usnat/getConsentState.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Updated interfaces
  libs/@guardian/libs/src/consent-management-platform/types/usnat.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Updating tests
  libs/@guardian/libs/src/consent-management-platform/usnat/__fixtures__/api.getGPPData.canSell.json
  libs/@guardian/libs/src/consent-management-platform/usnat/__fixtures__/api.getGPPData.doNotSell.json
  libs/@guardian/libs/src/consent-management-platform/usnat/__fixtures__/api.getGPPData.fail.json
Owners: @guardian/client-side-infra, @guardian/transparency-consent

Update getConsentState.ts
  libs/@guardian/libs/src/consent-management-platform/usnat/getConsentState.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

use native fetch lin `libs` tests
  libs/@guardian/libs/jest.config.ts
  libs/@guardian/libs/jest.testEnvironment.js
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.test.js
  libs/@guardian/libs/src/consent-management-platform/vendors.test.js
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform, @guardian/transparency-consent

don't log the actual warning in CMP tests
  libs/@guardian/libs/src/consent-management-platform/index.test.ts
Owners: @guardian/client-side-infra, @guardian/transparency-consent

.github/CODEOWNERS:

# If you would like to be notified about changes in particular part of this repo,
# please add your team to a path in a PR.

# N.B. This file is matched from top down; the last matching pattern has the most precedence.
# So if a file is matched by multiple patterns, the last pattern that matches will be used.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# By default all files are owned by these teams:
* 																@guardian/client-side-infra

/.changeset/ 													@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity @guardian/source @guardian/transparency-consent

/libs/@guardian/source-foundations/ 							@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components/ 						@guardian/client-side-infra @guardian/source
/libs/@guardian/source-react-components-development-kitchen/ 	@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-foundations/ 				@guardian/client-side-infra @guardian/source
/libs/@guardian/eslint-plugin-source-react-components/ 			@guardian/client-side-infra @guardian/source

/libs/@guardian/browserlist-config/  							@guardian/client-side-infra @guardian/dotcom-platform

/libs/@guardian/libs/ 											@guardian/client-side-infra @guardian/apps-rendering @guardian/dotcom-platform
/libs/@guardian/libs/src/consent-management-platform/ 			@guardian/client-side-infra @guardian/transparency-consent

/libs/@guardian/identity-auth-frontend/ 						@guardian/client-side-infra @guardian/dotcom-platform @guardian/commercial-dev @guardian/identity

/libs/@guardian/identity-auth/ 									@guardian/client-side-infra @guardian/identity
