Repository guardian/csnx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/source, @guardian/apps-rendering

.github/CODEOWNERS:

# if you would like to be notified about changes in particular part of this repo,

# please add yourself in a PR

* @guardian/client-side-infra

libs/@guardian/atoms-rendering/* @guardian/dotcom-platform @guardian/commercial-dev @guardian/client-side-infra

libs/@guardian/source-foundations/* @guardian/source
libs/@guardian/source-react-components/* @guardian/source
libs/@guardian/source-react-components-development-kitchen/* @guardian/source
libs/@guardian/eslint-plugin-source-foundations/* @guardian/source
libs/@guardian/eslint-plugin-source-react-components/* @guardian/source

libs/@guardian/tsconfig/* @guardian/client-side-infra
libs/@guardian/prettier/* @guardian/client-side-infra
libs/@guardian/eslint-config/* @guardian/client-side-infra
libs/@guardian/eslint-config-typescript/* @guardian/client-side-infra
libs/@guardian/browserlist-config/*  @guardian/client-side-infra @guardian/dotcom-platform
libs/@guardian/libs/* @guardian/client-side-infra @guardian/apps-rendering @guardian/dotcom-platform

Use @types/react v18.2.0
  libs/@guardian/ab-react/package.json
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/source

Update package versions, change logs and lock file
  .changeset/modern-paws-attend.md
  libs/@guardian/atoms-rendering/CHANGELOG.md
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/source-foundations/CHANGELOG.md
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/CHANGELOG.md
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/source

Use @types/react v18.2.0 (#525)
  libs/@guardian/ab-react/package.json
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/source

Move ambient types to ar project
  @types/window.d.ts
  libs/@guardian/atoms-rendering/youtube.d.ts
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev

move youtube globals to global window declaration
  @types/window.d.ts
  libs/@guardian/atoms-rendering/youtube.d.ts
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev

Fix incorrect package versions
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Owners: @guardian/source

Bump package versions and dependencies
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/client-side-infra, @guardian/source

Update change logs and lock file
  libs/@guardian/atoms-rendering/CHANGELOG.md
  libs/@guardian/eslint-plugin-source-foundations/CHANGELOG.md
  libs/@guardian/eslint-plugin-source-react-components/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components/CHANGELOG.md
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/client-side-infra, @guardian/source

Add conditionals for window.google
  .changeset/moody-hairs-shave.md
  libs/@guardian/atoms-rendering/src/YoutubeAtomPlayer.tsx
Owners: @guardian/client-side-infra

create basic script
  tools/scripts/update-packages.js
Owners: @guardian/client-side-infra

Use tabs
  tools/scripts/update-packages.js
Owners: @guardian/client-side-infra

Move atoms-rendering window types to root (#524)
  .changeset/moody-hairs-shave.md
  @types/window.d.ts
  libs/@guardian/atoms-rendering/src/YoutubeAtomPlayer.tsx
Owners: @guardian/client-side-infra

Add to make scripts
  Makefile
  README.md
  pnpm-lock.yaml
  tools/scripts/update-packages.mjs
Owners: @guardian/client-side-infra

Add description
  Makefile
  README.md
Owners: @guardian/client-side-infra

Remove GPT comments
  tools/scripts/update-packages.mjs
Owners: @guardian/client-side-infra

Remove deleted package versions from change logs
  libs/@guardian/atoms-rendering/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components/CHANGELOG.md
Owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/client-side-infra, @guardian/source

Create basic script to bump @guardian packages across csnx
  Makefile
  README.md
  tools/scripts/update-packages.mjs
Owners: @guardian/client-side-infra

add update changelog script
  package.json
  pnpm-lock.yaml
  tools/scripts/update-changelog.js
Owners: @guardian/client-side-infra

move rl into function
  tools/scripts/update-changelog.js
Owners: @guardian/client-side-infra

Add script to increment package versions
  pnpm-lock.yaml
  tools/scripts/check-for-deps-updates.js
Owners: @guardian/client-side-infra

Add missing icons to accessible label lookup
  libs/@guardian/source-react-components/src/icons/labels.ts
Owners: @guardian/client-side-infra

Update README
  libs/@guardian/source-react-components/scripts/README.md
Owners: @guardian/client-side-infra

Add changeset
  .changeset/old-mugs-sip.md
Owners: @guardian/client-side-infra

Remove unpublished package versions from change logs (#531)
  libs/@guardian/atoms-rendering/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components/CHANGELOG.md
Owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/client-side-infra, @guardian/source

Add deps script
  tools/scripts/get-dependency-changes.js
Owners: @guardian/client-side-infra

Update `create-icons` accessible label list (#517)
  .changeset/old-mugs-sip.md
  libs/@guardian/source-react-components/scripts/README.md
  libs/@guardian/source-react-components/src/icons/labels.ts
Owners: @guardian/client-side-infra

move dependencies
  package.json
Owners: @guardian/client-side-infra

feat(cwv): pure JavaScript
  .changeset/cool-wolves-rule.md
  libs/@guardian/core-web-vitals/project.json
  libs/@guardian/core-web-vitals/src/@types/CoreWebVitalsPayload.ts
  libs/@guardian/core-web-vitals/src/index.js
  libs/@guardian/core-web-vitals/src/index.test.ts
  libs/@guardian/core-web-vitals/src/roundWithDecimals.js
  libs/@guardian/core-web-vitals/src/roundWithDecimals.ts
  libs/@guardian/core-web-vitals/tsconfig.json
  tools/nx-plugins/npm-package/build/index.ts
  tsconfig.base.json
Owners: @guardian/client-side-infra

chore: more consistent docs
  libs/@guardian/core-web-vitals/src/index.js
  libs/@guardian/core-web-vitals/src/roundWithDecimals.js
Owners: @guardian/client-side-infra

Fix readme
  libs/@guardian/atoms-rendering/CHANGELOG.md
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/eslint-plugin-source-react-components/CHANGELOG.md
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/package.json
Owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/client-side-infra, @guardian/source

Rename files as mjs
  Makefile
  pnpm-lock.yaml
  tools/scripts/update-guardian-packages/update-changelogs.mjs
  tools/scripts/update-guardian-packages/update-dependencies.mjs
  tools/scripts/update-guardian-packages/update-package-versions.mjs
Owners: @guardian/client-side-infra

tidy code
  package.json
  pnpm-lock.yaml
  tools/scripts/get-dependency-changes.js
  tools/scripts/update-guardian-packages/update-changelogs.mjs
  tools/scripts/update-guardian-packages/update-dependencies.mjs
  tools/scripts/update-guardian-packages/update-package-versions.mjs
Owners: @guardian/client-side-infra

Update @types/react-dom@18.2.3
  libs/@guardian/atoms-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/client-side-infra

Update @guardian/commercial-core@7.0.0
  libs/@guardian/atoms-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/client-side-infra

Update @guardian/consent-management-platform@13.0.2
  libs/@guardian/atoms-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/client-side-infra

Update atoms peer deps
  libs/@guardian/atoms-rendering/package.json
Owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/client-side-infra

Changeset
  .changeset/healthy-points-occur.md
Owners: @guardian/client-side-infra

Update nx and related deps
  apps/csnx/project.json
  libs/@csnx/hello-world/project.json
  libs/@guardian/ab-core/project.json
  libs/@guardian/ab-react/project.json
  libs/@guardian/atoms-rendering/project.json
  libs/@guardian/browserslist-config/project.json
  libs/@guardian/core-web-vitals/project.json
  libs/@guardian/eslint-config-typescript/project.json
  libs/@guardian/eslint-config/project.json
  libs/@guardian/eslint-plugin-source-foundations/project.json
  libs/@guardian/eslint-plugin-source-react-components/project.json
  libs/@guardian/libs/project.json
  libs/@guardian/prettier/project.json
  libs/@guardian/source-foundations/project.json
  libs/@guardian/source-react-components-development-kitchen/project.json
  libs/@guardian/source-react-components/project.json
  libs/@guardian/tsconfig/project.json
  nx.json
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/source, @guardian/apps-rendering

Fix labeler permissions
  .github/workflows/labeler.yml
Owners: @guardian/client-side-infra

Fix labeler permissions (#541)
  .github/workflows/labeler.yml
Owners: @guardian/client-side-infra
