Repository guardian/csnx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/source, @guardian/apps-rendering

.github/CODEOWNERS:

# if you would like to be notified about changes in particular part of this repo,

# please add yourself in a PR

* @guardian/client-side-infra

libs/@guardian/atoms-rendering/* @guardian/dotcom-platform @guardian/commercial-dev @guardian/client-side-infra

libs/@guardian/source-foundations/* @guardian/source
libs/@guardian/source-react-components/* @guardian/source
libs/@guardian/source-react-components-development-kitchen/* @guardian/source
libs/@guardian/eslint-plugin-source-foundations/* @guardian/source
libs/@guardian/eslint-plugin-source-react-components/* @guardian/source

libs/@guardian/tsconfig/* @guardian/client-side-infra
libs/@guardian/prettier/* @guardian/client-side-infra
libs/@guardian/eslint-config/* @guardian/client-side-infra
libs/@guardian/eslint-config-typescript/* @guardian/client-side-infra
libs/@guardian/browserlist-config/*  @guardian/client-side-infra @guardian/dotcom-platform
libs/@guardian/libs/* @guardian/client-side-infra @guardian/apps-rendering @guardian/dotcom-platform

Update nx and related deps (#540)
  apps/csnx/project.json
  libs/@csnx/hello-world/project.json
  libs/@guardian/ab-core/project.json
  libs/@guardian/ab-react/project.json
  libs/@guardian/atoms-rendering/project.json
  libs/@guardian/browserslist-config/project.json
  libs/@guardian/core-web-vitals/project.json
  libs/@guardian/eslint-config-typescript/project.json
  libs/@guardian/eslint-config/project.json
  libs/@guardian/eslint-plugin-source-foundations/project.json
  libs/@guardian/eslint-plugin-source-react-components/project.json
  libs/@guardian/libs/project.json
  libs/@guardian/prettier/project.json
  libs/@guardian/source-foundations/project.json
  libs/@guardian/source-react-components-development-kitchen/project.json
  libs/@guardian/source-react-components/project.json
  libs/@guardian/tsconfig/project.json
  nx.json
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/source, @guardian/apps-rendering

feat: introduce package-health check
  .github/workflows/ci.yml
  Makefile
  README.md
  tools/scripts/deno/package-health.ts
Owners: @guardian/client-side-infra

fix: address package health issues
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/eslint-config/package.json
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-react-components/package.json
  package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/client-side-infra, @guardian/source

wip
  .vscode/settings.json.default
  libs/@guardian/core-web-vitals/package.json
  package.json
  scripts/deno/deno.jsonc
  scripts/deno/deno.lock
  scripts/deno/dirs.ts
  scripts/deno/npm_package/copy_assets.ts
  scripts/deno/npm_package/mod.ts
  scripts/deno/npm_package/set_package_defaults.ts
  scripts/deno/npm_package/write_resolved_package_json.ts
Owners: @guardian/client-side-infra

refactor
  tools/nx-plugins/npm-package/build/write-resolved-package-json.ts
Owners: @guardian/client-side-infra

Use execa
  pnpm-lock.yaml
  tools/nx-plugins/npm-package/build/write-resolved-package-json.ts
  tools/nx-plugins/npm-package/package.json
Owners: @guardian/client-side-infra

try dependabot beta support for pnpm
  .github/dependabot.yml
  .github/renovate.json5.old
Owners: @guardian/client-side-infra

Try dependabot beta support for pnpm (#543)
  .github/dependabot.yml
  .github/renovate.json5.old
Owners: @guardian/client-side-infra

Update dependabot.yml
  .github/dependabot.yml
Owners: @guardian/client-side-infra

Update dependabot rebase strategy
  .github/dependabot.yml
Owners: @guardian/client-side-infra

Update dependabot rebase strategy (#556)
  .github/dependabot.yml
Owners: @guardian/client-side-infra

update storybook to 7.0.11
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

update storybook to 7.0.12 (#561)
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

Fix ci write permissions
  .github/workflows/changesets.yml
  .github/workflows/storybook.yml
Owners: @guardian/client-side-infra

Refactor build package to fix security issue (#553)
  pnpm-lock.yaml
  tools/nx-plugins/npm-package/build/write-resolved-package-json.ts
  tools/nx-plugins/npm-package/package.json
Owners: @guardian/client-side-infra

fix lockfile
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

Fix ci write permissions (#562)
  .github/workflows/changesets.yml
  .github/workflows/storybook.yml
Owners: @guardian/client-side-infra

Revert "Fix ci write permissions (#562)"
  .github/workflows/changesets.yml
  .github/workflows/storybook.yml
Owners: @guardian/client-side-infra

Revert "Fix ci write permissions" (#564)
  .github/workflows/changesets.yml
  .github/workflows/storybook.yml
Owners: @guardian/client-side-infra

auto rebase dependabot npm PRs
  .github/dependabot.yml
Owners: @guardian/client-side-infra

Move Jest from `hello-world` project to workspace root
  libs/@csnx/hello-world/package.json
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

Remove --all flag
  Makefile
Owners: @guardian/client-side-infra

Remove --all flag (#574)
  Makefile
Owners: @guardian/client-side-infra

Give contents write permissions
  .github/workflows/changesets.yml
  .github/workflows/storybook.yml
Owners: @guardian/client-side-infra

Add pr write
  .github/workflows/changesets.yml
  .github/workflows/storybook.yml
Owners: @guardian/client-side-infra

Move into individual jobs
  .github/workflows/changesets.yml
  .github/workflows/storybook.yml
Owners: @guardian/client-side-infra

Give write permissions to changesets and storybook actions (#575)
  .github/workflows/changesets.yml
  .github/workflows/storybook.yml
Owners: @guardian/client-side-infra

Add separate job for Dependabot PRs that skips Chromatic
  .github/workflows/ci.yml
Owners: @guardian/client-side-infra

Add Storybook build directory to Dependabot job
  .github/workflows/ci.yml
Owners: @guardian/client-side-infra

Remove Dependabot specific job and apply `skip` conditionally
  .github/workflows/ci.yml
Owners: @guardian/client-side-infra

Update Emotion packages
  libs/@guardian/ab-react/package.json
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/source

Update svgr packages
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Owners: @guardian/source, @guardian/client-side-infra

Update Emotion packages (#578)
  libs/@guardian/ab-react/package.json
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/source

Remove types stub
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Owners: @guardian/source, @guardian/client-side-infra

Update svgr packages (#579)
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Owners: @guardian/source, @guardian/client-side-infra

Echo value of github.actor
  .github/workflows/ci.yml
Owners: @guardian/client-side-infra

push
  .github/workflows/ci.yml
Owners: @guardian/client-side-infra

TEST: Output value of github.triggering_actor
  .github/workflows/ci.yml
Owners: @guardian/client-side-infra

TEST: Run Chromatic with `skip` for specific username
  .github/workflows/ci.yml
Owners: @guardian/client-side-infra

Detect Dependabot via `pull_request` event rather than `github.actor`
  .github/workflows/ci.yml
Owners: @guardian/client-side-infra
