Repository guardian/csnx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/source, @guardian/apps-rendering

.github/CODEOWNERS:

# if you would like to be notified about changes in particular part of this repo,

# please add yourself in a PR

* @guardian/client-side-infra

libs/@guardian/atoms-rendering/* @guardian/dotcom-platform @guardian/commercial-dev @guardian/client-side-infra

libs/@guardian/source-foundations/* @guardian/source
libs/@guardian/source-react-components/* @guardian/source
libs/@guardian/source-react-components-development-kitchen/* @guardian/source
libs/@guardian/eslint-plugin-source-foundations/* @guardian/source
libs/@guardian/eslint-plugin-source-react-components/* @guardian/source

libs/@guardian/tsconfig/* @guardian/client-side-infra
libs/@guardian/prettier/* @guardian/client-side-infra
libs/@guardian/eslint-config/* @guardian/client-side-infra
libs/@guardian/eslint-config-typescript/* @guardian/client-side-infra
libs/@guardian/browserlist-config/*  @guardian/client-side-infra @guardian/dotcom-platform
libs/@guardian/libs/* @guardian/client-side-infra @guardian/apps-rendering @guardian/dotcom-platform

Remove lint exceptions
  libs/@guardian/source-foundations/.eslintrc.js
Owners: @guardian/source

Migrate to storybook v7 (#507
  .babelrc.json
  .eslintrc.js
  .storybook/main.js
  apps/csnx/project.json
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/atoms-rendering/project.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/project.json
  libs/@guardian/source-foundations/src/colour/palette.stories.mdx
  libs/@guardian/source-foundations/src/colour/storybookColorPalette.tsx
  libs/@guardian/source-foundations/src/typography/typography.stories.mdx
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components-development-kitchen/project.json
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source-react-components/project.json
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/source

Minor bump to types packages
  libs/@guardian/atoms-rendering/package.json
  package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/client-side-infra

Update nx and packages to latest version
  apps/csnx/project.json
  libs/@csnx/hello-world/project.json
  libs/@guardian/ab-core/project.json
  libs/@guardian/ab-react/project.json
  libs/@guardian/atoms-rendering/project.json
  libs/@guardian/browserslist-config/project.json
  libs/@guardian/core-web-vitals/project.json
  libs/@guardian/eslint-config-typescript/project.json
  libs/@guardian/eslint-config/project.json
  libs/@guardian/eslint-plugin-source-foundations/project.json
  libs/@guardian/eslint-plugin-source-react-components/project.json
  libs/@guardian/libs/project.json
  libs/@guardian/prettier/project.json
  libs/@guardian/source-foundations/project.json
  libs/@guardian/source-react-components-development-kitchen/project.json
  libs/@guardian/source-react-components/project.json
  libs/@guardian/tsconfig/project.json
  package.json
  pnpm-lock.yaml
  tools/nx-plugins/eslint/package.json
  tools/nx-plugins/eslint/project.json
  tools/nx-plugins/npm-package/project.json
  tsconfig.base.json
  workspace.json
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/source, @guardian/apps-rendering

Remove deprecated workspace-lint
  .github/workflows/ci.yml
  Makefile
Owners: @guardian/client-side-infra

Update all babel deps and related
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

More babel updgrades
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/client-side-infra, @guardian/source

style: move indeterminate override so applied to correct element
  libs/@guardian/source-react-components/src/checkbox/styles.ts
Owners: @guardian/client-side-infra

Group radio buttons in Answers story so they can be selected
  libs/@guardian/atoms-rendering/src/Answers.stories.tsx
Owners: @guardian/client-side-infra

extend the conditional skip on our Chromatic GitHub workflow job to check if the current branch is main
  .github/workflows/ci.yml
Owners: @guardian/client-side-infra

Add changeset
  .changeset/twelve-insects-fetch.md
Owners: @guardian/client-side-infra

Revert manually updated package versions and change logs
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-foundations/CHANGELOG.md
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/CHANGELOG.md
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/client-side-infra, @guardian/source

Update changeset
  .changeset/wild-ads-approve.md
Owners: @guardian/client-side-infra

Revert "Update form field borders styles"
  .changeset/twelve-insects-fetch.md
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-foundations/CHANGELOG.md
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/src/accessibility/focus-halo.ts
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components-development-kitchen/src/summary/styles.ts
  libs/@guardian/source-react-components/CHANGELOG.md
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source-react-components/src/checkbox/styles.ts
  libs/@guardian/source-react-components/src/choice-card/styles.ts
  libs/@guardian/source-react-components/src/radio/styles.ts
  libs/@guardian/source-react-components/src/select/styles.ts
  libs/@guardian/source-react-components/src/text-area/styles.ts
  libs/@guardian/source-react-components/src/text-input/styles.ts
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/source

Run Chromatic when changes made to PR if label present
  .github/workflows/ci.yml
Owners: @guardian/client-side-infra

Update all packages
  libs/@guardian/ab-react/package.json
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/source

Peer deps match pinned version
  libs/@guardian/ab-react/package.json
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/source

Update Source packages to use React 18 (#456)
  libs/@guardian/ab-react/CHANGELOG.md
  libs/@guardian/ab-react/package.json
  libs/@guardian/atoms-rendering/CHANGELOG.md
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/eslint-plugin-source-react-components/CHANGELOG.md
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/CHANGELOG.md
  libs/@guardian/source-react-components/package.json
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/source

Upgrade atoms-rendering @guardian/commercial-core@^6.3.0
  libs/@guardian/atoms-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/client-side-infra

Upgrade atoms-rendering @guardian/consent-management-platform@^12.0.0
  libs/@guardian/atoms-rendering/package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/client-side-infra

Changeset
  .changeset/plenty-turtles-breathe.md
Owners: @guardian/client-side-infra

Update testing-library packages
  libs/@guardian/ab-react/package.json
  libs/@guardian/atoms-rendering/package.json
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev

Update testing-library packages (#520)
  libs/@guardian/ab-react/package.json
  libs/@guardian/atoms-rendering/package.json
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev

Apply focus state management to stories
  libs/@guardian/atoms-rendering/.storybook/preview.js
Owners: @guardian/client-side-infra

style: prevent checkbox after content shifting on border increase
  libs/@guardian/source-react-components/src/checkbox/styles.ts
Owners: @guardian/client-side-infra

styles: update summary border in dev kitchen
  libs/@guardian/source-react-components-development-kitchen/src/summary/styles.ts
Owners: @guardian/client-side-infra

Add changeset
  .changeset/modern-paws-attend.md
Owners: @guardian/client-side-infra

styles: reduce size of focusHalo to 3px
  libs/@guardian/source-foundations/src/accessibility/focus-halo.ts
Owners: @guardian/client-side-infra

style: update default border width and radius across components
  libs/@guardian/source-react-components/src/checkbox/styles.ts
  libs/@guardian/source-react-components/src/choice-card/styles.ts
  libs/@guardian/source-react-components/src/radio/styles.ts
  libs/@guardian/source-react-components/src/select/styles.ts
  libs/@guardian/source-react-components/src/text-area/styles.ts
  libs/@guardian/source-react-components/src/text-input/styles.ts
Owners: @guardian/client-side-infra

style: update choice card focus, selected, hover and error
  libs/@guardian/source-react-components/src/choice-card/styles.ts
Owners: @guardian/client-side-infra

revert: border styles for inline error and inline success
  libs/@guardian/source-react-components/src/user-feedback/styles.ts
Owners: @guardian/client-side-infra

style: update radio selected, error, success border
  libs/@guardian/source-react-components/src/radio/styles.ts
Owners: @guardian/client-side-infra

style: update select box error and success border
  libs/@guardian/source-react-components/src/select/styles.ts
Owners: @guardian/client-side-infra

style: update checkbox hover, selected, error, success border
  libs/@guardian/source-react-components/src/checkbox/styles.ts
Owners: @guardian/client-side-infra

style: update text input error, sucess and focus border
  libs/@guardian/source-react-components/src/text-input/styles.ts
Owners: @guardian/client-side-infra

style: add border to inline success and inline error
  libs/@guardian/source-react-components/src/user-feedback/styles.ts
Owners: @guardian/client-side-infra

style: move indeterminate override so applied to correct element
  libs/@guardian/source-react-components/src/checkbox/styles.ts
Owners: @guardian/client-side-infra

style: update text area error and success border
  libs/@guardian/source-react-components/src/text-area/styles.ts
Owners: @guardian/client-side-infra

style: increase radio border width on hover
  libs/@guardian/source-react-components/src/radio/styles.ts
Owners: @guardian/client-side-infra

Move atoms-rendering window types to root
  @types/window.d.ts
  libs/@guardian/atoms-rendering/src/YoutubeAtomPlayer.tsx
Owners: @guardian/client-side-infra
