Repository guardian/csnx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/client-side-infra, @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/source, @guardian/apps-rendering

docs: fix link to CSS Resets docs
  libs/@guardian/source-foundations/src/utils/resets.ts
Owners: @guardian/client-side-infra

update styling to match other input components
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/inputExtensionStyles.ts
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/numericInputStyles.ts
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/sharedStyles.ts
Owners: @guardian/client-side-infra

lint fix
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/inputExtensionStyles.ts
Owners: @guardian/client-side-infra

include changeset
  .changeset/tricky-countries-worry.md
Owners: @guardian/client-side-infra

fix issue with focus halo radius
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/numericInputStyles.ts
Owners: @guardian/client-side-infra

fix type annotation issue
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/InputExtension.tsx
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/inputExtensionStyles.ts
Owners: @guardian/client-side-infra

amend function type annotation
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/inputExtensionStyles.ts
Owners: @guardian/client-side-infra

Echo debug info in CI workflow
  .github/workflows/ci.yml
Owners: @guardian/client-side-infra

Revert "Debug: echo workflow run actor and context"
  .github/workflows/ci.yml
Owners: @guardian/client-side-infra

Update Dependabot user name and remove debug code
  .github/workflows/ci.yml
Owners: @guardian/client-side-infra

Update getPackages version
  package.json
  pnpm-lock.yaml
  tools/scripts/check-packages-for-tslib.mjs
Owners: @guardian/client-side-infra

Update maintain readme
  tools/scripts/maintain-readme/get-package-list.mjs
Owners: @guardian/client-side-infra

Update storybook dependencies
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

Add storybook
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

Update storybook dependencies (#604)
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

Update nrwl plugins
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

Update nrwl plugins (#605)
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

Update the styling of the Numeric Input component to match other Source input components (#589)
  .changeset/tricky-countries-worry.md
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/InputExtension.tsx
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/inputExtensionStyles.ts
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/numericInputStyles.ts
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/sharedStyles.ts
Owners: @guardian/client-side-infra

unscope gh workflow permissions for changesets
  .github/workflows/changesets.yml
Owners: @guardian/client-side-infra

Update getPackages version (#597)
  package.json
  pnpm-lock.yaml
  tools/scripts/check-packages-for-tslib.mjs
  tools/scripts/maintain-readme/get-package-list.mjs
Owners: @guardian/client-side-infra

Run CI tasks in martix
  .github/workflows/ci.yml
Owners: @guardian/client-side-infra

Run CI tasks in matrix (#613)
  .github/workflows/ci.yml
Owners: @guardian/client-side-infra

unscope gh workflow permissions for changesets (#611)
  .github/workflows/changesets.yml
Owners: @guardian/client-side-infra

feat: add Open Journalism colours
  .changeset/tasty-gorillas-bow.md
  libs/@guardian/libs/src/logger/teamStyles.ts
  libs/@guardian/libs/static/logger.svg
Owners: @guardian/client-side-infra

Update nrwl
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

Update nrwl (#617)
  package.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

Create basic project template
  README.md
  libs/@guardian/identity-auth/.eslintrc.json
  libs/@guardian/identity-auth/CHANGELOG.md
  libs/@guardian/identity-auth/README.md
  libs/@guardian/identity-auth/jest.config.ts
  libs/@guardian/identity-auth/jest.e2e.setup.js
  libs/@guardian/identity-auth/package.json
  libs/@guardian/identity-auth/project.json
  libs/@guardian/identity-auth/src/index.ts
  libs/@guardian/identity-auth/tsconfig.json
  libs/@guardian/identity-auth/tsconfig.spec.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

Update roll up deps
  pnpm-lock.yaml
  tools/nx-plugins/npm-package/build/index.ts
  tools/nx-plugins/npm-package/package.json
Owners: @guardian/client-side-infra

update babel deps
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
  package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/client-side-infra, @guardian/source

update babel deps (#624)
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
  package.json
  pnpm-lock.yaml
Owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/client-side-infra, @guardian/source

Create basic project template for identity-auth lib (#623)
  README.md
  libs/@guardian/identity-auth/.eslintrc.json
  libs/@guardian/identity-auth/CHANGELOG.md
  libs/@guardian/identity-auth/README.md
  libs/@guardian/identity-auth/jest.config.ts
  libs/@guardian/identity-auth/jest.e2e.setup.js
  libs/@guardian/identity-auth/package.json
  libs/@guardian/identity-auth/project.json
  libs/@guardian/identity-auth/src/index.ts
  libs/@guardian/identity-auth/tsconfig.json
  libs/@guardian/identity-auth/tsconfig.spec.json
  pnpm-lock.yaml
Owners: @guardian/client-side-infra

feat(libs): implement `IdentityAuth` library
  libs/@guardian/libs/src/IdentityAuth/@types/OAuth.ts
  libs/@guardian/libs/src/IdentityAuth/@types/Token.ts
  libs/@guardian/libs/src/IdentityAuth/README.md
  libs/@guardian/libs/src/IdentityAuth/__tests__/authState.test.ts
  libs/@guardian/libs/src/IdentityAuth/__tests__/crypto.test.ts
  libs/@guardian/libs/src/IdentityAuth/__tests__/emitter.test.ts
  libs/@guardian/libs/src/IdentityAuth/__tests__/token.test.ts
  libs/@guardian/libs/src/IdentityAuth/__tests__/tokenManager.test.ts
  libs/@guardian/libs/src/IdentityAuth/authState.ts
  libs/@guardian/libs/src/IdentityAuth/crypto.ts
  libs/@guardian/libs/src/IdentityAuth/emitter.ts
  libs/@guardian/libs/src/IdentityAuth/error.ts
  libs/@guardian/libs/src/IdentityAuth/index.ts
  libs/@guardian/libs/src/IdentityAuth/token.ts
  libs/@guardian/libs/src/IdentityAuth/tokenManager.ts
  libs/@guardian/libs/src/index.test.ts
  libs/@guardian/libs/src/index.ts
Owners: @guardian/client-side-infra

feat(libs): IdentityAuth - type generics for custom claims
  libs/@guardian/libs/src/IdentityAuth/@types/OAuth.ts
  libs/@guardian/libs/src/IdentityAuth/@types/Token.ts
  libs/@guardian/libs/src/IdentityAuth/__tests__/identityAuth.test.ts
  libs/@guardian/libs/src/IdentityAuth/authState.ts
  libs/@guardian/libs/src/IdentityAuth/index.ts
  libs/@guardian/libs/src/IdentityAuth/token.ts
  libs/@guardian/libs/src/IdentityAuth/tokenManager.ts
  libs/@guardian/libs/src/index.ts
Owners: @guardian/client-side-infra

chore(libs): `IdentityAuth` - use JS private class features (`#`) instead of TS (`private`)
  libs/@guardian/libs/src/IdentityAuth/authState.ts
  libs/@guardian/libs/src/IdentityAuth/emitter.ts
  libs/@guardian/libs/src/IdentityAuth/index.ts
  libs/@guardian/libs/src/IdentityAuth/tokenManager.ts
Owners: @guardian/client-side-infra

chore: add changeset for `IdentityAuth`
  .changeset/heavy-lies-remain.md
Owners: @guardian/client-side-infra

chore(libs): updating the readme and documentation
  libs/@guardian/libs/src/IdentityAuth/@types/OAuth.ts
  libs/@guardian/libs/src/IdentityAuth/@types/Token.ts
  libs/@guardian/libs/src/IdentityAuth/README.md
  libs/@guardian/libs/src/IdentityAuth/__tests__/authState.test.ts
  libs/@guardian/libs/src/IdentityAuth/__tests__/identityAuth.test.ts
  libs/@guardian/libs/src/IdentityAuth/__tests__/token.test.ts
  libs/@guardian/libs/src/IdentityAuth/__tests__/tokenManager.test.ts
  libs/@guardian/libs/src/IdentityAuth/index.ts
  libs/@guardian/libs/src/IdentityAuth/token.ts
Owners: @guardian/client-side-infra

chore(libs): add IdentityAuth readme
  libs/@guardian/libs/README.md
  libs/@guardian/libs/src/IdentityAuth/README.md
Owners: @guardian/client-side-infra, @guardian/apps-rendering, @guardian/dotcom-platform

Add esmodule: true to rollup config
  tools/nx-plugins/npm-package/build/index.ts
Owners: @guardian/client-side-infra

remove console
  tools/nx-plugins/npm-package/build/index.ts
Owners: @guardian/client-side-infra

.github/CODEOWNERS:

# if you would like to be notified about changes in particular part of this repo,

# please add yourself in a PR

* @guardian/client-side-infra

libs/@guardian/atoms-rendering/* @guardian/dotcom-platform @guardian/commercial-dev @guardian/client-side-infra

libs/@guardian/source-foundations/* @guardian/source
libs/@guardian/source-react-components/* @guardian/source
libs/@guardian/source-react-components-development-kitchen/* @guardian/source
libs/@guardian/eslint-plugin-source-foundations/* @guardian/source
libs/@guardian/eslint-plugin-source-react-components/* @guardian/source

libs/@guardian/tsconfig/* @guardian/client-side-infra
libs/@guardian/prettier/* @guardian/client-side-infra
libs/@guardian/eslint-config/* @guardian/client-side-infra
libs/@guardian/eslint-config-typescript/* @guardian/client-side-infra
libs/@guardian/browserlist-config/*  @guardian/client-side-infra @guardian/dotcom-platform
libs/@guardian/libs/* @guardian/client-side-infra @guardian/apps-rendering @guardian/dotcom-platform
