Repository guardian/csnx, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“¦ configs, ğŸ—œ nx, ğŸ—œ repo-scripts

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

ğŸ“¦ configs:
  - 'packages/*config*/**/*'
  - 'packages/prettier/**/*'
ğŸ—œ nx:
  - 'nx.json'
  - 'workspace.json'
  - 'tools/plugins/**/*'
ğŸ—œ repo-scripts:
  - 'tools/scripts/**/*'

issue template formatting
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

csnx - private
  libs/hello-world/package.json
Labels: none

restore libs to workspace
  pnpm-workspace.yaml
Labels: none

Do not apply prettier formatting as part of linting (#42)
  .changeset/spicy-bees-yawn.md
  packages/eslint-config/.eslintrc.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Labels: ğŸ“¦ configs

move internal `libs` example into `libs/@csnx`
  libs/@csnx/hello-world/.babelrc
  libs/@csnx/hello-world/.eslintrc.json
  libs/@csnx/hello-world/README.md
  libs/@csnx/hello-world/jest.config.ts
  libs/@csnx/hello-world/package.json
  libs/@csnx/hello-world/project.json
  libs/@csnx/hello-world/src/index.ts
  libs/@csnx/hello-world/src/lib/hello-world.spec.ts
  libs/@csnx/hello-world/src/lib/hello-world.ts
  libs/@csnx/hello-world/tsconfig.json
  libs/@csnx/hello-world/tsconfig.lib.json
  libs/@csnx/hello-world/tsconfig.spec.json
  libs/hello-world/README.md
  libs/hello-world/project.json
  tsconfig.base.json
  workspace.json
Labels: ğŸ—œ nx

prfix pugins with `plugin` in the nx project
  workspace.json
Labels: ğŸ—œ nx

update readme
  README.md
  tools/scripts/maintain-readme/index.mjs
Labels: ğŸ—œ repo-scripts

remove `packages` from workspace
  pnpm-workspace.yaml
Labels: none

update tsconfig
  tsconfig.base.json
Labels: none

chore: add the nx console as a recommended extension for vscode
  .vscode/extensions.json
Labels: none

add dummy app
  .eslintrc.js
  Makefile
  README.md
  apps/say-hello/.babelrc
  apps/say-hello/.browserslistrc
  apps/say-hello/.eslintrc.json
  apps/say-hello/jest.config.ts
  apps/say-hello/package.json
  apps/say-hello/project.json
  apps/say-hello/src/app/app.spec.tsx
  apps/say-hello/src/app/app.tsx
  apps/say-hello/src/assets/.gitkeep
  apps/say-hello/src/environments/environment.prod.ts
  apps/say-hello/src/environments/environment.ts
  apps/say-hello/src/favicon.ico
  apps/say-hello/src/index.html
  apps/say-hello/src/main.tsx
  apps/say-hello/src/polyfills.ts
  apps/say-hello/tsconfig.app.json
  apps/say-hello/tsconfig.json
  apps/say-hello/tsconfig.spec.json
  babel.config.json
  libs/@csnx/hello-world/project.json
  libs/@csnx/hello-world/src/lib/hello-world.spec.ts
  libs/@csnx/hello-world/src/lib/hello-world.ts
  nx.json
  package.json
  pnpm-lock.yaml
  workspace.json
Labels: ğŸ—œ nx

remove test app
  apps/say-hello/.babelrc
  apps/say-hello/.browserslistrc
  apps/say-hello/.eslintrc.json
  apps/say-hello/jest.config.ts
  apps/say-hello/package.json
  apps/say-hello/project.json
  apps/say-hello/src/app/app.spec.tsx
  apps/say-hello/src/app/app.tsx
  apps/say-hello/src/assets/.gitkeep
  apps/say-hello/src/environments/environment.prod.ts
  apps/say-hello/src/environments/environment.ts
  apps/say-hello/src/favicon.ico
  apps/say-hello/src/index.html
  apps/say-hello/src/main.tsx
  apps/say-hello/src/polyfills.ts
  apps/say-hello/tsconfig.app.json
  apps/say-hello/tsconfig.json
  apps/say-hello/tsconfig.spec.json
  nx.json
  package.json
  pnpm-lock.yaml
  workspace.json
Labels: ğŸ—œ nx

there are no e2e tests yet
  Makefile
  README.md
Labels: none

clean up some muck
  babel.config.json
  libs/@csnx/hello-world/jest.config.ts
  package.json
  pnpm-lock.yaml
Labels: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: none

Update README.md
  README.md
Labels: none

create the dist dir explciitly
  README.md
  tools/plugins/npm-package/executors/build/executor.ts
Labels: ğŸ—œ nx

exclude peerdeps from package bundles
  tools/plugins/npm-package/executors/build/executor.ts
  tools/plugins/npm-package/executors/build/get-peerdeps.ts
  tools/plugins/npm-package/executors/build/schema.d.ts
  tools/plugins/npm-package/executors/build/schema.json
Labels: ğŸ—œ nx

fix package import paths
  tools/plugins/npm-package/executors/build/set-package-defaults.ts
Labels: ğŸ—œ nx

add missing dep
  README.md
  pnpm-lock.yaml
  tools/plugins/npm-package/package.json
Labels: ğŸ—œ nx

use `lint-staged` config files
  .eslintrc.js
  .lintstagedrc.js
  README.md
  package.json
Labels: none

whitespace
  tools/plugins/npm-package/executors/build/get-peerdeps.ts
Labels: ğŸ—œ nx

dont worry about `options.externalDependencies` for now
  tools/plugins/npm-package/executors/build/executor.ts
  tools/plugins/npm-package/executors/build/schema.d.ts
  tools/plugins/npm-package/executors/build/schema.json
Labels: ğŸ—œ nx

Improvemements to package bundling (#58)
  pnpm-lock.yaml
  tools/plugins/npm-package/executors/build/executor.ts
  tools/plugins/npm-package/executors/build/get-peerdeps.ts
  tools/plugins/npm-package/executors/build/set-package-defaults.ts
  tools/plugins/npm-package/package.json
Labels: ğŸ—œ nx
