Repository guardian/csnx, pull requests merged in 2022-11, with the labels that each got.

#164 RFC for DCR relocation to CSNX
  docs/project-imports/dcr.md
Labels: 📚 Documentation, RFC

#143 Create `@guardian/core-web-vitals`
  .changeset/thirty-news-cheat.md
  .changeset/witty-buttons-applaud.md
  README.md
  libs/@guardian/core-web-vitals/.eslintrc.json
  libs/@guardian/core-web-vitals/.lintstagedrc.js
  libs/@guardian/core-web-vitals/README.md
  libs/@guardian/core-web-vitals/jest.config.ts
  libs/@guardian/core-web-vitals/jest.e2e.setup.js
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/core-web-vitals/project.json
  libs/@guardian/core-web-vitals/scripts/update-readme.ts
  libs/@guardian/core-web-vitals/src/@types/CoreWebVitalsPayload.ts
  libs/@guardian/core-web-vitals/src/e2e.test.ts
  libs/@guardian/core-web-vitals/src/index.test.ts
  libs/@guardian/core-web-vitals/src/index.ts
  libs/@guardian/core-web-vitals/src/roundWithDecimals.test.ts
  libs/@guardian/core-web-vitals/src/roundWithDecimals.ts
  libs/@guardian/core-web-vitals/tsconfig.json
  libs/@guardian/core-web-vitals/tsconfig.spec.json
  libs/@guardian/libs/README.md
  libs/@guardian/libs/package.json
  libs/@guardian/libs/src/coreWebVitals/README.md
  libs/@guardian/libs/src/index.test.ts
  libs/@guardian/libs/src/index.ts
  pnpm-lock.yaml
  tsconfig.base.json
  workspace.json
Labels: 🛠 workspace, 📦 npm, @guardian/libs

#212 Setup Jest matcher for source-foundations
  libs/@guardian/source-foundations/jest.config.ts
  libs/@guardian/source-foundations/lib/jest-matchers/index.d.ts
  libs/@guardian/source-foundations/lib/jest-matchers/index.ts
  libs/@guardian/source-foundations/lib/jest-matchers/toBeValidCSS.ts
  libs/@guardian/source-foundations/package.json
  pnpm-lock.yaml
Labels: 📦 npm

#224 Fix eslint parsing "maximum call stack size exceeded" issue in source-foundations
  libs/@guardian/eslint-config-typescript/package.json
  libs/@guardian/source-foundations/project.json
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/eslint-config-typescript

#225 Use incremental compiler option by default
  .changeset/thick-bags-joke.md
  .gitignore
  libs/@guardian/tsconfig/tsconfig.json
Labels: enhancement, help wanted, 📦 npm, @guardian/tsconfig

#220 Add initial storybook config for Source
  libs/@guardian/source-foundations/.storybook/manager.ts
  libs/@guardian/source-foundations/.storybook/preview.tsx
  libs/@guardian/source-foundations/.storybook/preview/FocusManagerDecorator.tsx
  libs/@guardian/source-foundations/.storybook/preview/ThemeProviderDecorator.tsx
  libs/@guardian/source-foundations/.storybook/preview/backgrounds.ts
  libs/@guardian/source-foundations/.storybook/preview/viewport.ts
  libs/@guardian/source-foundations/.storybook/theme.ts
  libs/@guardian/source-foundations/tsconfig.json
  libs/@guardian/source-react-components-development-kitchen/.storybook/manager.ts
  libs/@guardian/source-react-components-development-kitchen/.storybook/preview.tsx
  libs/@guardian/source-react-components-development-kitchen/.storybook/preview/FocusManagerDecorator.tsx
  libs/@guardian/source-react-components-development-kitchen/.storybook/preview/ThemeProviderDecorator.tsx
  libs/@guardian/source-react-components-development-kitchen/.storybook/preview/backgrounds.ts
  libs/@guardian/source-react-components-development-kitchen/.storybook/preview/viewport.ts
  libs/@guardian/source-react-components-development-kitchen/.storybook/theme.ts
  libs/@guardian/source-react-components-development-kitchen/tsconfig.json
  libs/@guardian/source-react-components/.storybook/manager.ts
  libs/@guardian/source-react-components/.storybook/preview.tsx
  libs/@guardian/source-react-components/.storybook/preview/FocusManagerDecorator.tsx
  libs/@guardian/source-react-components/.storybook/preview/ThemeProviderDecorator.tsx
  libs/@guardian/source-react-components/.storybook/preview/backgrounds.ts
  libs/@guardian/source-react-components/.storybook/preview/viewport.ts
  libs/@guardian/source-react-components/.storybook/theme.ts
  libs/@guardian/source-react-components/tsconfig.json
  package.json
  pnpm-lock.yaml
Labels: 📦 npm

#232 Dependency updates | 28th Nov 2022
  package.json
  pnpm-lock.yaml
Labels: dependencies
