Repository guardian/csnx, pull requests merged in 2023-12, with the labels that each got.

#945 Update @typescript-eslint versions
  .changeset/little-seas-fail.md
  .changeset/tasty-camels-invent.md
  libs/@guardian/eslint-config-typescript/package.json
  libs/@guardian/eslint-config/package.json
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/identity-auth/src/cookieRefresh.ts
  libs/@guardian/source-react-components/src/button/styles.ts
  package.json
  pnpm-lock.yaml
  tools/nx-plugins/npm-package/build/index.ts
Labels: 🛠 workspace, 📦 npm, @guardian/eslint-config-typescript, @guardian/eslint-config, run_chromatic

#1007 restructured the design tokens package.
  libs/@csnx/design-tokens/README.md
  libs/@csnx/design-tokens/package.json
  libs/@csnx/design-tokens/project.json
  libs/@csnx/design-tokens/src/index.d.ts
  libs/@csnx/design-tokens/src/index.js
  libs/@csnx/design-tokens/src/tokens/breakpoint.tokens.json
  libs/@csnx/design-tokens/src/tokens/colour.tokens.json
  libs/@csnx/design-tokens/src/tokens/palette.tokens.json
  libs/@csnx/design-tokens/src/tokens/size.tokens.json
  libs/@csnx/design-tokens/src/tokens/space.tokens.json
  libs/@csnx/design-tokens/src/tokens/typography.tokens.json
  libs/@csnx/design-tokens/tokens.config.js
  libs/@csnx/design-tokens/tokens.json
  libs/@csnx/design-tokens/tokens/index.d.ts
  libs/@csnx/design-tokens/tokens/index.js
  libs/@csnx/design-tokens/tokens/tokens.css
  pnpm-lock.yaml
Labels: 📦 lib, run_chromatic

#1009 Consume spacing design tokens in Source Foundations
  .changeset/gold-swans-care.md
  .eslintrc.js
  libs/@csnx/design-tokens/project.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/src/space/space.stories.mdx
  libs/@guardian/source-foundations/src/space/space.ts
  libs/@guardian/source-foundations/src/utils/px-to-rem.ts
  pnpm-lock.yaml
  tsconfig.base.json
Labels: 📦 lib, 📦 npm, run_chromatic

#1014 Removed csnx/* from the changesets config.json
  .changeset/config.json
Labels: run_chromatic

#1031 Update eslint config packages
  .changeset/strong-eyes-decide.md
  libs/@guardian/eslint-config-typescript/package.json
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  package.json
  pnpm-lock.yaml
  tools/nx-plugins/eslint/package.json
Labels: 🛠 workspace, 📦 npm, @guardian/eslint-config-typescript

#1033 design tokens as source of truth for palette, breakpoint, size
  .changeset/shaggy-trees-fold.md
  libs/@guardian/source-foundations/src/breakpoints/breakpoints.ts
  libs/@guardian/source-foundations/src/colour/palette.ts
  libs/@guardian/source-foundations/src/size/size.ts
Labels: 📦 npm, run_chromatic

#957 Port documentation to JSDoc for `joinUrl`
  .changeset/young-penguins-invent.md
  libs/@guardian/libs/src/joinUrl/README.md
  libs/@guardian/libs/src/joinUrl/joinUrl.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#1034 update ts across packages
  libs/@guardian/ab-core/CHANGELOG.md
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-react/CHANGELOG.md
  libs/@guardian/ab-react/package.json
  libs/@guardian/browserslist-config/CHANGELOG.md
  libs/@guardian/browserslist-config/package.json
  libs/@guardian/core-web-vitals/CHANGELOG.md
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/core-web-vitals/src/index.test.ts
  libs/@guardian/eslint-config-typescript/CHANGELOG.md
  libs/@guardian/eslint-config-typescript/package.json
  libs/@guardian/eslint-config/CHANGELOG.md
  libs/@guardian/eslint-config/package.json
  libs/@guardian/eslint-plugin-source-foundations/CHANGELOG.md
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/CHANGELOG.md
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/identity-auth-frontend/CHANGELOG.md
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth-frontend/src/index.ts
  libs/@guardian/identity-auth/CHANGELOG.md
  libs/@guardian/identity-auth/package.json
  libs/@guardian/libs/CHANGELOG.md
  libs/@guardian/libs/package.json
  libs/@guardian/newsletter-types/CHANGELOG.md
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/prettier/CHANGELOG.md
  libs/@guardian/prettier/package.json
  libs/@guardian/source-foundations/CHANGELOG.md
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/CHANGELOG.md
  libs/@guardian/source-react-components/package.json
  package.json
  pnpm-lock.yaml
  tools/nx-plugins/eslint/package.json
  tools/nx-plugins/npm-package/package.json
Labels: 🛠 workspace, 📦 npm, @guardian/libs, @guardian/browserslist-config, @guardian/eslint-config-typescript, @guardian/eslint-config, @guardian/prettier, @guardian/ab-core, @guardian/ab-react, run_chromatic

#1036 Add missing entries to changelogs
  .changeset/shaggy-trees-fold.md
  .changeset/thin-moose-smash.md
  .changeset/young-penguins-invent.md
  libs/@guardian/browserslist-config/CHANGELOG.md
  libs/@guardian/libs/CHANGELOG.md
  libs/@guardian/source-foundations/CHANGELOG.md
Labels: 📦 npm, @guardian/libs, @guardian/browserslist-config

#1038 Design tokens as source of truth for typography
  .changeset/forty-hounds-burn.md
  libs/@csnx/design-tokens/package.json
  libs/@csnx/design-tokens/tokens.json
  libs/@csnx/design-tokens/tokens/index.d.ts
  libs/@csnx/design-tokens/tokens/index.js
  libs/@csnx/design-tokens/tokens/tokens.css
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/src/breakpoints/breakpoints.ts
  libs/@guardian/source-foundations/src/index.ts
  libs/@guardian/source-foundations/src/size/size.ts
  libs/@guardian/source-foundations/src/space/space.ts
  libs/@guardian/source-foundations/src/typography/data.ts
  libs/@guardian/source-foundations/src/typography/typography.test.ts
  libs/@guardian/source-foundations/src/utils/convert-value.test.ts
  libs/@guardian/source-foundations/src/utils/convert-value.ts
  libs/@guardian/source-foundations/src/utils/px-to-rem.test.ts
  pnpm-lock.yaml
Labels: 📦 lib, 📦 npm, run_chromatic
