Repository guardian/csnx, pull requests merged in 2023-11, with the labels that each got.

#897 Add new units to spacing scale
  .changeset/quiet-turtles-check.md
  libs/@guardian/source-foundations/src/space/space.stories.mdx
  libs/@guardian/source-foundations/src/space/space.ts
Labels: 📦 npm, run_chromatic

#898 Update dependabot groups
  .github/dependabot.yml
Labels: enhancement, dependencies, run_chromatic

#948 Make members of AB Ophan API required
  .changeset/curvy-experts-film.md
  libs/@guardian/ab-core/src/@types/index.ts
  libs/@guardian/ab-core/src/ophan.ts
  libs/@guardian/ab-react/package.json
  libs/@guardian/ab-react/src/context.test.tsx
Labels: 📦 npm, @guardian/ab-core, @guardian/ab-react, run_chromatic

#940 Add Button option to Footer Links
  .changeset/clean-zebras-begin.md
  libs/@guardian/source-react-components-development-kitchen/src/footer-with-contents/FooterLinks.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/footer-with-contents/FooterLinks.tsx
  libs/@guardian/source-react-components-development-kitchen/src/footer-with-contents/README.md
Labels: 📦 npm, run_chromatic

#955 Update CHANGELOG.md
  libs/@guardian/source-react-components/CHANGELOG.md
Labels: 📦 npm

#963 Support `ExpandingWrapper` theming with pure CSS
  .changeset/cold-clocks-hear.md
  libs/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/ExpandingWrapper.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/ExpandingWrapper.tsx
  libs/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/styles.ts
  libs/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/theme.ts
  libs/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/types.ts
Labels: 📦 npm, run_chromatic

#964 Support `Tabs` theming with pure CSS
  .changeset/cold-clocks-hear.md
  .changeset/nervous-mirrors-dress.md
  .changeset/orange-bulldogs-hug.md
  libs/@guardian/source-react-components-development-kitchen/src/tabs/Tabs.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/tabs/styles.ts
  libs/@guardian/source-react-components-development-kitchen/src/tabs/tabs.tsx
  libs/@guardian/source-react-components-development-kitchen/src/tabs/theme.ts
  libs/@guardian/source-react-components-development-kitchen/src/tabs/types.ts
Labels: 📦 npm, run_chromatic
