Repository guardian/csnx, pull requests merged in 2023-10, with the labels that each got.

#832 Update NX packages and fix issue with identity-auth
  libs/@guardian/identity-auth-frontend/package.json
  package.json
  pnpm-lock.yaml
  tools/nx-plugins/eslint/package.json
  tsconfig.base.json
Labels: 🛠 workspace, 📦 npm

#831 newsletters type package
  .changeset/rich-spiders-happen.md
  README.md
  libs/@guardian/libs/.eslintrc copy.json
  libs/@guardian/libs/.lintstagedrc copy.js
  libs/@guardian/newsletter-types/.eslintrc.json
  libs/@guardian/newsletter-types/README.md
  libs/@guardian/newsletter-types/jest.config.ts
  libs/@guardian/newsletter-types/jest.e2e.setup.js
  libs/@guardian/newsletter-types/package-lock.json
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/newsletter-types/project.json
  libs/@guardian/newsletter-types/src/@types/index.ts
  libs/@guardian/newsletter-types/src/@types/newsletters-api.ts
  libs/@guardian/newsletter-types/src/index.ts
  libs/@guardian/newsletter-types/tsconfig.json
  libs/@guardian/newsletter-types/tsconfig.spec.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: 📦 npm, run_chromatic

#836 Remove YoutubeAtom from atoms-rendering
  .changeset/rude-rats-count.md
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/atoms-rendering/src/YouTubePlayer.ts
  libs/@guardian/atoms-rendering/src/YoutubeAtom.stories.tsx
  libs/@guardian/atoms-rendering/src/YoutubeAtom.test.tsx
  libs/@guardian/atoms-rendering/src/YoutubeAtom.tsx
  libs/@guardian/atoms-rendering/src/YoutubeAtomOverlay.tsx
  libs/@guardian/atoms-rendering/src/YoutubeAtomPlaceholder.tsx
  libs/@guardian/atoms-rendering/src/YoutubeAtomPlayer.tsx
  libs/@guardian/atoms-rendering/src/YoutubeAtomSticky.tsx
  libs/@guardian/atoms-rendering/src/YoutubeAtomWithImaAd.stories.tsx
  libs/@guardian/atoms-rendering/src/fixtures/consentStateCanTarget.ts
  libs/@guardian/atoms-rendering/src/index.test.ts
  libs/@guardian/atoms-rendering/src/index.ts
  libs/@guardian/atoms-rendering/src/loadYouTubeIframeApi.ts
  libs/@guardian/atoms-rendering/src/types.ts
  libs/@guardian/atoms-rendering/tsconfig.spec.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#841 Remove AudioAtom
  .changeset/gorgeous-poets-deny.md
  libs/@guardian/atoms-rendering/README.md
  libs/@guardian/atoms-rendering/src/AudioAtom.stories.tsx
  libs/@guardian/atoms-rendering/src/AudioAtom.test.tsx
  libs/@guardian/atoms-rendering/src/AudioAtom.tsx
  libs/@guardian/atoms-rendering/src/index.test.ts
  libs/@guardian/atoms-rendering/src/index.ts
  libs/@guardian/atoms-rendering/src/types.ts
Labels: 📦 npm, run_chromatic

#842 Remove GuideAtom
  .changeset/heavy-buttons-cheat.md
  libs/@guardian/atoms-rendering/src/GuideAtom.stories.tsx
  libs/@guardian/atoms-rendering/src/GuideAtom.test.tsx
  libs/@guardian/atoms-rendering/src/GuideAtom.tsx
  libs/@guardian/atoms-rendering/src/index.test.ts
  libs/@guardian/atoms-rendering/src/index.ts
  libs/@guardian/atoms-rendering/src/types.ts
Labels: 📦 npm, run_chromatic

#843 Remove ChartAtom
  .changeset/spicy-lamps-talk.md
  libs/@guardian/atoms-rendering/src/ChartAtom.stories.tsx
  libs/@guardian/atoms-rendering/src/ChartAtom.test.tsx
  libs/@guardian/atoms-rendering/src/ChartAtom.tsx
  libs/@guardian/atoms-rendering/src/index.test.ts
  libs/@guardian/atoms-rendering/src/index.ts
  libs/@guardian/atoms-rendering/src/types.ts
Labels: 📦 npm, run_chromatic

#848 Remove video atom
  .changeset/pretty-eggs-own.md
  libs/@guardian/atoms-rendering/src/VideoAtom.stories.tsx
  libs/@guardian/atoms-rendering/src/VideoAtom.tsx
  libs/@guardian/atoms-rendering/src/index.test.ts
  libs/@guardian/atoms-rendering/src/index.ts
  libs/@guardian/atoms-rendering/src/types.ts
Labels: 📦 npm

#847 Removed profile atom
  .changeset/poor-bugs-play.md
  libs/@guardian/atoms-rendering/src/ProfileAtom.stories.tsx
  libs/@guardian/atoms-rendering/src/ProfileAtom.test.tsx
  libs/@guardian/atoms-rendering/src/ProfileAtom.tsx
  libs/@guardian/atoms-rendering/src/index.test.ts
  libs/@guardian/atoms-rendering/src/index.ts
  libs/@guardian/atoms-rendering/src/types.ts
Labels: 📦 npm, run_chromatic

#863 Update babel-core
  libs/@guardian/atoms-rendering/CHANGELOG.md
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/CHANGELOG.md
  libs/@guardian/source-react-components/package.json
  package.json
  pnpm-lock.yaml
Labels: 📦 npm

#851 Enable `timeAgo` to receive a `now` method
  .changeset/quiet-buttons-move.md
  libs/@guardian/libs/src/datetime/timeAgo.test.ts
  libs/@guardian/libs/src/datetime/timeAgo.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#875 added neutral 38 to color palette hex #606060
  .changeset/thirty-pianos-wonder.md
  libs/@guardian/source-foundations/src/colour/palette.ts
Labels: 📦 npm, run_chromatic
