Repository guardian/csnx, pull requests merged in 2023-04, with the labels that each got.

#501 Add Chromatic label instructions to readme
  README.md
Labels: run_chromatic

#504 Revert use of react jsx runtime instead of @emotion/react jsx runtime (#504
  .changeset/thick-dancers-flash.md
  libs/@guardian/ab-react/package.json
  libs/@guardian/ab-react/tsconfig.json
  libs/@guardian/atoms-rendering/tsconfig.json
  libs/@guardian/source-react-components-development-kitchen/tsconfig.json
  libs/@guardian/source-react-components/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: 📦 npm, @guardian/ab-react, run_chromatic

#507 Migrate to storybook v7 (#507
  .babelrc.json
  .eslintrc.js
  .storybook/main.js
  apps/csnx/project.json
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/atoms-rendering/project.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/project.json
  libs/@guardian/source-foundations/src/colour/palette.stories.mdx
  libs/@guardian/source-foundations/src/colour/storybookColorPalette.tsx
  libs/@guardian/source-foundations/src/typography/typography.stories.mdx
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components-development-kitchen/project.json
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source-react-components/project.json
  package.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#508 Update all babel and related dev-deps
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
  package.json
  pnpm-lock.yaml
Labels: 📦 npm, dependencies, run_chromatic

#510 Group radio buttons in `Answers` story so they are selectable
  libs/@guardian/atoms-rendering/src/Answers.stories.tsx
Labels: 📦 npm, run_chromatic

#511 Platform | Run Chromatic on main
  .github/workflows/ci.yml
Labels: Bug, run_chromatic

#478 Update form field borders styles
  .changeset/twelve-insects-fetch.md
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-foundations/CHANGELOG.md
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/src/accessibility/focus-halo.ts
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components-development-kitchen/src/summary/styles.ts
  libs/@guardian/source-react-components/CHANGELOG.md
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source-react-components/src/checkbox/styles.ts
  libs/@guardian/source-react-components/src/choice-card/styles.ts
  libs/@guardian/source-react-components/src/radio/styles.ts
  libs/@guardian/source-react-components/src/select/styles.ts
  libs/@guardian/source-react-components/src/text-area/styles.ts
  libs/@guardian/source-react-components/src/text-input/styles.ts
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#514 Revert "Update form field borders styles"
  .changeset/twelve-insects-fetch.md
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-foundations/CHANGELOG.md
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/src/accessibility/focus-halo.ts
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components-development-kitchen/src/summary/styles.ts
  libs/@guardian/source-react-components/CHANGELOG.md
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source-react-components/src/checkbox/styles.ts
  libs/@guardian/source-react-components/src/choice-card/styles.ts
  libs/@guardian/source-react-components/src/radio/styles.ts
  libs/@guardian/source-react-components/src/select/styles.ts
  libs/@guardian/source-react-components/src/text-area/styles.ts
  libs/@guardian/source-react-components/src/text-input/styles.ts
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#516 Rerun Chromatic when changes made to PR
  .github/workflows/ci.yml
Labels: run_chromatic

#456 Update Source packages to use React 18
  libs/@guardian/ab-react/CHANGELOG.md
  libs/@guardian/ab-react/package.json
  libs/@guardian/atoms-rendering/CHANGELOG.md
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/eslint-plugin-source-react-components/CHANGELOG.md
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/CHANGELOG.md
  libs/@guardian/source-react-components/package.json
  package.json
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/ab-react, run_chromatic

#520 Update testing-library packages
  libs/@guardian/ab-react/package.json
  libs/@guardian/atoms-rendering/package.json
  package.json
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/ab-react, run_chromatic

#515 Update form field border styles
  libs/@guardian/atoms-rendering/CHANGELOG.md
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/source-foundations/CHANGELOG.md
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/src/accessibility/focus-halo.ts
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components-development-kitchen/src/summary/styles.ts
  libs/@guardian/source-react-components/CHANGELOG.md
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source-react-components/src/checkbox/styles.ts
  libs/@guardian/source-react-components/src/choice-card/styles.ts
  libs/@guardian/source-react-components/src/radio/styles.ts
  libs/@guardian/source-react-components/src/select/styles.ts
  libs/@guardian/source-react-components/src/text-area/styles.ts
  libs/@guardian/source-react-components/src/text-input/styles.ts
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#525 Use @types/react v18.2.0
  libs/@guardian/ab-react/package.json
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/ab-react, run_chromatic

#521 Apply focus state management to `atoms-rendering` stories
  libs/@guardian/atoms-rendering/.storybook/preview.js
Labels: run_chromatic

#519 Update atoms-rendering commercial-core version
  .changeset/plenty-turtles-breathe.md
  libs/@guardian/atoms-rendering/package.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#527 Source dependency updates
  libs/@guardian/atoms-rendering/CHANGELOG.md
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/eslint-plugin-source-foundations/CHANGELOG.md
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/CHANGELOG.md
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/CHANGELOG.md
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#524 Move atoms-rendering window types to root
  .changeset/moody-hairs-shave.md
  @types/window.d.ts
  libs/@guardian/atoms-rendering/src/YoutubeAtomPlayer.tsx
Labels: 📦 npm, run_chromatic

#523 Upgrade NX packages to latest versions
  .github/workflows/ci.yml
  Makefile
  apps/csnx/project.json
  libs/@csnx/hello-world/package.json
  libs/@csnx/hello-world/project.json
  libs/@guardian/ab-core/project.json
  libs/@guardian/ab-core/tsconfig.json
  libs/@guardian/ab-react/project.json
  libs/@guardian/atoms-rendering/project.json
  libs/@guardian/atoms-rendering/tsconfig.spec.json
  libs/@guardian/browserslist-config/jest.config.js
  libs/@guardian/browserslist-config/project.json
  libs/@guardian/core-web-vitals/project.json
  libs/@guardian/core-web-vitals/tsconfig.json
  libs/@guardian/eslint-config-typescript/jest.config.js
  libs/@guardian/eslint-config-typescript/project.json
  libs/@guardian/eslint-config/jest.config.js
  libs/@guardian/eslint-config/project.json
  libs/@guardian/eslint-plugin-source-foundations/project.json
  libs/@guardian/eslint-plugin-source-foundations/tsconfig.json
  libs/@guardian/eslint-plugin-source-react-components/project.json
  libs/@guardian/eslint-plugin-source-react-components/tsconfig.json
  libs/@guardian/libs/project.json
  libs/@guardian/libs/tsconfig.json
  libs/@guardian/prettier/jest.config.js
  libs/@guardian/prettier/project.json
  libs/@guardian/source-foundations/project.json
  libs/@guardian/source-foundations/tsconfig.json
  libs/@guardian/source-react-components-development-kitchen/project.json
  libs/@guardian/source-react-components-development-kitchen/tsconfig.json
  libs/@guardian/source-react-components/project.json
  libs/@guardian/source-react-components/tsconfig.json
  libs/@guardian/tsconfig/jest.config.js
  libs/@guardian/tsconfig/project.json
  package.json
  pnpm-lock.yaml
  tools/nx-plugins/eslint/package.json
  tools/nx-plugins/eslint/project.json
  tools/nx-plugins/npm-package/project.json
  tsconfig.base.json
  workspace.json
Labels: 📦 lib, 🛠 workspace, 📦 npm, @guardian/libs, @guardian/browserslist-config, @guardian/eslint-config-typescript, @guardian/eslint-config, @guardian/prettier, @guardian/tsconfig, @guardian/ab-core, @guardian/ab-react, run_chromatic
