Repository guardian/csnx, pull requests merged in 2023-06, with the labels that each got.

#605 Update nrwl plugins
  package.json
  pnpm-lock.yaml
Labels: run_chromatic

#589 Update the styling of the Numeric Input component to match other Source input components
  .changeset/tricky-countries-worry.md
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/InputExtension.tsx
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/inputExtensionStyles.ts
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/numericInputStyles.ts
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/sharedStyles.ts
Labels: 📦 npm, run_chromatic

#597 Update getPackages version
  package.json
  pnpm-lock.yaml
  tools/scripts/check-packages-for-tslib.mjs
  tools/scripts/maintain-readme/get-package-list.mjs
Labels: 🛠 workspace, run_chromatic

#613 Run CI tasks in matrix
  .github/workflows/ci.yml
Labels: run_chromatic

#614 Add Open Journalism colours
  .changeset/tasty-gorillas-bow.md
  libs/@guardian/libs/src/logger/teamStyles.ts
  libs/@guardian/libs/static/logger.svg
Labels: 📦 npm, @guardian/libs, run_chromatic

#617 Update nrwl
  package.json
  pnpm-lock.yaml
Labels: run_chromatic

#624 update babel deps
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
  package.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#623 Create basic project template for identity-auth lib
  README.md
  libs/@guardian/identity-auth/.eslintrc.json
  libs/@guardian/identity-auth/CHANGELOG.md
  libs/@guardian/identity-auth/README.md
  libs/@guardian/identity-auth/jest.config.ts
  libs/@guardian/identity-auth/jest.e2e.setup.js
  libs/@guardian/identity-auth/package.json
  libs/@guardian/identity-auth/project.json
  libs/@guardian/identity-auth/src/index.ts
  libs/@guardian/identity-auth/tsconfig.json
  libs/@guardian/identity-auth/tsconfig.spec.json
  pnpm-lock.yaml
Labels: 📦 npm

#627 Update roll up deps
  pnpm-lock.yaml
  tools/nx-plugins/npm-package/build/index.ts
  tools/nx-plugins/npm-package/package.json
Labels: 🛠 workspace

#628 Update with `browserslist-config` with June 2023 data
  .changeset/late-coins-wave.md
  libs/@guardian/browserslist-config/README.md
  libs/@guardian/browserslist-config/browserslist-stats.json
Labels: 📦 npm, @guardian/browserslist-config, run_chromatic

#588 `IdentityAuth` implementation in `@guardian/identity-auth`
  .changeset/heavy-lies-remain.md
  .github/CODEOWNERS
  libs/@guardian/identity-auth/README.md
  libs/@guardian/identity-auth/package.json
  libs/@guardian/identity-auth/src/@types/OAuth.ts
  libs/@guardian/identity-auth/src/@types/Token.ts
  libs/@guardian/identity-auth/src/__tests__/authState.test.ts
  libs/@guardian/identity-auth/src/__tests__/crypto.test.ts
  libs/@guardian/identity-auth/src/__tests__/emitter.test.ts
  libs/@guardian/identity-auth/src/__tests__/identityAuth.test.ts
  libs/@guardian/identity-auth/src/__tests__/token.test.ts
  libs/@guardian/identity-auth/src/__tests__/tokenManager.test.ts
  libs/@guardian/identity-auth/src/authState.ts
  libs/@guardian/identity-auth/src/crypto.ts
  libs/@guardian/identity-auth/src/emitter.ts
  libs/@guardian/identity-auth/src/error.ts
  libs/@guardian/identity-auth/src/identityAuth.ts
  libs/@guardian/identity-auth/src/index.ts
  libs/@guardian/identity-auth/src/token.ts
  libs/@guardian/identity-auth/src/tokenManager.ts
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#645 Update changeset codeowners
  .github/CODEOWNERS
Labels: run_chromatic

#641 Fix: Identity Auth - Store promise if `getWithoutPrompt` called multiple times.
  .changeset/seven-kings-juggle.md
  libs/@guardian/identity-auth/src/token.ts
Labels: 📦 npm, run_chromatic

#651 add picture design type
  .changeset/wild-buttons-jog.md
  libs/@guardian/libs/src/format/ArticleDesign.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#655 Update @nx/linter
  pnpm-lock.yaml
  tools/nx-plugins/eslint/executors.json
  tools/nx-plugins/eslint/executors/check/executor.ts
  tools/nx-plugins/eslint/executors/fix/executor.ts
  tools/nx-plugins/eslint/package.json
Labels: 🛠 workspace, run_chromatic

#658 Rescope all @nwrl packages to @nx
  .eslintrc.js
  .github/dependabot.yml
  jest.config.ts
  jest.preset.js
  libs/@csnx/hello-world/project.json
  libs/@guardian/ab-core/project.json
  libs/@guardian/ab-react/project.json
  libs/@guardian/atoms-rendering/project.json
  libs/@guardian/browserslist-config/project.json
  libs/@guardian/core-web-vitals/project.json
  libs/@guardian/eslint-config-typescript/project.json
  libs/@guardian/eslint-config/project.json
  libs/@guardian/eslint-plugin-source-foundations/project.json
  libs/@guardian/eslint-plugin-source-react-components/project.json
  libs/@guardian/identity-auth/project.json
  libs/@guardian/libs/project.json
  libs/@guardian/prettier/project.json
  libs/@guardian/source-foundations/project.json
  libs/@guardian/source-react-components-development-kitchen/project.json
  libs/@guardian/source-react-components/project.json
  libs/@guardian/tsconfig/project.json
  nx.json
  package.json
  pnpm-lock.yaml
  tools/nx-plugins/eslint/executors/check/executor.ts
  tools/nx-plugins/eslint/executors/fix/executor.ts
  tools/nx-plugins/npm-package/build/get-compiler-options.ts
  tools/nx-plugins/npm-package/build/index.ts
  tools/nx-plugins/npm-package/build/write-resolved-package-json.ts
Labels: 📦 lib, 🛠 workspace, 📦 npm, @guardian/libs, @guardian/browserslist-config, @guardian/eslint-config-typescript, @guardian/eslint-config, @guardian/prettier, @guardian/tsconfig, @guardian/ab-core, @guardian/ab-react, run_chromatic

#665 Rolling back `npm-package` to use TS 4.9.5
  libs/@guardian/ab-react/CHANGELOG.md
  libs/@guardian/ab-react/package.json
  libs/@guardian/atoms-rendering/CHANGELOG.md
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/CHANGELOG.md
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
  tools/nx-plugins/npm-package/package.json
Labels: 🛠 workspace, 📦 npm, @guardian/ab-react, run_chromatic

#675 feat(YoutubeAtom): player requires ad targeting
  .changeset/gentle-pumas-cheer.md
  libs/@guardian/atoms-rendering/src/YoutubeAtom.test.tsx
  libs/@guardian/atoms-rendering/src/YoutubeAtom.tsx
  libs/@guardian/atoms-rendering/src/YoutubeAtomPlayer.tsx
Labels: enhancement, 📦 npm, run_chromatic
