Repository guardian/csnx, pull requests merged in 2023-08, with the labels that each got.

#754 IdentityAuth | Add global session/identity cookie refresh functionality
  .changeset/slow-books-sit.md
  libs/@guardian/identity-auth/README.md
  libs/@guardian/identity-auth/src/@types/OAuth.ts
  libs/@guardian/identity-auth/src/@types/guard.ts
  libs/@guardian/identity-auth/src/__tests__/authState.test.ts
  libs/@guardian/identity-auth/src/__tests__/autoRenew.test.ts
  libs/@guardian/identity-auth/src/__tests__/cookieRefresh.test.ts
  libs/@guardian/identity-auth/src/__tests__/token.test.ts
  libs/@guardian/identity-auth/src/__tests__/tokenManager.test.ts
  libs/@guardian/identity-auth/src/cookieRefresh.ts
  libs/@guardian/identity-auth/src/identityAuth.ts
Labels: 📦 npm, run_chromatic

#764 Explain how our line heights meet WCAG SC 1.4.12
  libs/@guardian/source-foundations/src/typography/data.ts
Labels: 📚 Documentation, 📦 npm, run_chromatic

#760 feat(performance): add getMeasures method
  .changeset/honest-mice-hammer.md
  libs/@guardian/libs/src/performance/@types/measure.ts
  libs/@guardian/libs/src/performance/README.md
  libs/@guardian/libs/src/performance/getMeasures.ts
  libs/@guardian/libs/src/performance/startPerformanceMeasure.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#766 Actually export `getMeasures`
  .changeset/angry-needles-own.md
  libs/@guardian/libs/src/index.test.ts
  libs/@guardian/libs/src/index.ts
  libs/@guardian/libs/src/performance/getMeasures.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#767 Remove storybook-deployer
  .github/workflows/storybook.yml
  package.json
  pnpm-lock.yaml
Labels: run_chromatic

#773 Handle performance measures in older browsers
  .changeset/funny-readers-march.md
  libs/@guardian/libs/src/performance/@types/measure.ts
  libs/@guardian/libs/src/performance/getMeasures.ts
  libs/@guardian/libs/src/performance/serialise.ts
  libs/@guardian/libs/src/performance/startPerformanceMeasure.ts
Labels: Bug, 📦 npm, @guardian/libs, run_chromatic

#775 Handle browser lack of performance API support for `getMeasures`
  .changeset/small-icons-drop.md
  libs/@guardian/libs/src/performance/getMeasures.ts
Labels: Bug, 📦 npm, @guardian/libs, run_chromatic

#779 Update eslint
  libs/@guardian/eslint-config-typescript/package.json
  libs/@guardian/eslint-config/package.json
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  package.json
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/eslint-config-typescript, @guardian/eslint-config

#780 Revert "Update eslint (#779)"
  libs/@guardian/eslint-config-typescript/package.json
  libs/@guardian/eslint-config/package.json
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  package.json
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/eslint-config-typescript, @guardian/eslint-config

#781 Bump Jest packages to fix security vulnerability
  package.json
  pnpm-lock.yaml
Labels: run_chromatic

#784 Fix `getMeasures` so it return actual values
  .changeset/wise-wolves-sing.md
  libs/@guardian/libs/src/performance/@types/measure.ts
  libs/@guardian/libs/src/performance/getMeasures.ts
Labels: Bug, 📦 npm, @guardian/libs, run_chromatic

#782 Update ESLint
  package.json
  pnpm-lock.yaml
Labels: run_chromatic

#783 Add a new `@guardian/identity-auth-frontend` library which takes care of setting up `@guardian/identity-auth` for DCR, Frontend, and Commerci
  .github/CODEOWNERS
  @types/window.d.ts
  README.md
  libs/@guardian/identity-auth-frontend/.eslintrc.json
  libs/@guardian/identity-auth-frontend/CHANGELOG.md
  libs/@guardian/identity-auth-frontend/README.MD
  libs/@guardian/identity-auth-frontend/jest.config.ts
  libs/@guardian/identity-auth-frontend/jest.e2e.setup.js
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth-frontend/project.json
  libs/@guardian/identity-auth-frontend/src/__tests__/index.test.ts
  libs/@guardian/identity-auth-frontend/src/index.ts
  libs/@guardian/identity-auth-frontend/tsconfig.json
  libs/@guardian/identity-auth-frontend/tsconfig.spec.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#791 Release `@guardian/identity-auth-frontend`
  .changeset/twenty-hotels-type.md
  libs/@guardian/identity-auth-frontend/CHANGELOG.md
  libs/@guardian/identity-auth-frontend/package.json
Labels: 📦 npm, run_chromatic

#792 Release `@guardian/identity-auth` 1.0
  .changeset/odd-rice-check.md
Labels: run_chromatic

#794 Release `@guardian/identity-auth-frontend` v1.0
  .changeset/healthy-sheep-sniff.md
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth-frontend/src/index.ts
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#804 Make labels in logs from `logger` less full on
  .changeset/dry-brooms-sparkle.md
  libs/@guardian/libs/src/logger/log.ts
  libs/@guardian/libs/src/logger/teamStyles.ts
  libs/@guardian/libs/static/logger.svg
Labels: 📦 npm, @guardian/libs, run_chromatic

#803 Log numbers from `performance` in `@guardian/libs`
  .changeset/two-mails-cheat.md
  @types/window.d.ts
  libs/@guardian/libs/README.md
  libs/@guardian/libs/scripts/generateSvg.logger.teams.ts
  libs/@guardian/libs/src/deprecated-exports.ts
  libs/@guardian/libs/src/index.ts
  libs/@guardian/libs/src/logger/@types/logger.ts
  libs/@guardian/libs/src/logger/README.md
  libs/@guardian/libs/src/logger/log.ts
  libs/@guardian/libs/src/logger/logger.test.ts
  libs/@guardian/libs/src/logger/subscriptions.ts
  libs/@guardian/libs/src/performance/@types/measure.ts
  libs/@guardian/libs/src/performance/README.md
  libs/@guardian/libs/src/performance/getMeasures.ts
  libs/@guardian/libs/src/performance/log.ts
  libs/@guardian/libs/src/performance/serialise.ts
  libs/@guardian/libs/src/performance/startPerformanceMeasure.ts
  libs/@guardian/libs/static/logger.svg
Labels: 📦 npm, @guardian/libs, run_chromatic

#692 Add 'key' and 'length' methods to Storage
  libs/@guardian/libs/src/storage/README.md
  libs/@guardian/libs/src/storage/storage.test.ts
  libs/@guardian/libs/src/storage/storage.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#807 Identity Auth | Make strict clock skew check optional
  .changeset/shiny-ears-join.md
  libs/@guardian/identity-auth/README.md
  libs/@guardian/identity-auth/src/@types/OAuth.ts
  libs/@guardian/identity-auth/src/__tests__/authState.test.ts
  libs/@guardian/identity-auth/src/__tests__/autoRenew.test.ts
  libs/@guardian/identity-auth/src/__tests__/token.test.ts
  libs/@guardian/identity-auth/src/__tests__/tokenManager.test.ts
  libs/@guardian/identity-auth/src/identityAuth.ts
  libs/@guardian/identity-auth/src/token.ts
  libs/@guardian/identity-auth/src/tokenManager.ts
Labels: 📦 npm, run_chromatic
