Repository guardian/csnx, pull requests merged in 2023-07, with the labels that each got.

#682 Fix ad targeting for YoutubeAtom stories
  .changeset/bright-trainers-protect.md
  libs/@guardian/atoms-rendering/src/YoutubeAtom.stories.tsx
Labels: 📦 npm, run_chromatic

#674 Identity Auth | Set up `AutoRenewService` and update type definitions for `IdentityAuthState`
  .changeset/clever-swans-bathe.md
  libs/@guardian/identity-auth/README.md
  libs/@guardian/identity-auth/src/@types/OAuth.ts
  libs/@guardian/identity-auth/src/__tests__/autoRenew.test.ts
  libs/@guardian/identity-auth/src/__tests__/identityAuth.test.ts
  libs/@guardian/identity-auth/src/__tests__/tokenManager.test.ts
  libs/@guardian/identity-auth/src/authState.ts
  libs/@guardian/identity-auth/src/autoRenew.ts
  libs/@guardian/identity-auth/src/emitter.ts
  libs/@guardian/identity-auth/src/identityAuth.ts
  libs/@guardian/identity-auth/src/index.ts
  libs/@guardian/identity-auth/src/token.ts
  libs/@guardian/identity-auth/src/tokenManager.ts
Labels: 📦 npm, run_chromatic

#683 Use NX Cloud
  .github/workflows/ci.yml
  nx.json
Labels: 🛠 workspace, run_chromatic

#689 Fix `CODEOWNERS` Paths
  .github/CODEOWNERS
Labels: run_chromatic

#680 Deprecate `@guardian/libs`'s `ArticlePillar` in favour of `Pillar`.
  .changeset/hip-walls-pretend.md
  libs/@guardian/libs/src/deprecated-exports.ts
  libs/@guardian/libs/src/format/ArticleTheme.ts
  libs/@guardian/libs/src/format/Pillar.ts
  libs/@guardian/libs/src/format/format.test.ts
  libs/@guardian/libs/src/index.test.ts
  libs/@guardian/libs/src/index.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#691 Don't snapshot the YoutubeAtom no overlay story
  libs/@guardian/atoms-rendering/src/YoutubeAtom.stories.tsx
Labels: 📦 npm, run_chromatic

#696 Remove `axios` in favour of native `fetch`
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source-react-components/scripts/create-icons/get-svgs-from-figma.ts
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#695 Update packages with dependency on Semver
  .changeset/shiny-shirts-hug.md
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
  package.json
  pnpm-lock.yaml
  tools/nx-plugins/npm-package/package.json
Labels: 🛠 workspace, 📦 npm, run_chromatic

#702 Upgrade `cpy` package
  pnpm-lock.yaml
  tools/nx-plugins/npm-package/build/index.ts
  tools/nx-plugins/npm-package/package.json
Labels: 🛠 workspace, run_chromatic

#703 Identity Auth | Change token storage/verification, and refactor certain methods
  .changeset/olive-seals-give.md
  libs/@guardian/identity-auth/README.md
  libs/@guardian/identity-auth/src/@types/Token.ts
  libs/@guardian/identity-auth/src/__tests__/token.test.ts
  libs/@guardian/identity-auth/src/__tests__/tokenManager.test.ts
  libs/@guardian/identity-auth/src/identityAuth.ts
  libs/@guardian/identity-auth/src/token.ts
  libs/@guardian/identity-auth/src/tokenManager.ts
Labels: 📦 npm, run_chromatic

#727 Add card and carousel component types
  .changeset/pretty-laws-beg.md
  libs/@guardian/libs/src/ophan/@types/index.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#715 Update browserslist with last 30 days data
  .changeset/clever-peaches-guess.md
  libs/@guardian/browserslist-config/README.md
  libs/@guardian/browserslist-config/browserslist-stats.json
Labels: 📦 npm, @guardian/browserslist-config, run_chromatic

#733 feat: add collection of INP metrics to core-web-vitals
  .changeset/dull-olives-applaud.md
  .changeset/serious-yaks-pull.md
  libs/@guardian/core-web-vitals/src/@types/CoreWebVitalsPayload.ts
  libs/@guardian/core-web-vitals/src/index.test.ts
  libs/@guardian/core-web-vitals/src/index.ts
Labels: 📦 npm, run_chromatic

#729 Helper to measure durations and create `PerformanceMeasure`s
  .changeset/spicy-pugs-smell.md
  libs/@guardian/libs/src/index.test.ts
  libs/@guardian/libs/src/index.ts
  libs/@guardian/libs/src/performance/@types/measure.ts
  libs/@guardian/libs/src/performance/README.md
  libs/@guardian/libs/src/performance/serialise.ts
  libs/@guardian/libs/src/performance/startPerformanceMeasure.test.ts
  libs/@guardian/libs/src/performance/startPerformanceMeasure.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#721 Extend youtube atom API for autopausing and text overlay
  libs/@guardian/atoms-rendering/src/YoutubeAtom.stories.tsx
  libs/@guardian/atoms-rendering/src/YoutubeAtom.tsx
  libs/@guardian/atoms-rendering/src/YoutubeAtomOverlay.tsx
  libs/@guardian/atoms-rendering/src/YoutubeAtomPlayer.tsx
  libs/@guardian/atoms-rendering/src/YoutubeAtomSticky.tsx
Labels: 📦 npm, run_chromatic

#751 Add changeset for youtube api changes
  .changeset/neat-cougars-sniff.md
Labels: run_chromatic

#750 Update line heights
  .github/workflows/ci.yml
  libs/@guardian/source-foundations/CHANGELOG.md
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/src/typography/data.ts
  libs/@guardian/source-foundations/src/typography/storybookTypographyRenderers.tsx
  libs/@guardian/source-foundations/src/typography/typography.stories.mdx
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#757 Update Accordion styles
  libs/@guardian/source-react-components/src/accordion/styles.ts
Labels: 📦 npm, run_chromatic

#758 Adjust checkbox and radio button label alignment to account for line height reduction
  libs/@guardian/source-react-components/src/checkbox/styles.ts
  libs/@guardian/source-react-components/src/radio/styles.ts
Labels: 📦 npm

#759 Update Select component spacing
  libs/@guardian/source-react-components/src/select/Select.stories.tsx
  libs/@guardian/source-react-components/src/select/Select.tsx
  libs/@guardian/source-react-components/src/select/styles.ts
Labels: 📦 npm

#753 Update `source-foundations` version in `source-react-components` and other packages
  libs/@guardian/atoms-rendering/CHANGELOG.md
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/eslint-plugin-source-foundations/CHANGELOG.md
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/CHANGELOG.md
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/CHANGELOG.md
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source-react-components/src/accordion/styles.ts
  libs/@guardian/source-react-components/src/checkbox/styles.ts
  libs/@guardian/source-react-components/src/radio/styles.ts
  libs/@guardian/source-react-components/src/select/Select.stories.tsx
  libs/@guardian/source-react-components/src/select/Select.tsx
  libs/@guardian/source-react-components/src/select/styles.ts
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic
