Repository guardian/csnx, pull requests merged in 2023-01, with the labels that each got.

#332 Update browserslist stats
  .changeset/brave-zebras-listen.md
  libs/@guardian/browserslist-config/README.md
  libs/@guardian/browserslist-config/browserslist-stats.json
  libs/@guardian/browserslist-config/package.json
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/browserslist-config

#344 loadScript rejects with more helpful error messages
  .changeset/four-apples-wink.md
  libs/@guardian/libs/src/loadScript/loadScript.test.ts
  libs/@guardian/libs/src/loadScript/loadScript.ts
Labels: 📦 npm, @guardian/libs

#357 Update atoms-rendering yarn link instructions in readme
  libs/@guardian/atoms-rendering/README.md
Labels: 📦 npm

#343 Add explainer for YT stories in composed storybook
  libs/@guardian/atoms-rendering/src/YoutubeAtom.stories.tsx
Labels: 📦 npm

#356 Add Atoms-Rendering types output dir to tsconfig
  .changeset/nasty-eels-eat.md
  libs/@guardian/atoms-rendering/src/index.test.ts
  libs/@guardian/atoms-rendering/src/index.ts
Labels: 📦 npm

#360 Add data-ignore attribute to KnowledgeQuiz atoms <ol> to avoid duplicate list numbers
  .changeset/shaggy-ways-love.md
  libs/@guardian/atoms-rendering/src/KnowledgeQuiz.tsx
Labels: 📦 npm

#342 Refactor countries to use inferred types
  .changeset/friendly-apes-fry.md
  libs/@guardian/libs/src/countries/@types/Country.ts
  libs/@guardian/libs/src/countries/@types/CountryCode.ts
  libs/@guardian/libs/src/countries/@types/CountryKey.ts
  libs/@guardian/libs/src/countries/countries.test.ts
  libs/@guardian/libs/src/countries/countries.ts
Labels: 📦 npm, @guardian/libs

#365 Feat: extend article design types to include Profile and Timeline
  .changeset/violet-shirts-serve.md
  libs/@guardian/libs/src/format/ArticleDesign.ts
Labels: 📦 npm, @guardian/libs

#341 Add `@guardian/ab-core` library
  .changeset/yellow-mice-thank.md
  .github/labeler.yml
  README.md
  libs/@guardian/ab-core/.eslintrc.json
  libs/@guardian/ab-core/README.md
  libs/@guardian/ab-core/jest.config.ts
  libs/@guardian/ab-core/jest.e2e.setup.js
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-core/project.json
  libs/@guardian/ab-core/src/@types/index.ts
  libs/@guardian/ab-core/src/ab.test.ts
  libs/@guardian/ab-core/src/ab.ts
  libs/@guardian/ab-core/src/core.test.ts
  libs/@guardian/ab-core/src/core.ts
  libs/@guardian/ab-core/src/fixture.ts
  libs/@guardian/ab-core/src/index.ts
  libs/@guardian/ab-core/src/ophan.ts
  libs/@guardian/ab-core/src/time.test.ts
  libs/@guardian/ab-core/src/time.ts
  libs/@guardian/ab-core/tsconfig.json
  libs/@guardian/ab-core/tsconfig.spec.json
  pnpm-lock.yaml
  tsconfig.base.json
  workspace.json
Labels: 🛠 workspace, 📦 npm

#377 Bump @guardian/source-foundations
  .changeset/honest-oranges-guess.md
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Labels: 📦 npm

#379 Bump @guardian/source-react-components to v10.0.1
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  pnpm-lock.yaml
Labels: 📦 npm

#380 Update @guardian/packages
  .changeset/late-terms-buy.md
  libs/@guardian/atoms-rendering/package.json
  pnpm-lock.yaml
Labels: 📦 npm

#371 Add `@guardian/ab-react` library
  .changeset/perfect-windows-jog.md
  .github/labeler.yml
  README.md
  libs/@guardian/ab-core/README.md
  libs/@guardian/ab-react/.eslintrc.json
  libs/@guardian/ab-react/README.md
  libs/@guardian/ab-react/jest.config.ts
  libs/@guardian/ab-react/jest.e2e.setup.js
  libs/@guardian/ab-react/package.json
  libs/@guardian/ab-react/project.json
  libs/@guardian/ab-react/src/context.test.tsx
  libs/@guardian/ab-react/src/context.tsx
  libs/@guardian/ab-react/src/index.ts
  libs/@guardian/ab-react/tsconfig.json
  libs/@guardian/ab-react/tsconfig.spec.json
  pnpm-lock.yaml
  tsconfig.base.json
  workspace.json
Labels: 🛠 workspace, 📦 npm, @guardian/ab-core

#385 Edit icon update
  .changeset/rude-humans-unite.md
  libs/@guardian/source-react-components/vendor/icons/SvgEdit.tsx
Labels: 📦 npm
