Repository guardian/csnx, pull requests merged in 2023-05, with the labels that each got.

#531 Remove unpublished package versions from change logs
  libs/@guardian/atoms-rendering/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components/CHANGELOG.md
Labels: 📦 npm, run_chromatic

#517 Update `create-icons` accessible label list
  .changeset/old-mugs-sip.md
  libs/@guardian/source-react-components/scripts/README.md
  libs/@guardian/source-react-components/src/icons/labels.ts
Labels: 📦 npm, run_chromatic

#536 Update atoms-rendering commercial and cmp deps
  .changeset/healthy-points-occur.md
  libs/@guardian/atoms-rendering/package.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#541 Fix labeler permissions
  .github/workflows/labeler.yml
Labels: run_chromatic

#540 Update nx and related deps
  apps/csnx/project.json
  libs/@csnx/hello-world/project.json
  libs/@guardian/ab-core/project.json
  libs/@guardian/ab-react/project.json
  libs/@guardian/atoms-rendering/project.json
  libs/@guardian/browserslist-config/project.json
  libs/@guardian/core-web-vitals/project.json
  libs/@guardian/eslint-config-typescript/project.json
  libs/@guardian/eslint-config/project.json
  libs/@guardian/eslint-plugin-source-foundations/project.json
  libs/@guardian/eslint-plugin-source-react-components/project.json
  libs/@guardian/libs/project.json
  libs/@guardian/prettier/project.json
  libs/@guardian/source-foundations/project.json
  libs/@guardian/source-react-components-development-kitchen/project.json
  libs/@guardian/source-react-components/project.json
  libs/@guardian/tsconfig/project.json
  nx.json
  package.json
  pnpm-lock.yaml
Labels: 📦 lib, 🛠 workspace, 📦 npm, @guardian/libs, @guardian/browserslist-config, @guardian/eslint-config-typescript, @guardian/eslint-config, @guardian/prettier, @guardian/tsconfig, @guardian/ab-core, @guardian/ab-react, run_chromatic

#561 update storybook to 7.0.12
  package.json
  pnpm-lock.yaml
Labels: run_chromatic

#553 Refactor build package to fix security issue
  pnpm-lock.yaml
  tools/nx-plugins/npm-package/build/write-resolved-package-json.ts
  tools/nx-plugins/npm-package/package.json
Labels: 🛠 workspace, run_chromatic

#562 Fix ci write permissions
  .github/workflows/changesets.yml
  .github/workflows/storybook.yml
Labels: run_chromatic

#573 Add Jest as common dependency to workspace root
  libs/@csnx/hello-world/package.json
  package.json
  pnpm-lock.yaml
Labels: 📦 lib, run_chromatic

#575 Give write permissions to changesets and storybook actions
  .github/workflows/changesets.yml
  .github/workflows/storybook.yml
Labels: run_chromatic

#577 Skip Chromatic in Dependabot PRs
  .github/workflows/ci.yml
Labels: run_chromatic

#578 Update Emotion packages
  libs/@guardian/ab-react/package.json
  libs/@guardian/atoms-rendering/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
  package.json
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/ab-react, run_chromatic

#580 Update how we detect Dependabot PRs in CI workflow
  .github/workflows/ci.yml
Labels: run_chromatic

#585 docs: fix link to CSS Resets docs
  libs/@guardian/source-foundations/src/utils/resets.ts
Labels: 📚 Documentation, 📦 npm, run_chromatic

#593 Debug: echo workflow run actor and context
  .github/workflows/ci.yml
Labels: run_chromatic
