Repository guardian/csnx, pull requests merged in 2024-10, with the labels that each got.

#1720 Revert "Remove `ArticleDesign.PrintShop`"
  .changeset/small-bats-help.md
  libs/@guardian/libs/src/format/ArticleDesign.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#1728 Remove padding from Ticker component
  .changeset/olive-pears-tickle.md
  libs/@guardian/source-development-kitchen/src/react-components/ticker/Ticker.tsx
Labels: 📦 npm, run_chromatic

#1732 Remove the unused format prop from ToggleSwitch
  .changeset/tame-geese-bathe.md
  libs/@guardian/source-development-kitchen/src/react-components/toggle-switch/ToggleSwitch.stories.tsx
  libs/@guardian/source-development-kitchen/src/react-components/toggle-switch/ToggleSwitch.tsx
  libs/@guardian/source-development-kitchen/src/react-components/toggle-switch/styles.ts
Labels: 📦 npm, run_chromatic

#1731 Remove EditorialButton and EditorialLinkButton components
  .changeset/fifty-emus-smash.md
  libs/@guardian/source-development-kitchen/src/react-components/editorial-button/EditorialButton.stories.tsx
  libs/@guardian/source-development-kitchen/src/react-components/editorial-button/EditorialButton.tsx
  libs/@guardian/source-development-kitchen/src/react-components/editorial-button/EditorialLinkButton.stories.tsx
  libs/@guardian/source-development-kitchen/src/react-components/editorial-button/EditorialLinkButton.tsx
  libs/@guardian/source-development-kitchen/src/react-components/editorial-button/README.md
  libs/@guardian/source-development-kitchen/src/react-components/editorial-button/styles.ts
  libs/@guardian/source-development-kitchen/src/react-components/editorial-button/types.ts
  libs/@guardian/source-development-kitchen/src/react-components/index.test.ts
  libs/@guardian/source-development-kitchen/src/react-components/index.ts
Labels: 📦 npm, run_chromatic

#1730 Remove QuoteIcon
  .changeset/perfect-vans-obey.md
  libs/@guardian/source-development-kitchen/src/react-components/index.test.ts
  libs/@guardian/source-development-kitchen/src/react-components/index.ts
  libs/@guardian/source-development-kitchen/src/react-components/logo/README.md
  libs/@guardian/source-development-kitchen/src/react-components/quote-icon/QuoteIcon.stories.tsx
  libs/@guardian/source-development-kitchen/src/react-components/quote-icon/QuoteIcon.tsx
  libs/@guardian/source-development-kitchen/src/react-components/quote-icon/README.md
Labels: 📦 npm, run_chromatic

#1735 Fix broken link in Source README.md
  libs/@guardian/source/README.md
Labels: 📦 npm, run_chromatic

#1748 Update to node 22
  .nvmrc
  Makefile
  package.json
  pnpm-lock.yaml
  scripts/lint-node.js
  scripts/package.json
Labels: run_chromatic

#1749 Adds `eslint-plugin-react-hooks` to `eslint` config
  libs/@guardian/eslint-config/CHANGELOG.md
  libs/@guardian/eslint-config/configs/react.js
  libs/@guardian/eslint-config/package.json
  libs/@guardian/source/src/react-components/checkbox/Checkbox.stories.tsx
  libs/@guardian/source/src/react-components/checkbox/CheckboxGroup.stories.tsx
  libs/@guardian/source/src/react-components/choice-card/ChoiceCardGroup.stories.tsx
  libs/@guardian/source/src/react-components/text-area/TextArea.stories.tsx
  libs/@guardian/source/src/react-components/text-input/TextInput.stories.tsx
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/eslint-config, run_chromatic

#1750 Fix missing types in `@guardian/eslint-config`
  libs/@guardian/eslint-config/CHANGELOG.md
  libs/@guardian/eslint-config/package.json
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/eslint-config, run_chromatic
