Repository guardian/csnx, pull requests merged in 2024-12, with the labels that each got.

#1818 Use applicableSections and supportedAPIs to get consentState
  .changeset/twenty-parrots-help.md
  libs/@guardian/libs/src/consent-management-platform/usnat/getConsentState.test.js
  libs/@guardian/libs/src/consent-management-platform/usnat/getConsentState.ts
Labels: 📦 npm, @guardian/libs, run_chromatic, 🐥 Canaries

#1825 Single interactive grid component
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/components/Crossword.stories.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/components/InteractiveGrid.tsx
  libs/@guardian/react-crossword/src/components/Layout.tsx
  libs/@guardian/react-crossword/src/hooks/useGridWidth.ts
  libs/@guardian/react-crossword/src/hooks/useWidthForCols.ts
Labels: 📦 npm, run_chromatic

#1830 Word wheel storybook fix
  libs/@guardian/react-crossword/src/components/AnagramHelper.tsx
  libs/@guardian/react-crossword/src/components/WordWheel.stories.tsx
  libs/@guardian/react-crossword/src/components/WordWheel.tsx
Labels: 📦 npm, run_chromatic

#1832 Add the Anagram helper to the Interactive grid
  libs/@guardian/react-crossword/src/components/AnagramHelper.tsx
  libs/@guardian/react-crossword/src/components/Controls.stories.tsx
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/components/InteractiveGrid.tsx
Labels: 📦 npm, run_chromatic

#1834 Refactor custom layout
  libs/@guardian/react-crossword/src/@types/Layout.ts
  libs/@guardian/react-crossword/src/components/AnagramHelper.tsx
  libs/@guardian/react-crossword/src/components/Clues.tsx
  libs/@guardian/react-crossword/src/components/Controls.stories.tsx
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/components/Crossword.stories.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/components/InteractiveGrid.tsx
  libs/@guardian/react-crossword/src/components/Layout.tsx
  libs/@guardian/react-crossword/src/context/ContextProvider.tsx
  libs/@guardian/react-crossword/src/context/UI.tsx
  libs/@guardian/react-crossword/src/hooks/useGridWidth.ts
  libs/@guardian/react-crossword/src/hooks/useWidthForCols.ts
  libs/@guardian/react-crossword/src/index.ts
  libs/@guardian/react-crossword/src/layouts/ScreenLayout.tsx
Labels: 📦 npm, run_chromatic

#1835 Crossword - Add Valid Answers State
  libs/@guardian/react-crossword/src/components/AnagramHelper.tsx
  libs/@guardian/react-crossword/src/components/Clue.tsx
  libs/@guardian/react-crossword/src/components/Clues.stories.tsx
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/context/ContextProvider.tsx
  libs/@guardian/react-crossword/src/context/Progress.tsx
  libs/@guardian/react-crossword/src/context/ValidAnswers.tsx
  libs/@guardian/react-crossword/src/hooks/useClearUserInput.ts
  libs/@guardian/react-crossword/src/hooks/useUpdateCell.ts
  libs/@guardian/react-crossword/src/utils/getNewProgress.ts
Labels: 📦 npm, run_chromatic

#1837 Add cheat mode to crossword
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/hooks/useCheatMode.ts
Labels: 📦 npm, run_chromatic

#1836 ErrorSummary component update
  .changeset/flat-comics-clap.md
  libs/@guardian/source-development-kitchen/src/react-components/summary/ErrorSummary.tsx
Labels: 📦 npm, run_chromatic

#1844 Simple Anagram Helper
  libs/@guardian/react-crossword/.storybook/preview-head.html
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/AnagramHelper.stories.tsx
  libs/@guardian/react-crossword/src/components/AnagramHelper.tsx
  libs/@guardian/react-crossword/src/components/SolutionDisplay.stories.tsx
  libs/@guardian/react-crossword/src/components/SolutionDisplay.tsx
  libs/@guardian/react-crossword/src/components/SolutionDisplayCell.stories.tsx
  libs/@guardian/react-crossword/src/components/SolutionDisplayCell.tsx
  libs/@guardian/react-crossword/src/components/SolutionDisplayKey.stories.tsx
  libs/@guardian/react-crossword/src/components/SolutionDisplayKey.tsx
  libs/@guardian/react-crossword/src/components/WordWheel.tsx
  libs/@guardian/react-crossword/src/theme.ts
  libs/@guardian/react-crossword/src/utils/biasedShuffle.ts
  libs/@guardian/react-crossword/src/utils/getCellsWithProgressForGroup.ts
  libs/@guardian/react-crossword/stories/formats/grouped-clues.progress.ts
Labels: 📦 npm, run_chromatic

#1845 Rename theme props
  libs/@guardian/react-crossword/package.json
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/AnagramHelper.tsx
  libs/@guardian/react-crossword/src/components/Cell.stories.tsx
  libs/@guardian/react-crossword/src/components/Cell.tsx
  libs/@guardian/react-crossword/src/components/Clue.tsx
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/components/Crossword.stories.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/components/SolutionDisplay.tsx
  libs/@guardian/react-crossword/src/components/WordWheel.tsx
  libs/@guardian/react-crossword/src/layouts/ScreenLayout.tsx
  libs/@guardian/react-crossword/src/theme.ts
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1849 Make keyboard appear on mobile and Ipad
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/layouts/ScreenLayout.tsx
Labels: 📦 npm, run_chromatic

#1848 Identity Auth | Account for `profile` subdomain in `redirect_uri`
  .changeset/big-donkeys-move.md
  libs/@guardian/identity-auth-frontend/src/index.ts
Labels: 📦 npm, run_chromatic

#1850 provide more crossword customisation options
  libs/@guardian/react-crossword/src/@types/Layout.ts
  libs/@guardian/react-crossword/src/components/AnagramHelper.stories.tsx
  libs/@guardian/react-crossword/src/components/Clue.stories.tsx
  libs/@guardian/react-crossword/src/components/Clues.stories.tsx
  libs/@guardian/react-crossword/src/components/Clues.tsx
  libs/@guardian/react-crossword/src/components/Controls.stories.tsx
  libs/@guardian/react-crossword/src/components/Crossword.stories.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/components/Grid.stories.tsx
  libs/@guardian/react-crossword/src/components/SolutionDisplay.stories.tsx
  libs/@guardian/react-crossword/src/components/WordWheel.stories.tsx
  libs/@guardian/react-crossword/src/context/ContextProvider.tsx
  libs/@guardian/react-crossword/src/context/Theme.tsx
  libs/@guardian/react-crossword/src/layouts/ScreenLayout.tsx
Labels: 📦 npm, run_chromatic, 🐥 Canaries

#1852 supress warning
  libs/@guardian/react-crossword/src/components/Grid.tsx
Labels: 📦 npm, run_chromatic

#1853 use input to capture key press on android
  libs/@guardian/react-crossword/src/components/Grid.tsx
Labels: 📦 npm, run_chromatic

#1857 Make the controls tabbable
  libs/@guardian/react-crossword/src/components/AnagramHelper.tsx
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/components/CrosswordButton.tsx
Labels: 📦 npm, run_chromatic

#1861 Memoize clues label
  libs/@guardian/react-crossword/src/components/Clues.tsx
Labels: 📦 npm, run_chromatic

#1862 Improve controls a11y
  libs/@guardian/react-crossword/src/components/Controls.tsx
Labels: 📦 npm, run_chromatic

#1864 Make type for current cell context a Cell type
  libs/@guardian/react-crossword/src/components/Clues.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/context/CurrentCell.tsx
Labels: 📦 npm, run_chromatic

#1846 Create const for sourcepoint choice type id
  libs/@guardian/libs/src/consent-management-platform/lib/sourcepointConfig.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#1863 Improve clue list a11y
  libs/@guardian/react-crossword/src/components/Clue.tsx
  libs/@guardian/react-crossword/src/components/Clues.tsx
Labels: 📦 npm, run_chromatic

#1865 Focus crossword grid and bug fixes
  libs/@guardian/react-crossword/src/components/Grid.tsx
Labels: 📦 npm, run_chromatic

#1867 Standardise crossword event handler names
  libs/@guardian/react-crossword/src/components/Clues.tsx
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/components/CrosswordButton.tsx
  libs/@guardian/react-crossword/src/hooks/useCheatMode.ts
Labels: 📦 npm, run_chromatic

#1866 A11y crossword grid
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/utils/formatClueForScreenReader.test.ts
  libs/@guardian/react-crossword/src/utils/formatClueForScreenReader.ts
Labels: 📦 npm, run_chromatic

#1868 refactor UI context to ShowAnagramHelper
  libs/@guardian/react-crossword/src/components/AnagramHelper.tsx
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/context/ContextProvider.tsx
  libs/@guardian/react-crossword/src/context/ShowAnagramHelper.tsx
  libs/@guardian/react-crossword/src/layouts/ScreenLayout.tsx
Labels: 📦 npm, run_chromatic
