Repository guardian/csnx, pull requests merged in 2024-02, with the labels that each got.

#1141 Add `theme` prop to Accordion component
  libs/@guardian/source-react-components/src/accordion/Accordion.stories.tsx
  libs/@guardian/source-react-components/src/accordion/Accordion.tsx
  libs/@guardian/source-react-components/src/accordion/AccordionRow.tsx
  libs/@guardian/source-react-components/src/accordion/AccordionRowNoJS.tsx
  libs/@guardian/source-react-components/src/accordion/shared.ts
  libs/@guardian/source-react-components/src/accordion/styles.ts
  libs/@guardian/source-react-components/src/accordion/theme.ts
Labels: 📦 npm

#1146 Add `theme` prop to the user feedback component
  libs/@guardian/source-react-components/src/user-feedback/InlineError.stories.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineError.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineSuccess.stories.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineSuccess.tsx
  libs/@guardian/source-react-components/src/user-feedback/shared.ts
  libs/@guardian/source-react-components/src/user-feedback/styles.ts
  libs/@guardian/source-react-components/src/user-feedback/theme.ts
  libs/@guardian/source-react-components/src/user-feedback/types.ts
Labels: 📦 npm, run_chromatic

#1130 Add `dev` tasks to packages with unit tests
  Makefile
  README.md
  libs/@guardian/ab-core/project.json
  libs/@guardian/ab-react/project.json
  libs/@guardian/core-web-vitals/project.json
  libs/@guardian/eslint-plugin-source-foundations/project.json
  libs/@guardian/eslint-plugin-source-react-components/project.json
  libs/@guardian/identity-auth-frontend/project.json
  libs/@guardian/identity-auth/project.json
  libs/@guardian/libs/project.json
  libs/@guardian/newsletter-types/project.json
  libs/@guardian/source-foundations/project.json
  libs/@guardian/source-react-components-development-kitchen/project.json
  libs/@guardian/source-react-components/project.json
  tools/scripts/maintain-readme/index.mjs
Labels: 🛠 workspace, 📦 npm, @guardian/libs, @guardian/ab-core, @guardian/ab-react, run_chromatic

#1131 Require unit tests where jest is configured
  libs/@guardian/ab-core/project.json
  libs/@guardian/ab-react/project.json
  libs/@guardian/core-web-vitals/project.json
  libs/@guardian/eslint-plugin-source-foundations/project.json
  libs/@guardian/eslint-plugin-source-react-components/project.json
  libs/@guardian/identity-auth-frontend/project.json
  libs/@guardian/identity-auth/project.json
  libs/@guardian/libs/project.json
  libs/@guardian/newsletter-types/project.json
  libs/@guardian/source-foundations/project.json
  libs/@guardian/source-react-components-development-kitchen/project.json
  libs/@guardian/source-react-components/project.json
Labels: 📦 npm, @guardian/libs, @guardian/ab-core, @guardian/ab-react, run_chromatic

#1135 Add `theme` prop to the button component
  .github/workflows/ci.yml
  libs/@guardian/source-react-components/src/button/Button.stories.tsx
  libs/@guardian/source-react-components/src/button/Button.tsx
  libs/@guardian/source-react-components/src/button/LinkButton.stories.tsx
  libs/@guardian/source-react-components/src/button/LinkButton.tsx
  libs/@guardian/source-react-components/src/button/styles.ts
  libs/@guardian/source-react-components/src/button/theme-reader-revenue.ts
  libs/@guardian/source-react-components/src/button/theme.ts
  libs/@guardian/source-react-components/src/button/types.ts
  libs/@guardian/source-react-components/src/index.ts
Labels: 📦 npm

#1132 Update `@guardian/eslint-plugin-source-react-components` dependencies
  .changeset/hungry-trainers-divide.md
  libs/@guardian/eslint-plugin-source-react-components/package.json
  pnpm-lock.yaml
Labels: dependencies, run_chromatic

#1092 Add theme prop to checkbox component and deprecate old themes
  libs/@guardian/source-react-components/src/checkbox/Checkbox.stories.tsx
  libs/@guardian/source-react-components/src/checkbox/Checkbox.tsx
  libs/@guardian/source-react-components/src/checkbox/LabelText.tsx
  libs/@guardian/source-react-components/src/checkbox/SupportingText.tsx
  libs/@guardian/source-react-components/src/checkbox/styles.ts
  libs/@guardian/source-react-components/src/checkbox/theme.ts
Labels: 📦 npm

#1147 Add `theme` prop support to Radio buttons
  libs/@guardian/source-react-components/src/radio/Radio.stories.tsx
  libs/@guardian/source-react-components/src/radio/Radio.tsx
  libs/@guardian/source-react-components/src/radio/RadioGroup.stories.tsx
  libs/@guardian/source-react-components/src/radio/RadioGroup.tsx
  libs/@guardian/source-react-components/src/radio/styles.ts
  libs/@guardian/source-react-components/src/radio/theme.ts
Labels: 📦 npm, run_chromatic

#1162 Add `theme` prop to checkbox group and label
  .github/workflows/ci.yml
  libs/@guardian/source-react-components/src/checkbox/Checkbox.tsx
  libs/@guardian/source-react-components/src/checkbox/CheckboxGroup.stories.tsx
  libs/@guardian/source-react-components/src/checkbox/CheckboxGroup.tsx
  libs/@guardian/source-react-components/src/checkbox/theme.ts
  libs/@guardian/source-react-components/src/label/Label.stories.tsx
  libs/@guardian/source-react-components/src/label/Label.tsx
  libs/@guardian/source-react-components/src/label/Legend.tsx
  libs/@guardian/source-react-components/src/label/SupportingText.tsx
  libs/@guardian/source-react-components/src/label/Text.tsx
  libs/@guardian/source-react-components/src/label/shared.ts
  libs/@guardian/source-react-components/src/label/styles.ts
  libs/@guardian/source-react-components/src/label/theme.ts
  libs/@guardian/source-react-components/src/label/types.ts
  libs/@guardian/source-react-components/src/user-feedback/InlineError.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineSuccess.tsx
  libs/@guardian/source-react-components/src/user-feedback/shared.ts
Labels: 📦 npm

#1149 Add `theme` prop to the link component
  libs/@guardian/source-react-components/src/link/ButtonLink.stories.tsx
  libs/@guardian/source-react-components/src/link/ButtonLink.tsx
  libs/@guardian/source-react-components/src/link/Link.stories.tsx
  libs/@guardian/source-react-components/src/link/Link.tsx
  libs/@guardian/source-react-components/src/link/styles.ts
  libs/@guardian/source-react-components/src/link/theme.ts
  libs/@guardian/source-react-components/src/link/types.ts
Labels: 📦 npm

#1134 use => in storage for functions
  .changeset/unlucky-toes-argue.md
  libs/@guardian/libs/src/storage/storage.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#1173 Add `theme` prop support to Text Input
  libs/@guardian/source-react-components/src/text-input/TextInput.stories.tsx
  libs/@guardian/source-react-components/src/text-input/TextInput.tsx
  libs/@guardian/source-react-components/src/text-input/styles.ts
  libs/@guardian/source-react-components/src/text-input/theme.ts
Labels: 📦 npm, run_chromatic

#1174 Add `theme` prop to the select component
  libs/@guardian/source-react-components/src/@types/Icons.ts
  libs/@guardian/source-react-components/src/select/Select.stories.tsx
  libs/@guardian/source-react-components/src/select/Select.tsx
  libs/@guardian/source-react-components/src/select/styles.ts
  libs/@guardian/source-react-components/src/select/theme.ts
Labels: 📦 npm

#1180 Make `@guardian/transparency-consent` codeowners of CMP stuff
  .github/CODEOWNERS
Labels: run_chromatic

#1178 Add canary release workflow 🐥
  .github/workflows/canaries.yml
Labels: run_chromatic

#1183 Simplify workflows that use labels
  .github/workflows/canaries.yml
  .github/workflows/chromatic-label-helper.yml
Labels: run_chromatic

#1186 Extend Radio button themes to include Radio Groups
  libs/@guardian/source-react-components/src/radio/RadioGroup.tsx
  libs/@guardian/source-react-components/src/radio/theme.ts
Labels: 📦 npm

#1185 Updated the theming to use shared function
  libs/@guardian/source-react-components/src/accordion/Accordion.tsx
  libs/@guardian/source-react-components/src/accordion/AccordionRow.tsx
  libs/@guardian/source-react-components/src/accordion/AccordionRowNoJS.tsx
  libs/@guardian/source-react-components/src/accordion/shared.ts
  libs/@guardian/source-react-components/src/accordion/theme.ts
  libs/@guardian/source-react-components/src/button/styles.ts
  libs/@guardian/source-react-components/src/checkbox/Checkbox.tsx
  libs/@guardian/source-react-components/src/checkbox/theme.ts
  libs/@guardian/source-react-components/src/choice-card/ChoiceCard.tsx
  libs/@guardian/source-react-components/src/choice-card/styles.ts
  libs/@guardian/source-react-components/src/choice-card/theme.ts
  libs/@guardian/source-react-components/src/index.ts
  libs/@guardian/source-react-components/src/label/SupportingText.tsx
  libs/@guardian/source-react-components/src/label/Text.tsx
  libs/@guardian/source-react-components/src/label/shared.ts
  libs/@guardian/source-react-components/src/link/styles.ts
  libs/@guardian/source-react-components/src/radio/Radio.tsx
  libs/@guardian/source-react-components/src/radio/RadioGroup.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineError.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineSuccess.tsx
  libs/@guardian/source-react-components/src/user-feedback/shared.ts
Labels: 📦 npm

#1184 Rationalise workflows a little
  .github/actions/prepare-for-changesets/action.yml
  .github/actions/setup-node-env/action.yml
  .github/workflows/canaries.yml
  .github/workflows/changesets.yml
  .github/workflows/ci.yml
  .github/workflows/storybook.yml
Labels: run_chromatic

#1191 Update groups to have themes which are intersection types
  libs/@guardian/source-react-components/src/checkbox/CheckboxGroup.stories.tsx
  libs/@guardian/source-react-components/src/checkbox/CheckboxGroup.tsx
  libs/@guardian/source-react-components/src/checkbox/theme.ts
  libs/@guardian/source-react-components/src/choice-card/ChoiceCardGroup.tsx
  libs/@guardian/source-react-components/src/choice-card/theme.ts
  libs/@guardian/source-react-components/src/radio/RadioGroup.tsx
  libs/@guardian/source-react-components/src/radio/styles.ts
  libs/@guardian/source-react-components/src/radio/theme.ts
Labels: 📦 npm

#1189 Move chromatic into a reusable workflow
  .github/workflows/chromatic-label-helper.yml
  .github/workflows/chromatic-label-trigger.yml
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
Labels: enhancement, run_chromatic

#1190 Update custom theme examples for consistency and realism
  libs/@guardian/source-react-components/src/accordion/Accordion.stories.tsx
  libs/@guardian/source-react-components/src/button/Button.stories.tsx
  libs/@guardian/source-react-components/src/button/LinkButton.stories.tsx
  libs/@guardian/source-react-components/src/checkbox/Checkbox.stories.tsx
  libs/@guardian/source-react-components/src/checkbox/CheckboxGroup.stories.tsx
  libs/@guardian/source-react-components/src/checkbox/theme.ts
  libs/@guardian/source-react-components/src/choice-card/ChoiceCard.stories.tsx
  libs/@guardian/source-react-components/src/choice-card/ChoiceCardGroup.stories.tsx
  libs/@guardian/source-react-components/src/choice-card/theme.ts
  libs/@guardian/source-react-components/src/icons/Icons.stories.tsx
  libs/@guardian/source-react-components/src/label/Label.stories.tsx
  libs/@guardian/source-react-components/src/label/Legend.stories.tsx
  libs/@guardian/source-react-components/src/label/theme.ts
  libs/@guardian/source-react-components/src/link/ButtonLink.stories.tsx
  libs/@guardian/source-react-components/src/link/Link.stories.tsx
  libs/@guardian/source-react-components/src/radio/Radio.stories.tsx
  libs/@guardian/source-react-components/src/radio/RadioGroup.stories.tsx
  libs/@guardian/source-react-components/src/radio/theme.ts
  libs/@guardian/source-react-components/src/select/Select.stories.tsx
  libs/@guardian/source-react-components/src/text-area/TextArea.stories.tsx
  libs/@guardian/source-react-components/src/text-input/TextInput.stories.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineError.stories.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineSuccess.stories.tsx
  libs/@guardian/source-react-components/src/user-feedback/theme.ts
Labels: 📦 npm, run_chromatic

#1193 Oa/update exports
  libs/@guardian/source-react-components/src/accordion/theme.ts
  libs/@guardian/source-react-components/src/button/theme-reader-revenue.ts
  libs/@guardian/source-react-components/src/button/theme.ts
  libs/@guardian/source-react-components/src/checkbox/theme.ts
  libs/@guardian/source-react-components/src/choice-card/theme.ts
  libs/@guardian/source-react-components/src/deprecated-exports.ts
  libs/@guardian/source-react-components/src/index.test.ts
  libs/@guardian/source-react-components/src/index.ts
  libs/@guardian/source-react-components/src/label/theme.ts
  libs/@guardian/source-react-components/src/link/theme.ts
  libs/@guardian/source-react-components/src/radio/theme.ts
  libs/@guardian/source-react-components/src/select/theme.ts
  libs/@guardian/source-react-components/src/text-area/theme.ts
  libs/@guardian/source-react-components/src/text-input/theme.ts
  libs/@guardian/source-react-components/src/user-feedback/theme.ts
Labels: 📦 npm

#1196 Update Accordion theme and allow icon fill to be overridden
  libs/@guardian/source-react-components/src/accordion/Accordion.stories.tsx
  libs/@guardian/source-react-components/src/accordion/AccordionRow.tsx
  libs/@guardian/source-react-components/src/accordion/AccordionRowNoJS.tsx
  libs/@guardian/source-react-components/src/accordion/styles.ts
  libs/@guardian/source-react-components/src/accordion/theme.ts
Labels: 📦 npm

#1201 fix icon theme in user feedback and add theming to button link
  libs/@guardian/source-react-components/src/link/ButtonLink.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineError.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineSuccess.tsx
  libs/@guardian/source-react-components/src/user-feedback/styles.ts
Labels: 📦 npm, run_chromatic

#1202 Update `@guardian/source-react-components` dependencies
  .changeset/perfect-eels-reflect.md
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1204 Update Source package dependencies
  .changeset/dirty-papayas-repeat.md
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  pnpm-lock.yaml
Labels: run_chromatic

#1199 Display a file limit warning where applicable
  .changeset/olive-ghosts-carry.md
  libs/@guardian/source-react-components-development-kitchen/src/file-input/FileInput.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/file-input/FileInput.tsx
  libs/@guardian/source-react-components-development-kitchen/src/file-input/styles.ts
Labels: 📦 npm, run_chromatic

#1206 Oa/fix for theming
  .changeset/orange-tigers-swim.md
  libs/@guardian/source-react-components/src/index.ts
  libs/@guardian/source-react-components/src/user-feedback/InlineError.stories.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineError.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineSuccess.stories.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineSuccess.tsx
  libs/@guardian/source-react-components/src/user-feedback/userFeedbackTypes.ts
Labels: 📦 npm, run_chromatic

#1209 Update packages to latest patch release of `@guardian/source-react-components`
  .changeset/dirty-beds-jog.md
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1217 Update `@guardian/browserslist-config` with latest data
  .changeset/five-planets-prove.md
  libs/@guardian/browserslist-config/README.md
  libs/@guardian/browserslist-config/browserslist-stats.json
  libs/@guardian/browserslist-config/scripts/update-readme.mjs
Labels: 📦 npm, @guardian/browserslist-config, run_chromatic

#1220 Update composed storybook with chromatic permalink
  .github/workflows/storybook.yml
  apps/csnx/.storybook/main.js
Labels: run_chromatic

#1221 Move shared component types into a `@types` dir
  .changeset/proud-flowers-exercise.md
  libs/@guardian/source-react-components/src/button/@types/SharedButtonProps.ts
  libs/@guardian/source-react-components/src/button/Button.tsx
  libs/@guardian/source-react-components/src/button/LinkButton.tsx
  libs/@guardian/source-react-components/src/button/styles.ts
  libs/@guardian/source-react-components/src/index.ts
  libs/@guardian/source-react-components/src/inline/@types/InlineSpace.ts
  libs/@guardian/source-react-components/src/inline/Inline.tsx
  libs/@guardian/source-react-components/src/inline/styles.ts
  libs/@guardian/source-react-components/src/label/@types/LabelProps.ts
  libs/@guardian/source-react-components/src/label/@types/LegendProps.ts
  libs/@guardian/source-react-components/src/label/Label.stories.tsx
  libs/@guardian/source-react-components/src/label/Label.tsx
  libs/@guardian/source-react-components/src/label/Legend.stories.tsx
  libs/@guardian/source-react-components/src/label/Legend.tsx
  libs/@guardian/source-react-components/src/label/Text.tsx
  libs/@guardian/source-react-components/src/label/types.ts
  libs/@guardian/source-react-components/src/link/@types/SharedLinkProps.ts
  libs/@guardian/source-react-components/src/link/ButtonLink.tsx
  libs/@guardian/source-react-components/src/link/Link.tsx
  libs/@guardian/source-react-components/src/link/shared.tsx
  libs/@guardian/source-react-components/src/link/styles.ts
  libs/@guardian/source-react-components/src/tiles/@types/Columns.ts
  libs/@guardian/source-react-components/src/tiles/Tiles.tsx
  libs/@guardian/source-react-components/src/tiles/styles.ts
  libs/@guardian/source-react-components/src/user-feedback/@types/UserFeedbackProps.ts
  libs/@guardian/source-react-components/src/user-feedback/InlineError.stories.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineError.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineSuccess.stories.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineSuccess.tsx
Labels: 📦 npm, run_chromatic

#1114 Adjust `AgeWarning` spacing, icon size and alignment
  libs/@guardian/source-react-components-development-kitchen/src/age-warning/AgeWarning.tsx
Labels: 📦 npm, run_chromatic, 🎨 Design System

#1233 Remove base colour scale from tokens
  libs/@guardian/design-tokens/src/tokens.json
  libs/@guardian/design-tokens/tokens.d.ts
  libs/@guardian/design-tokens/tokens.js
  libs/@guardian/design-tokens/variables.css
Labels: 📦 npm, run_chromatic

#1242 identity-auth-frontend | Bump `@guardian/identity-auth` peer dependency
  .changeset/two-jokes-doubt.md
  libs/@guardian/identity-auth-frontend/package.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1230 Add description to the Theme prop in storybook
  libs/@guardian/source-react-components/src/@types/Icons.ts
  libs/@guardian/source-react-components/src/accordion/Accordion.tsx
  libs/@guardian/source-react-components/src/accordion/AccordionRow.tsx
  libs/@guardian/source-react-components/src/button/@types/SharedButtonProps.ts
  libs/@guardian/source-react-components/src/checkbox/Checkbox.tsx
  libs/@guardian/source-react-components/src/checkbox/CheckboxGroup.stories.tsx
  libs/@guardian/source-react-components/src/checkbox/CheckboxGroup.tsx
  libs/@guardian/source-react-components/src/choice-card/ChoiceCard.tsx
  libs/@guardian/source-react-components/src/choice-card/ChoiceCardGroup.stories.tsx
  libs/@guardian/source-react-components/src/choice-card/ChoiceCardGroup.tsx
  libs/@guardian/source-react-components/src/icons/Icons.stories.tsx
  libs/@guardian/source-react-components/src/label/@types/LabelProps.ts
  libs/@guardian/source-react-components/src/label/@types/LegendProps.ts
  libs/@guardian/source-react-components/src/link/@types/SharedLinkProps.ts
  libs/@guardian/source-react-components/src/radio/Radio.stories.tsx
  libs/@guardian/source-react-components/src/radio/Radio.tsx
  libs/@guardian/source-react-components/src/radio/RadioGroup.tsx
  libs/@guardian/source-react-components/src/select/Select.tsx
  libs/@guardian/source-react-components/src/text-area/TextArea.tsx
  libs/@guardian/source-react-components/src/text-input/TextInput.tsx
  libs/@guardian/source-react-components/src/user-feedback/@types/UserFeedbackProps.ts
Labels: 📦 npm, run_chromatic
