Repository guardian/csnx, pull requests merged in 2024-01, with the labels that each got.

#1050 Update tokens with missing colour and fix `Breakpoint` type
  .changeset/lazy-vans-repeat.md
  libs/@csnx/design-tokens/tokens.json
  libs/@csnx/design-tokens/tokens/index.d.ts
  libs/@csnx/design-tokens/tokens/index.js
  libs/@csnx/design-tokens/tokens/tokens.css
  libs/@guardian/source-foundations/src/breakpoints/breakpoints.ts
Labels: 📦 lib, 📦 npm, run_chromatic

#949 Refactor `@guardian/ab-core` internals to reduce code repetition
  .changeset/clever-donkeys-brake.md
  libs/@guardian/ab-core/src/ab.ts
  libs/@guardian/ab-core/src/core.ts
  libs/@guardian/ab-core/src/ophan.ts
Labels: 📦 npm, @guardian/ab-core, run_chromatic

#1057 Test Source Foundations token output
  .changeset/early-pillows-smile.md
  libs/@csnx/design-tokens/tokens.json
  libs/@csnx/design-tokens/tokens/index.js
  libs/@csnx/design-tokens/tokens/tokens.css
  libs/@guardian/source-foundations/src/tokens.test.ts
Labels: 📦 lib, 📦 npm, run_chromatic

#1062 add source usage tracking evergreen issue
  .github/workflows/source-tracker.yml
  scripts/deno/deno.json
  scripts/deno/octokit.ts
  scripts/deno/source-tracker/README.md
  scripts/deno/source-tracker/get-installation-data.ts
  scripts/deno/source-tracker/get-installations.ts
  scripts/deno/source-tracker/get-latest-version.ts
  scripts/deno/source-tracker/get-markdown.ts
  scripts/deno/source-tracker/get-pkg-versions-in-use.ts
  scripts/deno/source-tracker/mod.ts
Labels: run_chromatic

#1068 Clean up typography CSS output
  libs/@guardian/source-foundations/jest.config.ts
  libs/@guardian/source-foundations/jest.e2e.setup.ts
  libs/@guardian/source-foundations/lib/jest-matchers/index.d.ts
  libs/@guardian/source-foundations/lib/jest-matchers/toBeValidCSS.ts
  libs/@guardian/source-foundations/lib/jest-matchers/toMatchCSS.ts
  libs/@guardian/source-foundations/src/tokens.test.ts
  libs/@guardian/source-foundations/src/typography/font-styles.ts
Labels: 📦 npm, run_chromatic

#1071 Identity Auth | Change `isSignedIn` check logic
  .changeset/cold-cycles-exercise.md
  .changeset/yellow-poets-smash.md
  libs/@guardian/identity-auth/src/identityAuth.ts
Labels: 📦 npm, run_chromatic

#1076 Update `InlineError` warning icon
  .changeset/lucky-queens-clean.md
  libs/@guardian/source-react-components/src/user-feedback/InlineError.tsx
Labels: 📦 npm, run_chromatic

#1083 feat(eslint-config-typescript): Improve performance by delegating to `tsc`
  .changeset/few-files-attend.md
  libs/@guardian/eslint-config-typescript/index.js
Labels: 📦 npm, @guardian/eslint-config-typescript, run_chromatic

#1070 Add theme overrides for ChoiceCard component
  libs/@guardian/source-react-components/src/choice-card/ChoiceCard.stories.tsx
  libs/@guardian/source-react-components/src/choice-card/ChoiceCard.tsx
  libs/@guardian/source-react-components/src/choice-card/styles.ts
  libs/@guardian/source-react-components/src/choice-card/theme.ts
Labels: 📦 npm, run_chromatic

#1090 ci: Use first-party GitHub Action
  .github/workflows/changesets.yml
  .github/workflows/project.yml
Labels: run_chromatic

#1091 Fix Storybook type annotations
  libs/@guardian/source-react-components-development-kitchen/.storybook/preview/FocusManagerDecorator.tsx
  libs/@guardian/source-react-components-development-kitchen/.storybook/preview/ThemeProviderDecorator.tsx
  libs/@guardian/source-react-components-development-kitchen/src/age-warning/AgeWarning.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/divider/Divider.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/editorial-button/EditorialButton.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/editorial-button/EditorialLinkButton.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/ExpandingWrapper.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/file-input/FileInput.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/footer-with-contents/FooterLinks.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/footer-with-contents/FooterWithContents.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/lines/Lines.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/logo/Logo.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/quote-icon/QuoteIcon.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/star-rating/StarRating.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/summary/ErrorSummary.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/summary/InfoSummary.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/summary/SuccessSummary.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/tabs/Tabs.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/ToggleSwitchApps.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/toggle-switch/ToggleSwitch.stories.tsx
  libs/@guardian/source-react-components/.storybook/preview/FocusManagerDecorator.tsx
  libs/@guardian/source-react-components/.storybook/preview/ThemeProviderDecorator.tsx
  libs/@guardian/source-react-components/src/accordion/Accordion.stories.tsx
  libs/@guardian/source-react-components/src/brand/SvgGuardianBestWebsiteLogo.stories.tsx
  libs/@guardian/source-react-components/src/brand/SvgGuardianLiveLogo.stories.tsx
  libs/@guardian/source-react-components/src/brand/SvgGuardianLogo.stories.tsx
  libs/@guardian/source-react-components/src/brand/SvgRoundelBrand.stories.tsx
  libs/@guardian/source-react-components/src/brand/SvgRoundelBrandInverse.stories.tsx
  libs/@guardian/source-react-components/src/brand/SvgRoundelDefault.stories.tsx
  libs/@guardian/source-react-components/src/brand/SvgRoundelInverse.stories.tsx
  libs/@guardian/source-react-components/src/button/Button.stories.tsx
  libs/@guardian/source-react-components/src/button/LinkButton.stories.tsx
  libs/@guardian/source-react-components/src/checkbox/Checkbox.stories.tsx
  libs/@guardian/source-react-components/src/checkbox/CheckboxGroup.stories.tsx
  libs/@guardian/source-react-components/src/choice-card/ChoiceCard.stories.tsx
  libs/@guardian/source-react-components/src/choice-card/ChoiceCardGroup.stories.tsx
  libs/@guardian/source-react-components/src/columns/Columns.stories.tsx
  libs/@guardian/source-react-components/src/container/Container.stories.tsx
  libs/@guardian/source-react-components/src/footer/BackToTop.stories.tsx
  libs/@guardian/source-react-components/src/footer/BackToTop.tsx
  libs/@guardian/source-react-components/src/footer/Footer.stories.tsx
  libs/@guardian/source-react-components/src/hide/Hide.stories.tsx
  libs/@guardian/source-react-components/src/icons/Icons.stories.tsx
  libs/@guardian/source-react-components/src/inline/Inline.stories.tsx
  libs/@guardian/source-react-components/src/label/Label.stories.tsx
  libs/@guardian/source-react-components/src/label/Legend.stories.tsx
  libs/@guardian/source-react-components/src/link/ButtonLink.stories.tsx
  libs/@guardian/source-react-components/src/radio/Radio.stories.tsx
  libs/@guardian/source-react-components/src/radio/RadioGroup.stories.tsx
  libs/@guardian/source-react-components/src/select/Select.stories.tsx
  libs/@guardian/source-react-components/src/stack/Stack.stories.tsx
  libs/@guardian/source-react-components/src/text-area/TextArea.stories.tsx
  libs/@guardian/source-react-components/src/text-input/TextInput.stories.tsx
  libs/@guardian/source-react-components/src/tiles/Tiles.stories.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineError.stories.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineSuccess.stories.tsx
Labels: 📦 npm, run_chromatic

#1096 Fix toggle switch
  .changeset/giant-nails-greet.md
  libs/@guardian/source-react-components-development-kitchen/src/toggle-switch/styles.ts
Labels: 📦 npm, run_chromatic

#1102 Add `storybookBaseDir` to Chromatic workflow
  .github/workflows/ci.yml
Labels: run_chromatic

#1099 Fix numeric storage `expires`
  .changeset/funny-jars-pump.md
  libs/@guardian/libs/src/storage/storage.test.ts
  libs/@guardian/libs/src/storage/storage.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#1105 Revert "Removed csnx/* from the changesets config.json"
  .changeset/config.json
Labels: run_chromatic

#1107 Create `plugin-ts` for cobalt
  .changeset/cool-lobsters-call.md
  README.md
  libs/@csnx/design-tokens/package.json
  libs/@csnx/design-tokens/tokens.config.js
  libs/@csnx/design-tokens/tokens/index.d.ts
  libs/@csnx/design-tokens/tokens/index.js
  libs/@guardian/cobalt-plugin-ts/README.md
  libs/@guardian/cobalt-plugin-ts/index.mjs
  libs/@guardian/cobalt-plugin-ts/package.json
  libs/@guardian/cobalt-plugin-ts/project.json
  libs/@guardian/source-foundations/src/typography/data.ts
  libs/@guardian/source-foundations/src/utils/convert-value.ts
  pnpm-lock.yaml
  tsconfig.base.json
Labels: 📦 lib, 📦 npm, run_chromatic

#1106 Change scope of design tokens package to `@guardian`
  .eslintrc.js
  README.md
  libs/@csnx/design-tokens/jest.config.js
  libs/@csnx/design-tokens/project.json
  libs/@guardian/design-tokens/README.md
  libs/@guardian/design-tokens/package.json
  libs/@guardian/design-tokens/project.json
  libs/@guardian/design-tokens/src/tokens.json
  libs/@guardian/design-tokens/tokens.config.js
  libs/@guardian/design-tokens/tokens.d.ts
  libs/@guardian/design-tokens/tokens.js
  libs/@guardian/design-tokens/variables.css
  libs/@guardian/source-foundations/CHANGELOG.md
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/src/breakpoints/breakpoints.ts
  libs/@guardian/source-foundations/src/colour/palette.ts
  libs/@guardian/source-foundations/src/size/size.ts
  libs/@guardian/source-foundations/src/space/space.ts
  libs/@guardian/source-foundations/src/typography/data.ts
  pnpm-lock.yaml
  tsconfig.base.json
Labels: 📦 lib, 📦 npm, run_chromatic

#1109 identity-auth-frontend: update `@guardian/identity-auth` to `2.0.1`
  .changeset/lucky-spoons-buy.md
  libs/@guardian/identity-auth-frontend/package.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1101 Reduce `xsmall` button text size
  .changeset/nine-owls-pay.md
  libs/@guardian/source-react-components/src/button/styles.ts
Labels: 📦 npm, run_chromatic

#1111 Leave a comment on PRs regarding the chromatic label
  .github/workflows/chromatic-label-helper.yml
Labels: run_chromatic

#1120 Allow changesets to bump dependencies
  .changeset/config.json
Labels: run_chromatic

#1082 Add size support to `TextInput` and `TextArea` components
  .changeset/gentle-seals-happen.md
  .changeset/slimy-mice-obey.md
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/InputExtension.tsx
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.stories.tsx
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/NumericInput.tsx
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/inputExtensionStyles.ts
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/numericInputStyles.ts
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/sharedStyles.ts
  libs/@guardian/source-react-components/src/@types/InputSize.ts
  libs/@guardian/source-react-components/src/index.test.ts
  libs/@guardian/source-react-components/src/index.ts
  libs/@guardian/source-react-components/src/label/Label.stories.tsx
  libs/@guardian/source-react-components/src/label/Label.tsx
  libs/@guardian/source-react-components/src/label/Text.tsx
  libs/@guardian/source-react-components/src/label/styles.ts
  libs/@guardian/source-react-components/src/label/types.ts
  libs/@guardian/source-react-components/src/text-area/TextArea.stories.tsx
  libs/@guardian/source-react-components/src/text-area/TextArea.tsx
  libs/@guardian/source-react-components/src/text-area/styles.ts
  libs/@guardian/source-react-components/src/text-input/TextInput.stories.tsx
  libs/@guardian/source-react-components/src/text-input/TextInput.tsx
  libs/@guardian/source-react-components/src/text-input/styles.ts
  libs/@guardian/source-react-components/src/user-feedback/InlineError.stories.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineError.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineSuccess.stories.tsx
  libs/@guardian/source-react-components/src/user-feedback/InlineSuccess.tsx
  libs/@guardian/source-react-components/src/user-feedback/styles.ts
  libs/@guardian/source-react-components/src/user-feedback/types.ts
Labels: 📦 npm, run_chromatic

#1122 Spike a single `@guardian/source` package
  README.md
  libs/@guardian/source/README.md
  libs/@guardian/source/package.json
  libs/@guardian/source/project.json
  libs/@guardian/source/src/components/react-dev-kitchen/index.ts
  libs/@guardian/source/src/components/react/index.ts
  libs/@guardian/source/src/foundations/index.ts
  libs/@guardian/source/tsconfig.json
  libs/@guardian/source/tsconfig.spec.json
  pnpm-lock.yaml
  tools/nx-plugins/npm-package/build/index.ts
  tools/nx-plugins/npm-package/build/schema.d.ts
  tools/nx-plugins/npm-package/build/schema.json
  tools/nx-plugins/npm-package/build/set-package-defaults.ts
  tsconfig.base.json
Labels: 🛠 workspace, 📦 npm, run_chromatic

#1129 Enable changeset `bumpVersionsWithWorkspaceProtocolOnly` option again
  .changeset/config.json
Labels: run_chromatic

#1123 Make media queries’ `max-width` much closer to the breakpoint value
  .changeset/cyan-trainers-brush.md
  libs/@guardian/source-foundations/src/mq/mq.test.ts
  libs/@guardian/source-foundations/src/mq/mq.ts
Labels: 📦 npm, run_chromatic
