Repository guardian/csnx, pull requests merged in 2024-08, with the labels that each got.

#1622 Refactor DottedLines to use CSS not SVG
  .changeset/tiny-ducks-roll.md
  libs/@guardian/source-development-kitchen/src/react-components/lines/DottedLines.tsx
Labels: Bug, 📦 npm, run_chromatic

#1603 Consistent checkbox and radio button spacing
  .changeset/friendly-parrots-relax.md
  libs/@guardian/source/src/react-components/checkbox/Checkbox.stories.tsx
  libs/@guardian/source/src/react-components/checkbox/Checkbox.tsx
  libs/@guardian/source/src/react-components/checkbox/styles.ts
  libs/@guardian/source/src/react-components/radio/Radio.stories.tsx
  libs/@guardian/source/src/react-components/radio/Radio.tsx
  libs/@guardian/source/src/react-components/radio/styles.ts
Labels: 📦 npm, run_chromatic

#1639 Remove deprecated typography API
  .changeset/fluffy-peaches-punch.md
  libs/@guardian/source-development-kitchen/src/react-components/file-input/styles.ts
  libs/@guardian/source-development-kitchen/src/react-components/toggle-switch/styles.ts
  libs/@guardian/source/src/foundations/__deprecated__/typography/api.ts
  libs/@guardian/source/src/foundations/__deprecated__/typography/data.ts
  libs/@guardian/source/src/foundations/__deprecated__/typography/font-styles.ts
  libs/@guardian/source/src/foundations/__deprecated__/typography/index.ts
  libs/@guardian/source/src/foundations/__deprecated__/typography/obj/index.ts
  libs/@guardian/source/src/foundations/__deprecated__/typography/obj/typography.obj.test.ts
  libs/@guardian/source/src/foundations/__deprecated__/typography/storybookTypographyRenderers.tsx
  libs/@guardian/source/src/foundations/__deprecated__/typography/types.ts
  libs/@guardian/source/src/foundations/__deprecated__/typography/typography.test.ts
  libs/@guardian/source/src/foundations/__deprecated__/typography/typographyDeprecated.mdx
  libs/@guardian/source/src/foundations/__deprecated__/typography/typographyDeprecated.stories.tsx
  libs/@guardian/source/src/foundations/deprecated-exports.ts
  libs/@guardian/source/src/foundations/index.test.ts
  libs/@guardian/source/src/foundations/tokens.test.ts
Labels: 📦 npm, run_chromatic

#1645 Update source changeset
  .changeset/purple-bags-sell.md
Labels: run_chromatic

#1638 Move `design-tokens` into `@guardian/source`
  .changeset/silver-games-remember.md
  Makefile
  README.md
  configs/rollup/rollup.config.js
  libs/@guardian/design-tokens/.eslintrc.cjs
  libs/@guardian/design-tokens/CHANGELOG.md
  libs/@guardian/design-tokens/README.md
  libs/@guardian/design-tokens/__generated__/tokens.d.ts
  libs/@guardian/design-tokens/__generated__/tokens.js
  libs/@guardian/design-tokens/package.json
  libs/@guardian/design-tokens/tsconfig.json
  libs/@guardian/source/package.json
  libs/@guardian/source/scripts/build-type-presets.ts
  libs/@guardian/source/src/design-tokens/README.md
  libs/@guardian/source/src/design-tokens/cobalt-plugins/breakpoints.js
  libs/@guardian/source/src/design-tokens/cobalt-plugins/palette.js
  libs/@guardian/source/src/design-tokens/cobalt-plugins/size.js
  libs/@guardian/source/src/design-tokens/cobalt-plugins/space.js
  libs/@guardian/source/src/design-tokens/cobalt-plugins/typography.js
  libs/@guardian/source/src/design-tokens/lib/capitalise.js
  libs/@guardian/source/src/design-tokens/lib/convert-value.js
  libs/@guardian/source/src/design-tokens/lib/convert-value.test.js
  libs/@guardian/source/src/design-tokens/lib/get-comment-id.js
  libs/@guardian/source/src/design-tokens/lib/template.js
  libs/@guardian/source/src/design-tokens/tokens.config.js
  libs/@guardian/source/src/design-tokens/tokens.json
  libs/@guardian/source/src/foundations/__deprecated__/colour/palette.ts
  libs/@guardian/source/src/foundations/__generated__/breakpoints.ts
  libs/@guardian/source/src/foundations/__generated__/palette.ts
  libs/@guardian/source/src/foundations/__generated__/size.ts
  libs/@guardian/source/src/foundations/__generated__/space.ts
  libs/@guardian/source/src/foundations/__generated__/typography.ts
  libs/@guardian/source/src/foundations/__generated__/typography/objects.ts
  libs/@guardian/source/src/foundations/__generated__/variables.css
  libs/@guardian/source/src/foundations/accessibility/focus-halo.ts
  libs/@guardian/source/src/foundations/breakpoints/breakpoints.ts
  libs/@guardian/source/src/foundations/colour/palette.ts
  libs/@guardian/source/src/foundations/index.ts
  libs/@guardian/source/src/foundations/palette/palette.mdx
  libs/@guardian/source/src/foundations/palette/palette.stories.tsx
  libs/@guardian/source/src/foundations/palette/palette.ts
  libs/@guardian/source/src/foundations/palette/storybookColorPalette.tsx
  libs/@guardian/source/src/foundations/size/size.ts
  libs/@guardian/source/src/foundations/space/space.ts
  libs/@guardian/source/src/foundations/tokens.test.ts
  libs/@guardian/source/src/foundations/typography/stories/TypographyPresets.tsx
  libs/@guardian/source/src/foundations/typography/typography.ts
  libs/@guardian/source/src/foundations/utils/convert-value.test.ts
  libs/@guardian/source/src/foundations/utils/convert-value.ts
  libs/@guardian/source/src/foundations/utils/resets.ts
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1647 Update purple-bags-sell.md
  .changeset/purple-bags-sell.md
Labels: run_chromatic

#1655 Delete @guardian/cobalt-plugin
  Makefile
  README.md
  coverage/jest.config.js
  libs/@guardian/cobalt-plugin-ts/.eslintrc.cjs
  libs/@guardian/cobalt-plugin-ts/CHANGELOG.md
  libs/@guardian/cobalt-plugin-ts/README.md
  libs/@guardian/cobalt-plugin-ts/index.d.ts
  libs/@guardian/cobalt-plugin-ts/index.js
  libs/@guardian/cobalt-plugin-ts/package.json
  libs/@guardian/cobalt-plugin-ts/tsconfig.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1656 Add no-bail flag to make commands
  Makefile
Labels: run_chromatic

#1658 Update `@guardian/eslint-config` to support ESLint v9
  Makefile
  README.md
  libs/@guardian/eslint-config-typescript/.eslintrc.cjs
  libs/@guardian/eslint-config-typescript/CHANGELOG.md
  libs/@guardian/eslint-config-typescript/DECISION_RECORD.md
  libs/@guardian/eslint-config-typescript/README.md
  libs/@guardian/eslint-config-typescript/index.js
  libs/@guardian/eslint-config-typescript/package.json
  libs/@guardian/eslint-config-typescript/tsconfig.json
  libs/@guardian/eslint-config/.eslintrc.cjs
  libs/@guardian/eslint-config/CHANGELOG.md
  libs/@guardian/eslint-config/README.md
  libs/@guardian/eslint-config/configs/comments.js
  libs/@guardian/eslint-config/configs/imports.js
  libs/@guardian/eslint-config/configs/javascript.base.js
  libs/@guardian/eslint-config/configs/javascript.cjs.js
  libs/@guardian/eslint-config/configs/javascript.esm.js
  libs/@guardian/eslint-config/configs/javascript.js
  libs/@guardian/eslint-config/configs/jest.js
  libs/@guardian/eslint-config/configs/react.js
  libs/@guardian/eslint-config/configs/recommended.js
  libs/@guardian/eslint-config/configs/storybook.js
  libs/@guardian/eslint-config/configs/typescript.js
  libs/@guardian/eslint-config/eslint.config.js
  libs/@guardian/eslint-config/index.js
  libs/@guardian/eslint-config/package.json
  libs/@guardian/eslint-config/tsconfig.json
  libs/@guardian/source/src/foundations/__generated__/size.ts
  package.json
  pnpm-lock.yaml
  tools/scripts/check-packages-for-tslib.mjs
Labels: 🛠 workspace, 📦 npm, @guardian/eslint-config-typescript, @guardian/eslint-config, run_chromatic

#1669 Move `tools/scripts/**` to `scripts`
  .husky/pre-commit
  Makefile
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/@types/update-section.d.ts
  scripts/check-node-version
  scripts/check-packages-for-tslib.mjs
  scripts/lib/get-make-targets.mjs
  scripts/lib/get-tasks-by-package.mjs
  scripts/list-make-targets.mjs
  scripts/maintain-makefile/index.mjs
  scripts/maintain-readme/get-package-list.mjs
  scripts/maintain-readme/index.mjs
  scripts/package.json
  scripts/project-paths.mjs
  scripts/tsconfig.json
  scripts/use-make-instead
  tools/scripts/project-paths.mjs
Labels: 🛠 workspace, run_chromatic

#1671 Make all storybook configs TS
  apps/storybooks/package.json
  configs/storybook/main.ts
  configs/storybook/package.json
  configs/storybook/preview/FocusManagerDecorator.tsx
  configs/storybook/preview/ThemeProviderDecorator.tsx
  configs/storybook/preview/viewport.ts
  configs/storybook/tsconfig.json
  libs/@guardian/source-development-kitchen/.storybook/main.js
  libs/@guardian/source-development-kitchen/.storybook/main.ts
  libs/@guardian/source-development-kitchen/package.json
  libs/@guardian/source/.storybook/main.js
  libs/@guardian/source/.storybook/main.ts
  libs/@guardian/source/package.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1659 Bump wireit
  .github/actions/setup-node-env/action.yml
  apps/github-pages/package.json
  apps/storybooks/package.json
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-react/package.json
  libs/@guardian/browserslist-config/package.json
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/eslint-config/package.json
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth/package.json
  libs/@guardian/libs/package.json
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/prettier/package.json
  libs/@guardian/source-development-kitchen/package.json
  libs/@guardian/source/package.json
  package.json
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/libs, @guardian/browserslist-config, @guardian/eslint-config, @guardian/prettier, @guardian/ab-core, @guardian/ab-react, run_chromatic
