Repository guardian/csnx, pull requests merged in 2024-03, with the labels that each got.

#1234 Add ability to run cypress test
  .github/actions/setup-node-env/action.yml
  .github/workflows/ci.yml
  Makefile
  README.md
  libs/@guardian/ab-core/jest.dist.setup.js
  libs/@guardian/ab-core/project.json
  libs/@guardian/ab-react/jest.dist.setup.js
  libs/@guardian/ab-react/project.json
  libs/@guardian/browserslist-config/dist.test.js
  libs/@guardian/browserslist-config/project.json
  libs/@guardian/core-web-vitals/jest.dist.setup.js
  libs/@guardian/core-web-vitals/project.json
  libs/@guardian/eslint-config-typescript/dist.test.js
  libs/@guardian/eslint-config-typescript/project.json
  libs/@guardian/eslint-config/dist.test.js
  libs/@guardian/eslint-config/project.json
  libs/@guardian/eslint-plugin-source-foundations/jest.dist.setup.ts
  libs/@guardian/eslint-plugin-source-foundations/project.json
  libs/@guardian/eslint-plugin-source-react-components/jest.dist.setup.ts
  libs/@guardian/eslint-plugin-source-react-components/project.json
  libs/@guardian/identity-auth-frontend/jest.dist.setup.js
  libs/@guardian/identity-auth-frontend/project.json
  libs/@guardian/identity-auth/jest.dist.setup.js
  libs/@guardian/identity-auth/project.json
  libs/@guardian/libs/.eslintrc.json
  libs/@guardian/libs/cypress.config.ts
  libs/@guardian/libs/cypress/e2e/example.cy.js
  libs/@guardian/libs/cypress/support/commands.js
  libs/@guardian/libs/cypress/support/e2e.js
  libs/@guardian/libs/jest.dist.setup.js
  libs/@guardian/libs/project.json
  libs/@guardian/newsletter-types/jest.dist.setup.js
  libs/@guardian/prettier/dist.test.js
  libs/@guardian/prettier/project.json
  libs/@guardian/source-foundations/jest.dist.setup.ts
  libs/@guardian/source-foundations/project.json
  libs/@guardian/source-react-components-development-kitchen/jest.dist.setup.ts
  libs/@guardian/source-react-components-development-kitchen/project.json
  libs/@guardian/source-react-components/jest.dist.setup.ts
  libs/@guardian/source-react-components/project.json
  libs/@guardian/tsconfig/dist.test.js
  libs/@guardian/tsconfig/project.json
  nx.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: 🛠 workspace, 📦 npm, @guardian/libs, @guardian/browserslist-config, @guardian/eslint-config-typescript, @guardian/eslint-config, @guardian/prettier, @guardian/tsconfig, @guardian/ab-core, @guardian/ab-react, run_chromatic

#1249 Add an Astro project which will be published as the github page
  .github/workflows/github-pages.yml
  .vscode/extensions.json
  README.md
  apps/github-pages/.gitignore
  apps/github-pages/README.md
  apps/github-pages/astro.config.mjs
  apps/github-pages/package.json
  apps/github-pages/project.json
  apps/github-pages/public/favicon.ico
  apps/github-pages/src/components/CmpTest.svelte
  apps/github-pages/src/components/Nav.astro
  apps/github-pages/src/env.d.ts
  apps/github-pages/src/layouts/Layout.astro
  apps/github-pages/src/pages/cmp-test-page.astro
  apps/github-pages/src/pages/index.md
  apps/github-pages/svelte.config.js
  apps/github-pages/tsconfig.json
  pnpm-lock.yaml
Labels: run_chromatic

#1250 Update github pages navigation and added base url
  apps/github-pages/astro.config.mjs
  apps/github-pages/src/components/Nav.astro
  apps/github-pages/src/layouts/Layout.astro
  apps/github-pages/src/utils/normaliseUrl.ts
Labels: run_chromatic

#1251 Fix for routing in astro gh pages app
  apps/github-pages/src/components/Nav.astro
Labels: run_chromatic

#1252 GH Pages deployment to only run on completion of main CI Action
  .github/workflows/github-pages.yml
Labels: run_chromatic

#1254 Update the readme
  README.md
  tools/scripts/maintain-readme/index.mjs
Labels: 🛠 workspace, run_chromatic

#1269 Bump nx and pin nxcloud axios to a secure version
  package.json
  pnpm-lock.yaml
Labels: run_chromatic

#1247 Add web typography presets to design tokens
  libs/@guardian/design-tokens/src/tokens.json
  libs/@guardian/design-tokens/tokens.d.ts
  libs/@guardian/design-tokens/tokens.js
  libs/@guardian/design-tokens/variables.css
Labels: 📦 npm, run_chromatic

#1253 Use local version of cmp for the test page
  apps/github-pages/package.json
  apps/github-pages/src/components/CmpTest.svelte
  pnpm-lock.yaml
Labels: run_chromatic

#1270 Export typography presets as CSS
  README.md
  libs/@guardian/design-tokens/src/tokens.json
  libs/@guardian/design-tokens/tokens.d.ts
  libs/@guardian/design-tokens/tokens.js
  libs/@guardian/design-tokens/variables.css
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/project.json
  libs/@guardian/source-foundations/scripts/build-type-presets.ts
  libs/@guardian/source-foundations/src/index.test.ts
  libs/@guardian/source-foundations/src/index.ts
  libs/@guardian/source-foundations/src/tokens.test.ts
  libs/@guardian/source-foundations/src/typography/presets.ts
  libs/@guardian/source-foundations/src/utils/convert-value.test.ts
  libs/@guardian/source-foundations/src/utils/convert-value.ts
  pnpm-lock.yaml
Labels: 📦 npm, 🎨 Design System

#1281 Include `--source-text-decoration-thickness` in preset CSS
  libs/@guardian/source-foundations/scripts/build-type-presets.ts
  libs/@guardian/source-foundations/src/tokens.test.ts
  libs/@guardian/source-foundations/src/typography/presets.ts
Labels: 📦 npm

#1283 Add object literal representation of typography presets
  libs/@guardian/source-foundations/scripts/build-type-presets.ts
  libs/@guardian/source-foundations/src/index.test.ts
  libs/@guardian/source-foundations/src/index.ts
  libs/@guardian/source-foundations/src/tokens.test.ts
  libs/@guardian/source-foundations/src/typography/css.ts
  libs/@guardian/source-foundations/src/typography/objects.ts
  libs/@guardian/source-foundations/src/typography/storybookTypographyPresets.tsx
Labels: 📦 npm

#1296 Update deps to @typescript-eslint/eslint-plugin@7.31 and @typescript-…
  .changeset/soft-guests-wink.md
  libs/@guardian/eslint-config-typescript/package.json
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/eslint-config-typescript, run_chromatic

#1307 Prepare for CMP redux
  .github/actions/setup-node-env/action.yml
  .github/workflows/canaries.yml
  libs/@guardian/libs/package.json
  package.json
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/libs, run_chromatic

#1306 Type preset objects `as const`
  libs/@guardian/source-foundations/scripts/build-type-presets.ts
  libs/@guardian/source-foundations/src/typography/objects.ts
Labels: 📦 npm

#1305 Add tertiary background to `ButtonTheme`
  .changeset/perfect-wasps-beam.md
  libs/@guardian/source-react-components/src/button/styles.ts
  libs/@guardian/source-react-components/src/button/theme.ts
Labels: 📦 npm, run_chromatic

#1291 Remove @guardian/source
  README.md
  libs/@guardian/source/CHANGELOG.md
  libs/@guardian/source/README.md
  libs/@guardian/source/package.json
  libs/@guardian/source/project.json
  libs/@guardian/source/src/components/react-dev-kitchen/index.ts
  libs/@guardian/source/src/components/react/index.ts
  libs/@guardian/source/src/foundations/index.ts
  libs/@guardian/source/tsconfig.json
  libs/@guardian/source/tsconfig.spec.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: 📦 npm, run_chromatic
