Repository guardian/csnx, pull requests merged in 2024-07, with the labels that each got.

#1569 Simplify `removeData`
  .changeset/lazy-beers-wave.md
  libs/@guardian/libs/src/consent-management-platform/vendorDataManager.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#1584 Add web vital attribution data
  .changeset/shiny-squids-protect.md
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/core-web-vitals/src/@types/CoreWebVitalsPayload.ts
  libs/@guardian/core-web-vitals/src/index.test.ts
  libs/@guardian/core-web-vitals/src/index.ts
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic, 🐥 Canaries

#1593 Bump TypeScript to `v5.5.2` in all packages
  .changeset/config.json
  .changeset/lazy-beers-wave.md
  .changeset/shiny-squids-protect.md
  .npmrc
  apps/github-pages/package.json
  libs/@guardian/ab-core/CHANGELOG.md
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-react/CHANGELOG.md
  libs/@guardian/ab-react/package.json
  libs/@guardian/cobalt-plugin-ts/package.json
  libs/@guardian/core-web-vitals/CHANGELOG.md
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/core-web-vitals/src/index.ts
  libs/@guardian/eslint-config-typescript/CHANGELOG.md
  libs/@guardian/eslint-config-typescript/package.json
  libs/@guardian/identity-auth-frontend/CHANGELOG.md
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth/CHANGELOG.md
  libs/@guardian/identity-auth/package.json
  libs/@guardian/identity-auth/src/__tests__/cookieRefresh.test.ts
  libs/@guardian/libs/CHANGELOG.md
  libs/@guardian/libs/package.json
  libs/@guardian/newsletter-types/CHANGELOG.md
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/source-development-kitchen/CHANGELOG.md
  libs/@guardian/source-development-kitchen/package.json
  libs/@guardian/source/CHANGELOG.md
  libs/@guardian/source/package.json
  package.json
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/libs, @guardian/eslint-config-typescript, @guardian/ab-core, @guardian/ab-react, run_chromatic

#1596 Convert stories to Component Story Format
  libs/@guardian/source/.eslintrc.cjs
  libs/@guardian/source/src/react-components/accordion/Accordion.stories.tsx
  libs/@guardian/source/src/react-components/brand/SvgGuardianBestWebsiteLogo.stories.tsx
  libs/@guardian/source/src/react-components/brand/SvgGuardianLiveLogo.stories.tsx
  libs/@guardian/source/src/react-components/brand/SvgGuardianLogo.stories.tsx
  libs/@guardian/source/src/react-components/brand/SvgRoundelBrand.stories.tsx
  libs/@guardian/source/src/react-components/brand/SvgRoundelBrandInverse.stories.tsx
  libs/@guardian/source/src/react-components/brand/SvgRoundelDefault.stories.tsx
  libs/@guardian/source/src/react-components/brand/SvgRoundelInverse.stories.tsx
  libs/@guardian/source/src/react-components/button/Button.stories.tsx
  libs/@guardian/source/src/react-components/button/LinkButton.stories.tsx
  libs/@guardian/source/src/react-components/checkbox/Checkbox.stories.tsx
  libs/@guardian/source/src/react-components/checkbox/CheckboxGroup.stories.tsx
  libs/@guardian/source/src/react-components/choice-card/ChoiceCard.stories.tsx
  libs/@guardian/source/src/react-components/choice-card/ChoiceCardGroup.stories.tsx
  libs/@guardian/source/src/react-components/columns/Columns.stories.tsx
  libs/@guardian/source/src/react-components/container/Container.stories.tsx
  libs/@guardian/source/src/react-components/footer/BackToTop.stories.tsx
  libs/@guardian/source/src/react-components/footer/Footer.stories.tsx
  libs/@guardian/source/src/react-components/hide/Hide.stories.tsx
  libs/@guardian/source/src/react-components/inline/Inline.stories.tsx
  libs/@guardian/source/src/react-components/label/Label.stories.tsx
  libs/@guardian/source/src/react-components/label/Legend.stories.tsx
  libs/@guardian/source/src/react-components/link/ButtonLink.stories.tsx
  libs/@guardian/source/src/react-components/link/Link.stories.tsx
  libs/@guardian/source/src/react-components/radio/Radio.stories.tsx
  libs/@guardian/source/src/react-components/radio/RadioGroup.stories.tsx
  libs/@guardian/source/src/react-components/select/Select.stories.tsx
  libs/@guardian/source/src/react-components/spinner/Spinner.stories.tsx
  libs/@guardian/source/src/react-components/stack/Stack.stories.tsx
  libs/@guardian/source/src/react-components/text-area/TextArea.stories.tsx
  libs/@guardian/source/src/react-components/text-input/TextInput.stories.tsx
  libs/@guardian/source/src/react-components/tiles/Tiles.stories.tsx
  libs/@guardian/source/src/react-components/user-feedback/InlineError.stories.tsx
  libs/@guardian/source/src/react-components/user-feedback/InlineSuccess.stories.tsx
Labels: 📦 npm, run_chromatic

#1598 Lint dependencies pt.1
  .syncpackrc
  Makefile
  coverage/package.json
  libs/@guardian/cobalt-plugin-ts/package.json
  libs/@guardian/eslint-config/package.json
  package.json
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/eslint-config, run_chromatic

#1601 Upgrade Node.js
  .nvmrc
  package.json
  pnpm-lock.yaml
Labels: run_chromatic

#1605 Apply Source update and bump dev kitchen
  .changeset/mean-apes-guess.md
  libs/@guardian/source-development-kitchen/CHANGELOG.md
  libs/@guardian/source-development-kitchen/package.json
  libs/@guardian/source/CHANGELOG.md
  libs/@guardian/source/package.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1609 update changeset lockfile
  .github/workflows/canaries.yml
  .github/workflows/changesets.yml
  Makefile
  README.md
Labels: run_chromatic

#1617 remove make version from changesets action
  .github/workflows/changesets.yml
  scripts/changesets/version.sh
Labels: run_chromatic

#1619 make changeset script executable
  scripts/changesets/version.sh
Labels: run_chromatic
