Repository guardian/csnx, pull requests merged in 2024-11, with the labels that each got.

#1733 Make Select show error styling only if user has interacted
  .changeset/rotten-bobcats-prove.md
  libs/@guardian/source/src/react-components/select/styles.ts
Labels: 📦 npm, run_chromatic

#1752 Fix sourcepoint integration tests in libs node22
  libs/@guardian/libs/package.json
Labels: 📦 npm, @guardian/libs, run_chromatic

#1756 Revert "Make Select show error styling only if user has interacted"
  .changeset/rotten-bobcats-prove.md
  libs/@guardian/source/src/react-components/select/styles.ts
Labels: 📦 npm, run_chromatic

#1762 Add `react-crossword` package to workspace
  .changeset/config.json
  .github/workflows/chromatic-label-trigger.yml
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  Makefile
  README.md
  apps/storybooks/.storybook/main.ts
  libs/@guardian/react-crossword/.storybook/main.ts
  libs/@guardian/react-crossword/.storybook/preview-head.html
  libs/@guardian/react-crossword/.storybook/preview.tsx
  libs/@guardian/react-crossword/.storybook/preview/viewport.ts
  libs/@guardian/react-crossword/CHANGELOG.md
  libs/@guardian/react-crossword/README.md
  libs/@guardian/react-crossword/eslint.config.js
  libs/@guardian/react-crossword/jest.config.js
  libs/@guardian/react-crossword/jest.dist.setup.js
  libs/@guardian/react-crossword/package.json
  libs/@guardian/react-crossword/rollup.config.js
  libs/@guardian/react-crossword/src/@types/CAPI.ts
  libs/@guardian/react-crossword/src/@types/Direction.ts
  libs/@guardian/react-crossword/src/@types/Entry.ts
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/Cell.stories.tsx
  libs/@guardian/react-crossword/src/components/Cell.tsx
  libs/@guardian/react-crossword/src/components/Clue.stories-waiting.tsx
  libs/@guardian/react-crossword/src/components/Clue.tsx
  libs/@guardian/react-crossword/src/components/CluesList.stories-waiting.tsx
  libs/@guardian/react-crossword/src/components/CluesList.tsx
  libs/@guardian/react-crossword/src/components/Crossword.stories.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/components/Grid.stories.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/index.test.ts
  libs/@guardian/react-crossword/src/index.ts
  libs/@guardian/react-crossword/src/stories/cryptic.ts
  libs/@guardian/react-crossword/src/stories/everyman.ts
  libs/@guardian/react-crossword/src/stories/prize.ts
  libs/@guardian/react-crossword/src/stories/quick-cryptic.ts
  libs/@guardian/react-crossword/src/stories/quick.ts
  libs/@guardian/react-crossword/src/stories/quiptic.ts
  libs/@guardian/react-crossword/src/stories/special.ts
  libs/@guardian/react-crossword/src/stories/speedy.ts
  libs/@guardian/react-crossword/src/stories/weekend.ts
  libs/@guardian/react-crossword/src/theme.ts
  libs/@guardian/react-crossword/src/utils/getCells.ts
  libs/@guardian/react-crossword/tsconfig.json
  package.json
  pnpm-lock.yaml
  scripts/check-packages-for-tslib.mjs
Labels: 📦 npm, run_chromatic

#1764 Updates to `react-crossword` package
  README.md
  libs/@guardian/react-crossword/README.md
  libs/@guardian/react-crossword/package.json
Labels: 📦 npm, run_chromatic

#1740 Check GPC for doNotSell
  .changeset/few-humans-lie.md
  libs/@guardian/libs/src/consent-management-platform/types/usnat/index.ts
  libs/@guardian/libs/src/consent-management-platform/usnat/__fixtures__/api.getGPPData.canSell.json
  libs/@guardian/libs/src/consent-management-platform/usnat/__fixtures__/api.getGPPData.doNotSell.json
  libs/@guardian/libs/src/consent-management-platform/usnat/getConsentState.test.js
  libs/@guardian/libs/src/consent-management-platform/usnat/getConsentState.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#1766 Add Interactivity to keypresses and click
  libs/@guardian/react-crossword/src/@types/CAPI.ts
  libs/@guardian/react-crossword/src/@types/Entry.ts
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/Cell.stories.tsx
  libs/@guardian/react-crossword/src/components/Cell.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/theme.ts
  libs/@guardian/react-crossword/src/utils/getCells.ts
Labels: 📦 npm

#1769 focus and progress state in crossword component
  libs/@guardian/react-crossword/package.json
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/Cell.stories.tsx
  libs/@guardian/react-crossword/src/components/Cell.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/components/Grid.stories.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/theme.ts
  pnpm-lock.yaml
Labels: 📦 npm

#1774 Lets build crosswords in `main`
  libs/@guardian/react-crossword/package.json
  libs/@guardian/react-crossword/src/@types/CAPI.ts
  libs/@guardian/react-crossword/src/@types/Entry.ts
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/Cell.stories.tsx
  libs/@guardian/react-crossword/src/components/Cell.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/components/Grid.stories.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/theme.ts
  libs/@guardian/react-crossword/src/utils/getCells.ts
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1775 Update `react-crossword` stories
  libs/@guardian/react-crossword/.storybook/main.ts
  libs/@guardian/react-crossword/.storybook/preview.tsx
  libs/@guardian/react-crossword/src/components/Cell.stories.tsx
  libs/@guardian/react-crossword/src/components/Crossword.stories.tsx
  libs/@guardian/react-crossword/src/components/Grid.stories.tsx
  libs/@guardian/react-crossword/stories/Formats.stories.tsx
  libs/@guardian/react-crossword/stories/README.mdx
  libs/@guardian/react-crossword/stories/formats/cryptic.ts
  libs/@guardian/react-crossword/stories/formats/everyman.ts
  libs/@guardian/react-crossword/stories/formats/prize.ts
  libs/@guardian/react-crossword/stories/formats/quick-cryptic.ts
  libs/@guardian/react-crossword/stories/formats/quick.ts
  libs/@guardian/react-crossword/stories/formats/quiptic.ts
  libs/@guardian/react-crossword/stories/formats/special.ts
  libs/@guardian/react-crossword/stories/formats/speedy.ts
  libs/@guardian/react-crossword/stories/formats/weekend.ts
Labels: 📦 npm, run_chromatic

#1773 Allow arrow movement over blank squares
  libs/@guardian/react-crossword/src/components/Crossword.tsx
Labels: 📦 npm, run_chromatic

#1777 add an uneven crossword for testing
  libs/@guardian/react-crossword/src/utils/getCells.ts
  libs/@guardian/react-crossword/stories/Formats.stories.tsx
  libs/@guardian/react-crossword/stories/formats/uneven.ts
Labels: 📦 npm, run_chromatic

#1778 add clues to crossword
  libs/@guardian/react-crossword/src/components/Clue.stories-waiting.tsx
  libs/@guardian/react-crossword/src/components/Clue.stories.tsx
  libs/@guardian/react-crossword/src/components/Clue.tsx
  libs/@guardian/react-crossword/src/components/Clues.stories.tsx
  libs/@guardian/react-crossword/src/components/Clues.tsx
  libs/@guardian/react-crossword/src/components/CluesList.stories-waiting.tsx
  libs/@guardian/react-crossword/src/components/CluesList.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
Labels: 📦 npm, run_chromatic

#1776 add local storage to Crossword
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/utils/progress.ts
Labels: 📦 npm, run_chromatic

#1779 Organise crossword components
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/components/Grid.stories.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/utils/getCells.ts
Labels: 📦 npm, run_chromatic

#1780 Crossword housekeeping
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/components/Grid.stories.tsx
  libs/@guardian/react-crossword/src/utils/parseCrosswordData.ts
Labels: 📦 npm, run_chromatic

#1782 fix missing cell numbers
  libs/@guardian/react-crossword/src/utils/parseCrosswordData.ts
Labels: 📦 npm, run_chromatic

#1781 Grey out completed clues
  libs/@guardian/react-crossword/src/components/Clue.stories.tsx
  libs/@guardian/react-crossword/src/components/Clue.tsx
  libs/@guardian/react-crossword/src/components/Clues.stories.tsx
  libs/@guardian/react-crossword/src/components/Clues.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
Labels: 📦 npm, run_chromatic

#1785 Add progress state to component stories
  libs/@guardian/react-crossword/src/components/Crossword.stories.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/components/Grid.stories.tsx
  libs/@guardian/react-crossword/src/utils/progress.ts
  libs/@guardian/react-crossword/stories/formats/cryptic.progress.ts
Labels: 📦 npm, run_chromatic

#1784 Crossword interactivity clear / reveal - all / word
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/Button.tsx
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/theme.ts
Labels: 📦 npm, run_chromatic

#1786 Add separators to crossword
  libs/@guardian/react-crossword/src/@types/CAPI.ts
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/Cell.stories.tsx
  libs/@guardian/react-crossword/src/components/Cell.tsx
  libs/@guardian/react-crossword/src/components/Clue.stories.tsx
  libs/@guardian/react-crossword/src/components/Clues.stories.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/components/Grid.stories.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/utils/parseCrosswordData.ts
  libs/@guardian/react-crossword/stories/formats/cryptic.progress.ts
  libs/@guardian/react-crossword/stories/formats/separators.ts
Labels: 📦 npm, run_chromatic

#1787 Add condition for rendering buttons when solutionsAvailable and not
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
Labels: 📦 npm, run_chromatic

#1790 Handle grouped entries
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/Cell.stories.tsx
  libs/@guardian/react-crossword/src/components/Cell.tsx
  libs/@guardian/react-crossword/src/components/Clue.stories.tsx
  libs/@guardian/react-crossword/src/components/Clue.tsx
  libs/@guardian/react-crossword/src/components/Clues.stories.tsx
  libs/@guardian/react-crossword/src/components/Clues.tsx
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/components/Crossword.stories.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/components/Grid.stories.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/theme.ts
  libs/@guardian/react-crossword/stories/Formats.stories.tsx
  libs/@guardian/react-crossword/stories/formats/grouped-clues.progress.ts
  libs/@guardian/react-crossword/stories/formats/grouped-clues.ts
Labels: 📦 npm, run_chromatic

#1791 Use hooks and context for cleaner code
  libs/@guardian/react-crossword/src/components/Cell.stories.tsx
  libs/@guardian/react-crossword/src/components/Cell.tsx
  libs/@guardian/react-crossword/src/components/Clue.stories.tsx
  libs/@guardian/react-crossword/src/components/Clue.tsx
  libs/@guardian/react-crossword/src/components/Clues.stories.tsx
  libs/@guardian/react-crossword/src/components/Clues.tsx
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/components/Crossword.stories.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/components/Grid.stories.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/context/ProgressContext.ts
  libs/@guardian/react-crossword/src/context/ThemeContext.ts
  libs/@guardian/react-crossword/src/hooks/useProgress.ts
  libs/@guardian/react-crossword/src/utils/progress.ts
Labels: 📦 npm, run_chromatic

#1797 Update eslint v9.14.0
  apps/github-pages/package.json
  apps/storybooks/package.json
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-react/package.json
  libs/@guardian/browserslist-config/package.json
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/eslint-config/CHANGELOG.md
  libs/@guardian/eslint-config/package.json
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth/package.json
  libs/@guardian/libs/package.json
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/prettier/package.json
  libs/@guardian/react-crossword/package.json
  libs/@guardian/source-development-kitchen/package.json
  libs/@guardian/source/package.json
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/libs, @guardian/browserslist-config, @guardian/eslint-config, @guardian/prettier, @guardian/ab-core, @guardian/ab-react, run_chromatic

#1799 Fix `Cell` story theming
  libs/@guardian/react-crossword/src/components/Cell.stories.tsx
Labels: 📦 npm, run_chromatic

#1798 Assume any separator that’s not a hyphen is a thicker line
  libs/@guardian/react-crossword/src/@types/CAPI.ts
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/stories/formats/separators.ts
Labels: 📦 npm, run_chromatic

#1788 crossword responsive
  libs/@guardian/react-crossword/package.json
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/Clues.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/theme.ts
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1803 Disable CMP e2e tests
  .github/CODEOWNERS
  libs/@guardian/libs/playwright/e2e/sourcepoint-aus.spec.js.disabled
  libs/@guardian/libs/playwright/e2e/sourcepoint-tcfv2.spec.js.disabled
  libs/@guardian/libs/playwright/e2e/sourcepoint-usnat.spec.js.disabled
  libs/@guardian/libs/playwright/e2e/temp.spec.js
Labels: 📦 npm, @guardian/libs, run_chromatic

#1801 Lint js/ts files in react config
  libs/@guardian/eslint-config/CHANGELOG.md
  libs/@guardian/eslint-config/configs/react.js
  libs/@guardian/eslint-config/package.json
Labels: 📦 npm, @guardian/eslint-config, run_chromatic

#1802 Use `use-local-storage-state` for crosswords
  configs/jest.config.js
  libs/@guardian/react-crossword/package.json
  libs/@guardian/react-crossword/src/components/Clues.stories.tsx
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/components/Grid.stories.tsx
  libs/@guardian/react-crossword/src/context/ProgressContext.ts
  libs/@guardian/react-crossword/src/hooks/useProgress.ts
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1805 Validate stored crossword state
  libs/@guardian/react-crossword/src/hooks/useProgress.ts
  libs/@guardian/react-crossword/src/hooks/useStoredState.ts
Labels: 📦 npm, run_chromatic

#1806 Say that crosswords are saved
  libs/@guardian/react-crossword/src/components/Crossword.tsx
Labels: 📦 npm, run_chromatic

#1807 Crossword styling updates
  libs/@guardian/react-crossword/src/components/Cell.stories.tsx
  libs/@guardian/react-crossword/src/components/Cell.tsx
  libs/@guardian/react-crossword/src/components/Clue.tsx
  libs/@guardian/react-crossword/src/components/Clues.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/theme.ts
Labels: 📦 npm, run_chromatic

#1808 Zetterise crossword input
  libs/@guardian/react-crossword/src/components/Cell.stories.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
Labels: 📦 npm, run_chromatic

#1811 Prop-drill `progress`
  libs/@guardian/react-crossword/src/components/Cell.stories.tsx
  libs/@guardian/react-crossword/src/components/Clues.stories.tsx
  libs/@guardian/react-crossword/src/components/Clues.tsx
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/components/Grid.stories.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/context/ProgressContext.ts
  libs/@guardian/react-crossword/src/hooks/useProgress.ts
Labels: 📦 npm, run_chromatic

#1810 Make crossword theme settings standard props
  libs/@guardian/react-crossword/src/components/Crossword.stories.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/stories/Formats.stories.tsx
Labels: 📦 npm, run_chromatic

#1804 Fix for usnat supported api lookup
  .changeset/silver-taxis-learn.md
  libs/@guardian/libs/src/consent-management-platform/usnat/getConsentState.test.js
  libs/@guardian/libs/src/consent-management-platform/usnat/getConsentState.ts
Labels: 📦 npm, @guardian/libs, run_chromatic, 🐥 Canaries

#1813 Updating changesets
  package.json
  pnpm-lock.yaml
Labels: run_chromatic

#1821 Bump `@types/node`
  package.json
  pnpm-lock.yaml
Labels: run_chromatic

#1820 Add custom layout and make default layout respond to container
  libs/@guardian/react-crossword/package.json
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/Cell.stories.tsx
  libs/@guardian/react-crossword/src/components/Cell.tsx
  libs/@guardian/react-crossword/src/components/Clue.stories.tsx
  libs/@guardian/react-crossword/src/components/Clue.tsx
  libs/@guardian/react-crossword/src/components/Clues.stories.tsx
  libs/@guardian/react-crossword/src/components/Clues.tsx
  libs/@guardian/react-crossword/src/components/Controls.stories.tsx
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/components/Crossword.stories.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/components/Grid.stories.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/components/Layout.tsx
  libs/@guardian/react-crossword/src/context/ContextProvider.tsx
  libs/@guardian/react-crossword/src/context/CurrentCell.tsx
  libs/@guardian/react-crossword/src/context/CurrentClue.tsx
  libs/@guardian/react-crossword/src/context/Data.tsx
  libs/@guardian/react-crossword/src/context/GenerateIdContext.tsx
  libs/@guardian/react-crossword/src/context/Progress.tsx
  libs/@guardian/react-crossword/src/context/Theme.tsx
  libs/@guardian/react-crossword/src/context/ThemeContext.ts
  libs/@guardian/react-crossword/src/theme.ts
  libs/@guardian/react-crossword/src/utils/parseCrosswordData.ts
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1819 Add anagram helper to crossword
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/AnagramHelper.stories.tsx
  libs/@guardian/react-crossword/src/components/AnagramHelper.tsx
  libs/@guardian/react-crossword/src/components/Button.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/components/SolutionDisplay.stories.tsx
  libs/@guardian/react-crossword/src/components/SolutionDisplay.tsx
  libs/@guardian/react-crossword/src/components/SolutionDisplayCell.stories.tsx
  libs/@guardian/react-crossword/src/components/SolutionDisplayCell.tsx
  libs/@guardian/react-crossword/src/components/SolutionDisplayKey.stories.tsx
  libs/@guardian/react-crossword/src/components/SolutionDisplayKey.tsx
  libs/@guardian/react-crossword/src/components/WordWheel.stories.tsx
  libs/@guardian/react-crossword/src/components/WordWheel.tsx
  libs/@guardian/react-crossword/src/theme.ts
  libs/@guardian/react-crossword/src/utils/getAnagramHelperProgressForGroup.ts
  libs/@guardian/react-crossword/src/utils/keydownRegex.ts
  libs/@guardian/react-crossword/stories/formats/solution-display.progress.ts
  libs/@guardian/react-crossword/stories/formats/word-wheel.progress.ts
Labels: 📦 npm, run_chromatic
