Repository guardian/csnx, pull requests merged in 2024-09, with the labels that each got.

#1675 Disallow use of `css` in Source components
  .changeset/chatty-steaks-tap.md
  libs/@guardian/source/src/react-components/@types/Props.ts
Labels: 📦 npm, run_chromatic

#1689 Use `@eslint-community/eslint-plugin-eslint-comments`
  libs/@guardian/eslint-config/CHANGELOG.md
  libs/@guardian/eslint-config/configs/comments.js
  libs/@guardian/eslint-config/configs/javascript.base.js
  libs/@guardian/eslint-config/package.json
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/eslint-config, run_chromatic

#1665 Updated AUS privacy manager id
  .changeset/short-starfishes-change.md
  libs/@guardian/libs/playwright/fixtures/sourcepointConfig.js
  libs/@guardian/libs/src/consent-management-platform/lib/sourcepointConfig.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#1685 Upgrade storybook to use vite
  .changeset/config.json
  .changeset/dull-zebras-sin.md
  .gitignore
  Makefile
  README.md
  apps/storybooks/.storybook/main.js
  apps/storybooks/.storybook/main.ts
  apps/storybooks/.storybook/preview.js
  apps/storybooks/package.json
  apps/storybooks/src/README.mdx
  apps/storybooks/tsconfig.json
  configs/storybook/main.ts
  configs/storybook/package.json
  configs/storybook/preview.ts
  configs/storybook/preview/FocusManagerDecorator.tsx
  configs/storybook/preview/ThemeProviderDecorator.tsx
  configs/storybook/preview/backgrounds.ts
  configs/storybook/theme.ts
  libs/@guardian/ab-react/package.json
  libs/@guardian/source-development-kitchen/.storybook/main.ts
  libs/@guardian/source-development-kitchen/.storybook/manager.ts
  libs/@guardian/source-development-kitchen/.storybook/preview-head.html
  libs/@guardian/source-development-kitchen/.storybook/preview.ts
  libs/@guardian/source-development-kitchen/.storybook/preview.tsx
  libs/@guardian/source-development-kitchen/.storybook/preview/viewport.ts
  libs/@guardian/source-development-kitchen/package.json
  libs/@guardian/source-development-kitchen/src/react-components/logo/Logo.stories.tsx
  libs/@guardian/source/.storybook/main.ts
  libs/@guardian/source/.storybook/manager.ts
  libs/@guardian/source/.storybook/preview-head.html
  libs/@guardian/source/.storybook/preview.ts
  libs/@guardian/source/.storybook/preview.tsx
  libs/@guardian/source/.storybook/preview/viewport.ts
  libs/@guardian/source/package.json
  libs/@guardian/source/src/foundations/palette/palette.mdx
  libs/@guardian/source/src/foundations/palette/palette.stories.tsx
  libs/@guardian/source/src/foundations/typography/stories/typography.mdx
  libs/@guardian/source/src/foundations/typography/stories/typography.stories.tsx
  libs/@guardian/source/src/react-components/accordion/Accordion.stories.tsx
  libs/@guardian/source/src/react-components/button/Button.stories.tsx
  libs/@guardian/source/src/react-components/button/LinkButton.stories.tsx
  libs/@guardian/source/src/react-components/checkbox/Checkbox.stories.tsx
  libs/@guardian/source/src/react-components/checkbox/CheckboxGroup.stories.tsx
  libs/@guardian/source/src/react-components/choice-card/ChoiceCard.stories.tsx
  libs/@guardian/source/src/react-components/choice-card/ChoiceCardGroup.stories.tsx
  libs/@guardian/source/src/react-components/icons/Icons.mdx
  libs/@guardian/source/src/react-components/icons/Icons.stories.tsx
  libs/@guardian/source/src/react-components/label/Label.stories.tsx
  libs/@guardian/source/src/react-components/label/Legend.stories.tsx
  libs/@guardian/source/src/react-components/link/ButtonLink.stories.tsx
  libs/@guardian/source/src/react-components/link/Link.stories.tsx
  libs/@guardian/source/src/react-components/radio/Radio.stories.tsx
  libs/@guardian/source/src/react-components/radio/RadioGroup.stories.tsx
  libs/@guardian/source/src/react-components/select/Select.stories.tsx
  libs/@guardian/source/src/react-components/text-area/TextArea.stories.tsx
  libs/@guardian/source/src/react-components/text-input/TextInput.stories.tsx
  libs/@guardian/source/src/react-components/user-feedback/InlineError.stories.tsx
  libs/@guardian/source/src/react-components/user-feedback/InlineSuccess.stories.tsx
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/ab-react, run_chromatic

#1693 Set internal devDep versions of `libs` to bottom of peerDep range
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/source-development-kitchen/package.json
  libs/@guardian/source/package.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1701 upgrade micromatch to version 4.0.8
  pnpm-lock.yaml
Labels: run_chromatic

#1683 Remove `ArticleDesign.PrintShop`
  .changeset/nine-doors-sing.md
  libs/@guardian/libs/src/format/ArticleDesign.ts
Labels: 📦 npm, @guardian/libs, run_chromatic, 🐥 Canaries

#1342 CMP: Implement the Multi-State-Privacy-Agreement in the US
  .changeset/slimy-lobsters-jump.md
  apps/github-pages/src/components/CmpTest.svelte
  libs/@guardian/libs/playwright/e2e/sourcepoint-usnat.spec.js
  libs/@guardian/libs/playwright/fixtures/sourcepointConfig.js
  libs/@guardian/libs/src/consent-management-platform/README.md
  libs/@guardian/libs/src/consent-management-platform/aus/api.ts
  libs/@guardian/libs/src/consent-management-platform/ccpa/api.test.js
  libs/@guardian/libs/src/consent-management-platform/ccpa/api.ts
  libs/@guardian/libs/src/consent-management-platform/ccpa/getConsentState.test.js
  libs/@guardian/libs/src/consent-management-platform/ccpa/getConsentState.ts
  libs/@guardian/libs/src/consent-management-platform/cmp.ts
  libs/@guardian/libs/src/consent-management-platform/getConsentFor.test.js
  libs/@guardian/libs/src/consent-management-platform/getConsentFor.ts
  libs/@guardian/libs/src/consent-management-platform/getFramework.test.js
  libs/@guardian/libs/src/consent-management-platform/getFramework.ts
  libs/@guardian/libs/src/consent-management-platform/index.test.ts
  libs/@guardian/libs/src/consent-management-platform/lib/sourcepointConfig.ts
  libs/@guardian/libs/src/consent-management-platform/onConsent.test.ts
  libs/@guardian/libs/src/consent-management-platform/onConsent.ts
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.enhanced.test.ts
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.test.js
  libs/@guardian/libs/src/consent-management-platform/onConsentChange.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.test.js
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/stub.ts
  libs/@guardian/libs/src/consent-management-platform/stub_gpp_ccpa.js
  libs/@guardian/libs/src/consent-management-platform/stub_gpp_usnat.js
  libs/@guardian/libs/src/consent-management-platform/types/aus.ts
  libs/@guardian/libs/src/consent-management-platform/types/ccpa.ts
  libs/@guardian/libs/src/consent-management-platform/types/index.ts
  libs/@guardian/libs/src/consent-management-platform/types/usnat/index.ts
  libs/@guardian/libs/src/consent-management-platform/types/window.d.ts
  libs/@guardian/libs/src/consent-management-platform/usnat/__fixtures__/api.getGPPData.canSell.json
  libs/@guardian/libs/src/consent-management-platform/usnat/__fixtures__/api.getGPPData.doNotSell.json
  libs/@guardian/libs/src/consent-management-platform/usnat/__fixtures__/api.getGPPData.fail.json
  libs/@guardian/libs/src/consent-management-platform/usnat/__fixtures__/api.getUSPData.json
  libs/@guardian/libs/src/consent-management-platform/usnat/api.test.js
  libs/@guardian/libs/src/consent-management-platform/usnat/api.ts
  libs/@guardian/libs/src/consent-management-platform/usnat/getConsentState.test.js
  libs/@guardian/libs/src/consent-management-platform/usnat/getConsentState.ts
  libs/@guardian/libs/src/index.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#1709 Don't release source update just yet
  .changeset/dull-zebras-sin.md.wait
Labels: run_chromatic
