Repository guardian/csnx, pull requests merged in 2024-05, with the labels that each got.

#1370 Update Source components to use typography presets
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source-react-components/src/accordion/styles.ts
  libs/@guardian/source-react-components/src/button/styles.ts
  libs/@guardian/source-react-components/src/checkbox/styles.ts
  libs/@guardian/source-react-components/src/choice-card/styles.ts
  libs/@guardian/source-react-components/src/footer/styles.ts
  libs/@guardian/source-react-components/src/label/styles.ts
  libs/@guardian/source-react-components/src/link/Link.stories.tsx
  libs/@guardian/source-react-components/src/link/styles.ts
  libs/@guardian/source-react-components/src/radio/styles.ts
  libs/@guardian/source-react-components/src/select/styles.ts
  libs/@guardian/source-react-components/src/text-area/styles.ts
  libs/@guardian/source-react-components/src/text-input/styles.ts
  libs/@guardian/source-react-components/src/user-feedback/styles.ts
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1402 Add missing changeset for `@guardian/source-react-components`
  .changeset/gentle-lamps-provide.md
Labels: run_chromatic

#1394 Update Source Development Kitchen components to use typography presets
  .changeset/old-zebras-divide.md
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components-development-kitchen/src/age-warning/AgeWarning.tsx
  libs/@guardian/source-react-components-development-kitchen/src/divider/Divider.tsx
  libs/@guardian/source-react-components-development-kitchen/src/expanding-wrapper/styles.ts
  libs/@guardian/source-react-components-development-kitchen/src/file-input/styles.ts
  libs/@guardian/source-react-components-development-kitchen/src/footer-with-contents/footerLinksStyles.ts
  libs/@guardian/source-react-components-development-kitchen/src/footer-with-contents/footerWithContentsStyles.ts
  libs/@guardian/source-react-components-development-kitchen/src/numeric-input/sharedStyles.ts
  libs/@guardian/source-react-components-development-kitchen/src/summary/styles.ts
  libs/@guardian/source-react-components-development-kitchen/src/tabs/styles.ts
  libs/@guardian/source-react-components-development-kitchen/src/toggle-switch-apps/styles.ts
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1391 default consents for 11 is false
  .changeset/shaggy-bobcats-yell.md
  libs/@guardian/libs/src/consent-management-platform/tcfv2/__fixtures__/api.getTCData.json
  libs/@guardian/libs/src/consent-management-platform/tcfv2/getConsentState.test.js
  libs/@guardian/libs/src/consent-management-platform/tcfv2/getConsentState.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#1409 Fix CMP cypress tests
  .gitignore
  libs/@guardian/libs/cypress/e2e/consent-management-platform/sourcepoint-tcfv2.cy.js
Labels: 📦 npm, @guardian/libs, run_chromatic

#1369 Improve `Inline` layout spacing
  .changeset/early-rocks-run.md
  libs/@guardian/source-react-components/src/@types/Space.ts
  libs/@guardian/source-react-components/src/inline/@types/InlineSpace.ts
  libs/@guardian/source-react-components/src/inline/Inline.stories.tsx
  libs/@guardian/source-react-components/src/inline/Inline.tsx
  libs/@guardian/source-react-components/src/inline/styles.ts
Labels: 📦 npm, run_chromatic

#1408 Remove deprecated input reset style
  .changeset/shy-buckets-obey.md
  libs/@guardian/source-foundations/src/utils/resets.test.ts
  libs/@guardian/source-foundations/src/utils/resets.ts
Labels: 📦 npm, run_chromatic

#1428 Update esmodules changeset
  .changeset/lovely-moose-thank.md
Labels: run_chromatic

#1429 Do not publish `design-tokens`
  .changeset/lovely-moose-thank.md
Labels: run_chromatic

#1436 bump node to `20.13.1`
  .nvmrc
  package.json
  pnpm-lock.yaml
Labels: run_chromatic

#1434 Update neutral colour palette
  .changeset/many-olives-kneel.md
  libs/@guardian/design-tokens/src/__generated__/tokens.d.ts
  libs/@guardian/design-tokens/src/__generated__/tokens.js
  libs/@guardian/design-tokens/src/__generated__/variables.css
  libs/@guardian/design-tokens/src/tokens.json
Labels: 📦 npm, run_chromatic

#1443 fix tokens test
  libs/@guardian/design-tokens/__generated__/tokens.d.ts
  libs/@guardian/design-tokens/__generated__/tokens.js
  libs/@guardian/design-tokens/__generated__/variables.css
  libs/@guardian/design-tokens/package.json
  libs/@guardian/design-tokens/tokens.config.js
  libs/@guardian/design-tokens/tokens.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/src/tokens.test.ts
Labels: 📦 npm, run_chromatic

#1435 Try `@guardian/source` package once more
  .changeset/popular-pumas-draw.md
  Makefile
  README.md
  apps/storybooks/.storybook/main.js
  configs/rollup.config.js
  libs/@guardian/source/.eslintrc.cjs
  libs/@guardian/source/.storybook/main.js
  libs/@guardian/source/.storybook/manager.ts
  libs/@guardian/source/.storybook/preview-head.html
  libs/@guardian/source/.storybook/preview.tsx
  libs/@guardian/source/.storybook/preview/FocusManagerDecorator.tsx
  libs/@guardian/source/.storybook/preview/ThemeProviderDecorator.tsx
  libs/@guardian/source/.storybook/preview/backgrounds.ts
  libs/@guardian/source/.storybook/preview/viewport.ts
  libs/@guardian/source/.storybook/theme.ts
  libs/@guardian/source/README.md
  libs/@guardian/source/assets/logo.png
  libs/@guardian/source/foundations/package.json
  libs/@guardian/source/jest.config.js
  libs/@guardian/source/jest.dist.setup.js
  libs/@guardian/source/lib/jest-matchers/@types/index.d.ts
  libs/@guardian/source/lib/jest-matchers/toBeValidCSS.ts
  libs/@guardian/source/lib/jest-matchers/toMatchCSS.ts
  libs/@guardian/source/package.json
  libs/@guardian/source/react-components/package.json
  libs/@guardian/source/rollup.config.js
  libs/@guardian/source/scripts/build-type-presets.ts
  libs/@guardian/source/scripts/create-icons/README.md
  libs/@guardian/source/scripts/create-icons/create-icon-component.ts
  libs/@guardian/source/scripts/create-icons/create-readme.ts
  libs/@guardian/source/scripts/create-icons/get-svgs-from-figma.ts
  libs/@guardian/source/scripts/create-icons/index.ts
  libs/@guardian/source/src/foundations
  libs/@guardian/source/src/react-components
  libs/@guardian/source/tsconfig.json
  libs/@guardian/source/tsconfig.spec.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: 📦 npm, run_chromatic

#1445 Bump `react-components*` to latest foundations
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/CHANGELOG.md
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/CHANGELOG.md
  libs/@guardian/source-react-components/package.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1449 Include Purpose 11 in Cypress Test
  libs/@guardian/libs/cypress/e2e/consent-management-platform/sourcepoint-tcfv2.cy.js
Labels: 📦 npm, @guardian/libs, run_chromatic

#1455 Remove Nx from single source package
  libs/@guardian/source/package.json
Labels: 📦 npm, run_chromatic

#1456 Allow passing of package name to `check-npm-scripts`
  scripts/deno/check-npm-scripts.ts
  scripts/deno/deno.lock
Labels: run_chromatic

#1457 Rename command to build storybooks
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  Makefile
  README.md
  docs/source/contributing.md
  docs/source/storybook.md
Labels: run_chromatic

#1460 ignore wireit cache dirs when looking for tests
  configs/jest.config.js
Labels: run_chromatic

#1462 move rollup configs to `configs/rollup`
  configs/rollup/package.json
  configs/rollup/rollup.config.js
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-core/rollup.config.js
  libs/@guardian/ab-react/package.json
  libs/@guardian/ab-react/rollup.config.js
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/core-web-vitals/rollup.config.js
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-foundations/rollup.config.js
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/eslint-plugin-source-react-components/rollup.config.js
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth-frontend/rollup.config.js
  libs/@guardian/identity-auth/package.json
  libs/@guardian/identity-auth/rollup.config.js
  libs/@guardian/libs/package.json
  libs/@guardian/libs/rollup.config.js
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/newsletter-types/rollup.config.js
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/rollup.config.js
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components-development-kitchen/rollup.config.js
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source-react-components/rollup.config.js
  libs/@guardian/source/package.json
  libs/@guardian/source/rollup.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: 📦 npm, @guardian/libs, @guardian/ab-core, @guardian/ab-react, run_chromatic

#1467 Ignore build-process files in tsconfigs
  libs/@guardian/ab-core/tsconfig.json
  libs/@guardian/ab-react/tsconfig.json
  libs/@guardian/browserslist-config/tsconfig.json
  libs/@guardian/cobalt-plugin-ts/tsconfig.json
  libs/@guardian/core-web-vitals/tsconfig.json
  libs/@guardian/design-tokens/tsconfig.json
  libs/@guardian/eslint-plugin-source-foundations/tsconfig.json
  libs/@guardian/eslint-plugin-source-react-components/tsconfig.json
  libs/@guardian/identity-auth-frontend/tsconfig.json
  libs/@guardian/identity-auth/tsconfig.json
  libs/@guardian/libs/tsconfig.json
  libs/@guardian/newsletter-types/tsconfig.json
  libs/@guardian/source-foundations/tsconfig.json
  libs/@guardian/source-react-components-development-kitchen/tsconfig.json
  libs/@guardian/source-react-components/tsconfig.json
  libs/@guardian/source/tsconfig.json
Labels: 📦 npm, @guardian/libs, @guardian/browserslist-config, @guardian/ab-core, @guardian/ab-react, run_chromatic

#1461 Move storybook configs and deps to `configs/storybook`
  apps/storybooks/.storybook/main.js
  apps/storybooks/package.json
  configs/storybook/main.js
  configs/storybook/package.json
  configs/storybook/preview-head.html
  configs/storybook/preview.ts
  configs/storybook/preview/FocusManagerDecorator.tsx
  configs/storybook/preview/ThemeProviderDecorator.tsx
  configs/storybook/preview/backgrounds.ts
  configs/storybook/preview/viewport.ts
  configs/storybook/theme.ts
  libs/@guardian/source-foundations/.storybook/main.js
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/.storybook/main.js
  libs/@guardian/source-react-components-development-kitchen/.storybook/manager.ts
  libs/@guardian/source-react-components-development-kitchen/.storybook/preview.ts
  libs/@guardian/source-react-components-development-kitchen/.storybook/theme.ts
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/.storybook/main.js
  libs/@guardian/source-react-components/.storybook/manager.ts
  libs/@guardian/source-react-components/.storybook/preview-head.html
  libs/@guardian/source-react-components/.storybook/preview.ts
  libs/@guardian/source-react-components/.storybook/preview.tsx
  libs/@guardian/source-react-components/.storybook/preview/FocusManagerDecorator.tsx
  libs/@guardian/source-react-components/.storybook/preview/ThemeProviderDecorator.tsx
  libs/@guardian/source-react-components/.storybook/preview/backgrounds.ts
  libs/@guardian/source-react-components/.storybook/preview/viewport.ts
  libs/@guardian/source-react-components/.storybook/theme.ts
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source-react-components/scripts/create-icons/create-icon-component.ts
  libs/@guardian/source/.storybook/main.js
  libs/@guardian/source/.storybook/manager.ts
  libs/@guardian/source/.storybook/preview-head.html
  libs/@guardian/source/.storybook/preview.ts
  libs/@guardian/source/.storybook/preview.tsx
  libs/@guardian/source/.storybook/preview/FocusManagerDecorator.tsx
  libs/@guardian/source/.storybook/preview/ThemeProviderDecorator.tsx
  libs/@guardian/source/.storybook/preview/backgrounds.ts
  libs/@guardian/source/.storybook/preview/viewport.ts
  libs/@guardian/source/.storybook/theme.ts
  libs/@guardian/source/package.json
  package.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1459 Create `@guardian/source-development-kitchen`
  .changeset/config.json
  .changeset/shy-timers-bow.md
  Makefile
  README.md
  apps/storybooks/.storybook/main.js
  libs/@guardian/source-development-kitchen/.eslintrc.cjs
  libs/@guardian/source-development-kitchen/.storybook/main.js
  libs/@guardian/source-development-kitchen/.storybook/manager.ts
  libs/@guardian/source-development-kitchen/.storybook/preview.ts
  libs/@guardian/source-development-kitchen/README.md
  libs/@guardian/source-development-kitchen/jest.config.js
  libs/@guardian/source-development-kitchen/jest.dist.setup.js
  libs/@guardian/source-development-kitchen/main.js
  libs/@guardian/source-development-kitchen/package.json
  libs/@guardian/source-development-kitchen/react-components/package.json
  libs/@guardian/source-development-kitchen/rollup.config.js
  libs/@guardian/source-development-kitchen/src/react-components
  libs/@guardian/source-development-kitchen/tsconfig.json
  libs/@guardian/source-development-kitchen/tsconfig.spec.json
  libs/@guardian/source/README.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: 📦 npm, run_chromatic

#1469 force pnpm to use registry version of packages
  .npmrc
  pnpm-lock.yaml
Labels: run_chromatic

#1475 Remove source eslint plugins
  .github/CODEOWNERS
  Makefile
  README.md
  docs/source/README.md
  libs/@guardian/eslint-plugin-source-foundations/.eslintrc.cjs
  libs/@guardian/eslint-plugin-source-foundations/CHANGELOG.md
  libs/@guardian/eslint-plugin-source-foundations/README.md
  libs/@guardian/eslint-plugin-source-foundations/jest.config.js
  libs/@guardian/eslint-plugin-source-foundations/jest.dist.setup.js
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-foundations/rollup.config.js
  libs/@guardian/eslint-plugin-source-foundations/src/index.test.ts
  libs/@guardian/eslint-plugin-source-foundations/src/index.ts
  libs/@guardian/eslint-plugin-source-foundations/src/rules/no-star-imports-or-exports.test.ts
  libs/@guardian/eslint-plugin-source-foundations/src/rules/no-star-imports-or-exports.ts
  libs/@guardian/eslint-plugin-source-foundations/src/rules/valid-import-path.test.ts
  libs/@guardian/eslint-plugin-source-foundations/src/rules/valid-import-path.ts
  libs/@guardian/eslint-plugin-source-foundations/tsconfig.json
  libs/@guardian/eslint-plugin-source-foundations/tsconfig.spec.json
  libs/@guardian/eslint-plugin-source-react-components/.eslintrc.cjs
  libs/@guardian/eslint-plugin-source-react-components/CHANGELOG.md
  libs/@guardian/eslint-plugin-source-react-components/README.md
  libs/@guardian/eslint-plugin-source-react-components/jest.config.js
  libs/@guardian/eslint-plugin-source-react-components/jest.dist.setup.js
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/eslint-plugin-source-react-components/rollup.config.js
  libs/@guardian/eslint-plugin-source-react-components/src/index.test.ts
  libs/@guardian/eslint-plugin-source-react-components/src/index.ts
  libs/@guardian/eslint-plugin-source-react-components/src/rules/valid-import-path.test.ts
  libs/@guardian/eslint-plugin-source-react-components/src/rules/valid-import-path.ts
  libs/@guardian/eslint-plugin-source-react-components/tsconfig.json
  libs/@guardian/eslint-plugin-source-react-components/tsconfig.spec.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1472 Production release of `@guardian/source`
  libs/@guardian/source/CHANGELOG.md
  libs/@guardian/source/package.json
Labels: 📦 npm, run_chromatic

#1473 Production release of `@guardian/source-development-kitchen` package
  libs/@guardian/source-development-kitchen/CHANGELOG.md
  libs/@guardian/source-development-kitchen/package.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1484 Clean root deps
  .github/dependabot.yml
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-react/package.json
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth/package.json
  libs/@guardian/libs/.lintstagedrc.js
  libs/@guardian/libs/package.json
  libs/@guardian/libs/src/consent-management-platform/index.ts
  libs/@guardian/source-development-kitchen/package.json
  libs/@guardian/source/package.json
  package.json
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/libs, @guardian/ab-core, @guardian/ab-react, run_chromatic

#1447 Update generated id with react useId
  .changeset/happy-toes-explain.md
  libs/@guardian/source/src/react-components/checkbox/Checkbox.tsx
  libs/@guardian/source/src/react-components/checkbox/CheckboxGroup.tsx
  libs/@guardian/source/src/react-components/choice-card/ChoiceCardGroup.tsx
  libs/@guardian/source/src/react-components/radio/Radio.tsx
  libs/@guardian/source/src/react-components/radio/RadioGroup.tsx
  libs/@guardian/source/src/react-components/select/Select.tsx
  libs/@guardian/source/src/react-components/text-area/TextArea.tsx
  libs/@guardian/source/src/react-components/text-input/TextInput.tsx
Labels: 📦 npm, run_chromatic, 🐥 Canaries

#1489 Make `react` and `@emotion/react` optional `peerDeps` of source
  .changeset/kind-eyes-divide.md
  libs/@guardian/source/package.json
Labels: 📦 npm, run_chromatic

#1491 Fix react hook useId remove from conditional
  .changeset/twelve-candles-sneeze.md
  libs/@guardian/source/src/react-components/checkbox/Checkbox.tsx
  libs/@guardian/source/src/react-components/checkbox/CheckboxGroup.tsx
  libs/@guardian/source/src/react-components/choice-card/ChoiceCardGroup.tsx
  libs/@guardian/source/src/react-components/radio/Radio.tsx
  libs/@guardian/source/src/react-components/radio/RadioGroup.tsx
  libs/@guardian/source/src/react-components/select/Select.tsx
  libs/@guardian/source/src/react-components/text-area/TextArea.tsx
  libs/@guardian/source/src/react-components/text-input/TextInput.tsx
Labels: 📦 npm, run_chromatic

#1433 Use common `Space` type across components
  .changeset/forty-comics-scream.md
  configs/jest.config.js
  libs/@guardian/source/package.json
  libs/@guardian/source/src/react-components/columns/Columns.tsx
  libs/@guardian/source/src/react-components/columns/styles.ts
  libs/@guardian/source/src/react-components/inline/Inline.stories.tsx
  libs/@guardian/source/src/react-components/inline/Inline.tsx
  libs/@guardian/source/src/react-components/stack/Stack.stories.tsx
  libs/@guardian/source/src/react-components/stack/Stack.tsx
  libs/@guardian/source/src/react-components/stack/styles.ts
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1349 Add support for button groups
  .changeset/empty-geese-explain.md
  libs/@guardian/source/src/react-components/button/styles.ts
  libs/@guardian/source/src/react-components/inline/Inline.stories.tsx
  libs/@guardian/source/src/react-components/inline/Inline.tsx
  libs/@guardian/source/src/react-components/inline/styles.ts
Labels: 📦 npm, run_chromatic

#1493 Eslint add plugin react + react-hooks and move plugins to root of project
  .eslintrc.cjs
  libs/@guardian/source-development-kitchen/src/react-components/expanding-wrapper/ExpandingWrapper.tsx
  libs/@guardian/source/src/foundations/typography/stories/TypographyPresets.tsx
  libs/@guardian/source/src/react-components/accordion/AccordionRow.tsx
  package.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1501 Set `moduleResolution` to `bundler` in `@guardian/tsconfig`
  .changeset/silly-rivers-allow.md
  Makefile
  README.md
  libs/@guardian/tsconfig/.eslintrc.cjs
  libs/@guardian/tsconfig/package.json
  libs/@guardian/tsconfig/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: 📦 npm, @guardian/tsconfig, run_chromatic
