Repository guardian/csnx, pull requests merged in 2024-06, with the labels that each got.

#1513 First pass at documenting layout components and patterns
  libs/@guardian/source/src/react-components/docs/docs.tsx
  libs/@guardian/source/src/react-components/docs/layout.mdx
  libs/@guardian/source/src/react-components/inline/Inline.stories.tsx
Labels: 📦 npm, run_chromatic

#1516 Add `success.300` to colour tokens
  .changeset/dry-months-roll.md
  libs/@guardian/design-tokens/__generated__/tokens.d.ts
  libs/@guardian/design-tokens/__generated__/tokens.js
  libs/@guardian/design-tokens/__generated__/variables.css
  libs/@guardian/design-tokens/tokens.json
  libs/@guardian/source/src/foundations/tokens.test.ts
Labels: 📦 npm, run_chromatic, 🎨 Design System

#1525 Remove unused `Button` import
  libs/@guardian/source/src/react-components/inline/Inline.stories.tsx
Labels: 📦 npm, run_chromatic

#1526 Fix import order linting error
  libs/@guardian/source/src/foundations/tokens.test.ts
Labels: run_chromatic

#1510 migrate from cypress to playwright
  .github/actions/setup-node-env/action.yml
  .github/workflows/ci.yml
  .gitignore
  Makefile
  README.md
  libs/@guardian/libs/cypress.config.mjs
  libs/@guardian/libs/cypress/.eslintrc.json
  libs/@guardian/libs/cypress/e2e/consent-management-platform/fixtures/ccpa.json
  libs/@guardian/libs/cypress/e2e/consent-management-platform/fixtures/tcfv2.json
  libs/@guardian/libs/cypress/e2e/consent-management-platform/sourcepoint-aus.cy.js
  libs/@guardian/libs/cypress/e2e/consent-management-platform/sourcepoint-ccpa.cy.js
  libs/@guardian/libs/cypress/e2e/consent-management-platform/sourcepoint-tcfv2.cy.js
  libs/@guardian/libs/cypress/e2e/consent-management-platform/support/commands.js
  libs/@guardian/libs/cypress/e2e/example.cy.js
  libs/@guardian/libs/cypress/plugins/index.mjs
  libs/@guardian/libs/cypress/support/e2e.js
  libs/@guardian/libs/jest.config.js
  libs/@guardian/libs/package.json
  libs/@guardian/libs/playwright.config.js
  libs/@guardian/libs/playwright/e2e/sourcepoint-aus.spec.js
  libs/@guardian/libs/playwright/e2e/sourcepoint-ccpa.spec.js
  libs/@guardian/libs/playwright/e2e/sourcepoint-tcfv2.spec.js
  libs/@guardian/libs/playwright/example.spec.js
  libs/@guardian/libs/playwright/fixtures/sourcepointConfig.js
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/libs, run_chromatic

#1528 Fix Wireit caching
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-core/tsconfig.spec.json
  libs/@guardian/ab-react/package.json
  libs/@guardian/ab-react/tsconfig.spec.json
  libs/@guardian/atoms-rendering/CHANGELOG.md
  libs/@guardian/atoms-rendering/README.md
  libs/@guardian/browserslist-config/package.json
  libs/@guardian/cobalt-plugin-ts/package.json
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/core-web-vitals/tsconfig.spec.json
  libs/@guardian/design-tokens/package.json
  libs/@guardian/design-tokens/src/tokens.json
  libs/@guardian/design-tokens/tokens.config.js
  libs/@guardian/eslint-config-typescript/package.json
  libs/@guardian/eslint-config/package.json
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth-frontend/tsconfig.spec.json
  libs/@guardian/identity-auth/package.json
  libs/@guardian/identity-auth/tsconfig.spec.json
  libs/@guardian/libs/package.json
  libs/@guardian/libs/tsconfig.spec.json
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/newsletter-types/tsconfig.spec.json
  libs/@guardian/prettier/package.json
  libs/@guardian/source-development-kitchen/main.js
  libs/@guardian/source-development-kitchen/package.json
  libs/@guardian/source-development-kitchen/tsconfig.spec.json
  libs/@guardian/source/package.json
  libs/@guardian/source/tsconfig.spec.json
  tsconfig.base.json
Labels: 📦 npm, @guardian/libs, @guardian/browserslist-config, @guardian/eslint-config-typescript, @guardian/eslint-config, @guardian/prettier, @guardian/ab-core, @guardian/ab-react, run_chromatic

#1476 Promote spinner to standalone component
  .changeset/cyan-adults-hang.md
  libs/@guardian/source/src/react-components/@types/Icons.ts
  libs/@guardian/source/src/react-components/button/shared.tsx
  libs/@guardian/source/src/react-components/button/styles.ts
  libs/@guardian/source/src/react-components/icons/Icons.stories.tsx
  libs/@guardian/source/src/react-components/icons/SvgSpinner.tsx
  libs/@guardian/source/src/react-components/index.test.ts
  libs/@guardian/source/src/react-components/index.ts
  libs/@guardian/source/src/react-components/spinner/Spinner.stories.tsx
  libs/@guardian/source/src/react-components/spinner/Spinner.tsx
  libs/@guardian/source/src/react-components/spinner/theme.ts
Labels: 📦 npm, run_chromatic

#1539 Fix some types issues in storybook
  libs/@guardian/source/src/foundations/colour/palette.mdx
  libs/@guardian/source/src/foundations/colour/palette.stories.tsx
  libs/@guardian/source/src/foundations/colour/storybookColorPalette.tsx
Labels: 📦 npm, run_chromatic

#1542 Update typescript setup
  .changeset/fresh-poems-compare.md
  .changeset/serious-bulldogs-unite.md
  .github/workflows/ci.yml
  Makefile
  README.md
  apps/github-pages/package.json
  apps/storybooks/package.json
  configs/jest.config.js
  configs/storybook/package.json
  docs/source/storybook.md
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-core/tsconfig.json
  libs/@guardian/ab-core/tsconfig.spec.json
  libs/@guardian/ab-react/package.json
  libs/@guardian/ab-react/tsconfig.json
  libs/@guardian/ab-react/tsconfig.spec.json
  libs/@guardian/browserslist-config/package.json
  libs/@guardian/browserslist-config/tsconfig.json
  libs/@guardian/cobalt-plugin-ts/package.json
  libs/@guardian/cobalt-plugin-ts/tsconfig.json
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/core-web-vitals/tsconfig.json
  libs/@guardian/core-web-vitals/tsconfig.spec.json
  libs/@guardian/design-tokens/package.json
  libs/@guardian/design-tokens/tsconfig.json
  libs/@guardian/eslint-config-typescript/package.json
  libs/@guardian/eslint-config-typescript/tsconfig.json
  libs/@guardian/eslint-config/package.json
  libs/@guardian/eslint-config/tsconfig.json
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth-frontend/tsconfig.json
  libs/@guardian/identity-auth-frontend/tsconfig.spec.json
  libs/@guardian/identity-auth/package.json
  libs/@guardian/identity-auth/tsconfig.json
  libs/@guardian/identity-auth/tsconfig.spec.json
  libs/@guardian/libs/package.json
  libs/@guardian/libs/tsconfig.json
  libs/@guardian/libs/tsconfig.spec.json
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/newsletter-types/tsconfig.json
  libs/@guardian/newsletter-types/tsconfig.spec.json
  libs/@guardian/prettier/package.json
  libs/@guardian/prettier/tsconfig.json
  libs/@guardian/source-development-kitchen/package.json
  libs/@guardian/source-development-kitchen/src/react-components/editorial-button/styles.ts
  libs/@guardian/source-development-kitchen/src/react-components/numeric-input/NumericInput.stories.tsx
  libs/@guardian/source-development-kitchen/tsconfig.json
  libs/@guardian/source-development-kitchen/tsconfig.spec.json
  libs/@guardian/source/package.json
  libs/@guardian/source/src/react-components/radio/Radio.stories.tsx
  libs/@guardian/source/src/react-components/radio/RadioGroup.stories.tsx
  libs/@guardian/source/src/react-components/text-input/TextInput.stories.tsx
  libs/@guardian/source/tsconfig.json
  libs/@guardian/source/tsconfig.spec.json
  pnpm-lock.yaml
  scripts/deno/check-npm-scripts.ts
  tsconfig.base.json
Labels: 📦 npm, @guardian/libs, @guardian/browserslist-config, @guardian/eslint-config-typescript, @guardian/eslint-config, @guardian/prettier, @guardian/ab-core, @guardian/ab-react, run_chromatic

#1545 Revert "Update typescript setup"
  .changeset/fresh-poems-compare.md
  .changeset/serious-bulldogs-unite.md
  .github/workflows/ci.yml
  Makefile
  README.md
  apps/github-pages/package.json
  apps/storybooks/package.json
  configs/jest.config.js
  configs/storybook/package.json
  docs/source/storybook.md
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-core/tsconfig.json
  libs/@guardian/ab-core/tsconfig.spec.json
  libs/@guardian/ab-react/package.json
  libs/@guardian/ab-react/tsconfig.json
  libs/@guardian/ab-react/tsconfig.spec.json
  libs/@guardian/browserslist-config/package.json
  libs/@guardian/browserslist-config/tsconfig.json
  libs/@guardian/cobalt-plugin-ts/package.json
  libs/@guardian/cobalt-plugin-ts/tsconfig.json
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/core-web-vitals/tsconfig.json
  libs/@guardian/core-web-vitals/tsconfig.spec.json
  libs/@guardian/design-tokens/package.json
  libs/@guardian/design-tokens/tsconfig.json
  libs/@guardian/eslint-config-typescript/package.json
  libs/@guardian/eslint-config-typescript/tsconfig.json
  libs/@guardian/eslint-config/package.json
  libs/@guardian/eslint-config/tsconfig.json
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth-frontend/tsconfig.json
  libs/@guardian/identity-auth-frontend/tsconfig.spec.json
  libs/@guardian/identity-auth/package.json
  libs/@guardian/identity-auth/tsconfig.json
  libs/@guardian/identity-auth/tsconfig.spec.json
  libs/@guardian/libs/package.json
  libs/@guardian/libs/tsconfig.json
  libs/@guardian/libs/tsconfig.spec.json
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/newsletter-types/tsconfig.json
  libs/@guardian/newsletter-types/tsconfig.spec.json
  libs/@guardian/prettier/package.json
  libs/@guardian/prettier/tsconfig.json
  libs/@guardian/source-development-kitchen/package.json
  libs/@guardian/source-development-kitchen/src/react-components/editorial-button/styles.ts
  libs/@guardian/source-development-kitchen/src/react-components/numeric-input/NumericInput.stories.tsx
  libs/@guardian/source-development-kitchen/tsconfig.json
  libs/@guardian/source-development-kitchen/tsconfig.spec.json
  libs/@guardian/source/package.json
  libs/@guardian/source/src/react-components/radio/Radio.stories.tsx
  libs/@guardian/source/src/react-components/radio/RadioGroup.stories.tsx
  libs/@guardian/source/src/react-components/text-input/TextInput.stories.tsx
  libs/@guardian/source/tsconfig.json
  libs/@guardian/source/tsconfig.spec.json
  pnpm-lock.yaml
  scripts/deno/check-npm-scripts.ts
  tsconfig.base.json
Labels: 📦 npm, @guardian/libs, @guardian/browserslist-config, @guardian/eslint-config-typescript, @guardian/eslint-config, @guardian/prettier, @guardian/ab-core, @guardian/ab-react, run_chromatic

#1548 Remove Google Analytics from vendor list in cmp
  .changeset/cool-bobcats-hug.md
  libs/@guardian/libs/src/consent-management-platform/vendors.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#1549 Disable wireit cache in CI
  .github/actions/setup-node-env/action.yml
Labels: run_chromatic

#1547 Add test coverage reporting for CSTI projects
  .gitignore
  Makefile
  README.md
  configs/jest.config.js
  coverage/jest.config.js
  coverage/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: run_chromatic

#1550 Add 64px headline typography presets
  .changeset/nasty-apples-bake.md
  libs/@guardian/design-tokens/__generated__/tokens.d.ts
  libs/@guardian/design-tokens/__generated__/tokens.js
  libs/@guardian/design-tokens/__generated__/variables.css
  libs/@guardian/design-tokens/src/tokens.json
  libs/@guardian/source/src/foundations/__generated__/typography/css.ts
  libs/@guardian/source/src/foundations/__generated__/typography/objects.ts
  libs/@guardian/source/src/foundations/index.test.ts
  libs/@guardian/source/src/foundations/tokens.test.ts
  libs/@guardian/source/src/react-components/link/Link.stories.tsx
Labels: 📦 npm, run_chromatic, 🎨 Design System

#1558 Add sourcepoint integration test
  .github/workflows/sourcepoint-integration-tests
  Makefile
  README.md
  libs/@guardian/libs/package.json
  libs/@guardian/libs/sourcepoint-integration-tests/README.md
  libs/@guardian/libs/sourcepoint-integration-tests/tcfv2-vendors.test.js
Labels: 📦 npm, @guardian/libs, run_chromatic

#1561 Added yml
  .github/workflows/sourcepoint-integration-tests.yml
Labels: run_chromatic

#1565 Change -H to --header
  .github/workflows/sourcepoint-integration-tests.yml
Labels: run_chromatic

#1564 getConsentFor handle unknown ids
  .changeset/plenty-grapes-cross.md
  libs/@guardian/libs/src/consent-management-platform/getConsentFor.ts
  libs/@guardian/libs/src/consent-management-platform/vendorDataManager.test.ts
  libs/@guardian/libs/src/consent-management-platform/vendorDataManager.ts
  libs/@guardian/libs/src/consent-management-platform/vendorStorageIds.ts
  libs/@guardian/libs/src/consent-management-platform/vendors.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#1570 Ignore `coverage` in changesets
  .changeset/config.json
Labels: run_chromatic

#1507 Add AB test to use `propertyId` in CMP sourcepoint config
  .changeset/spicy-melons-own.md
  @types/window.d.ts
  libs/@guardian/libs/src/consent-management-platform/lib/sourcepointConfig.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/types/window.d.ts
Labels: 📦 npm, @guardian/libs, run_chromatic, 🐥 Canaries

#1572 coverage package should be private
  coverage/package.json
Labels: run_chromatic

#1574 reenable dev kit releases
  .changeset/fresh-poems-compare.md
  .changeset/serious-bulldogs-untie.md
Labels: run_chromatic

#1578 remove the old source tracker code
  .github/workflows/source-tracker.yml
  scripts/deno/octokit.ts
  scripts/deno/source-tracker/README.md
  scripts/deno/source-tracker/get-installation-data.ts
  scripts/deno/source-tracker/get-installations.ts
  scripts/deno/source-tracker/get-latest-version.ts
  scripts/deno/source-tracker/get-markdown.ts
  scripts/deno/source-tracker/get-pkg-versions-in-use.ts
  scripts/deno/source-tracker/mod.ts
Labels: run_chromatic

#1585 Use correct tests attribute on the window for sourcepoint AB test
  .changeset/spicy-numbers-beam.md
  @types/window.d.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
Labels: 📦 npm, @guardian/libs, run_chromatic
