Repository guardian/csnx, pull requests merged in 2024-04, with the labels that each got.

#1273 Try out `wireit` on the storybook workflows
  .github/actions/setup-node-env/action.yml
  .github/workflows/chromatic.yml
  .gitignore
  .vscode/extensions.json
  Makefile
  README.md
  apps/storybooks/README.md
  apps/storybooks/package.json
  apps/storybooks/project.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/project.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components-development-kitchen/project.json
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source-react-components/project.json
  nx.json
  pnpm-lock.yaml
  tools/scripts/lib/get-nx-targets.mjs
  tools/scripts/lib/get-tasks.mjs
  tools/scripts/maintain-readme/index.mjs
Labels: 🛠 workspace, 📦 npm, run_chromatic

#1318 Upgrade to storybook v8.0.5
  libs/@guardian/source-react-components-development-kitchen/.storybook/manager.ts
  libs/@guardian/source-react-components/.storybook/manager.ts
  package.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1325 Update typography API stories to show correct examples
  libs/@guardian/source-foundations/src/typography/typography.mdx
Labels: 📦 npm, run_chromatic

#1330 Add deprecated export file and relocate deprecated code
  libs/@guardian/source-foundations/src/_deprecated/colour/palette.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/types.ts
  libs/@guardian/source-foundations/src/colour/palette.ts
  libs/@guardian/source-foundations/src/deprecated-exports.ts
  libs/@guardian/source-foundations/src/index.ts
  libs/@guardian/source-foundations/src/tokens.test.ts
  libs/@guardian/source-foundations/src/typography/types.ts
Labels: 📦 npm, run_chromatic

#1333 Refine `wireit` storybooks setup
  apps/storybooks/.storybook/main.js
  apps/storybooks/package.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components/package.json
Labels: 📦 npm, run_chromatic

#1334 Move Nx configs from `project.json` to `package.json`
  apps/github-pages/package.json
  apps/github-pages/project.json
  libs/@guardian/ab-core/package.json
  libs/@guardian/ab-core/project.json
  libs/@guardian/ab-react/package.json
  libs/@guardian/ab-react/project.json
  libs/@guardian/browserslist-config/package.json
  libs/@guardian/browserslist-config/project.json
  libs/@guardian/cobalt-plugin-ts/package.json
  libs/@guardian/cobalt-plugin-ts/project.json
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/core-web-vitals/project.json
  libs/@guardian/design-tokens/package.json
  libs/@guardian/design-tokens/project.json
  libs/@guardian/eslint-config-typescript/package.json
  libs/@guardian/eslint-config-typescript/project.json
  libs/@guardian/eslint-config/package.json
  libs/@guardian/eslint-config/project.json
  libs/@guardian/eslint-plugin-source-foundations/package.json
  libs/@guardian/eslint-plugin-source-foundations/project.json
  libs/@guardian/eslint-plugin-source-react-components/package.json
  libs/@guardian/eslint-plugin-source-react-components/project.json
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth-frontend/project.json
  libs/@guardian/identity-auth/package.json
  libs/@guardian/identity-auth/project.json
  libs/@guardian/libs/package.json
  libs/@guardian/libs/project.json
  libs/@guardian/newsletter-types/package-lock.json
  libs/@guardian/newsletter-types/package.json
  libs/@guardian/newsletter-types/project.json
  libs/@guardian/prettier/package.json
  libs/@guardian/prettier/project.json
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/project.json
  libs/@guardian/source-react-components-development-kitchen/package.json
  libs/@guardian/source-react-components-development-kitchen/project.json
  libs/@guardian/source-react-components/package.json
  libs/@guardian/source-react-components/project.json
  libs/@guardian/tsconfig/package.json
  libs/@guardian/tsconfig/project.json
  tools/scripts/lib/get-tasks.mjs
Labels: 🛠 workspace, 📦 npm, @guardian/libs, @guardian/browserslist-config, @guardian/eslint-config-typescript, @guardian/eslint-config, @guardian/prettier, @guardian/tsconfig, @guardian/ab-core, @guardian/ab-react, run_chromatic

#1356 Use native `fetch` in `libs` tests
  libs/@guardian/libs/jest.config.ts
  libs/@guardian/libs/jest.testEnvironment.js
  libs/@guardian/libs/src/consent-management-platform/index.test.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.test.js
  libs/@guardian/libs/src/consent-management-platform/vendors.test.js
Labels: 📦 npm, @guardian/libs, run_chromatic

#1346 Narrow the type of space-related objects in source-foundations
  .changeset/long-rice-exist.md
  libs/@guardian/source-foundations/src/utils/convert-value.ts
Labels: 📦 npm, run_chromatic

#1335 Introduce web typography presets
  .changeset/silly-coins-approve.md
  Makefile
  README.md
  libs/@guardian/design-tokens/src/tokens.json
  libs/@guardian/design-tokens/tokens.d.ts
  libs/@guardian/design-tokens/tokens.js
  libs/@guardian/design-tokens/variables.css
  libs/@guardian/source-foundations/package.json
  libs/@guardian/source-foundations/scripts/build-type-presets.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/api.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/data.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/font-styles.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/index.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/obj/index.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/obj/typography.obj.test.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/storybookTypographyRenderers.tsx
  libs/@guardian/source-foundations/src/_deprecated/typography/types.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/typography.test.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/typographyDeprecated.mdx
  libs/@guardian/source-foundations/src/_deprecated/typography/typographyDeprecated.stories.tsx
  libs/@guardian/source-foundations/src/deprecated-exports.ts
  libs/@guardian/source-foundations/src/index.test.ts
  libs/@guardian/source-foundations/src/index.ts
  libs/@guardian/source-foundations/src/tokens.test.ts
  libs/@guardian/source-foundations/src/typography/index.ts
  libs/@guardian/source-foundations/src/typography/stories/TypographyPresets.tsx
  libs/@guardian/source-foundations/src/typography/stories/typography.mdx
  libs/@guardian/source-foundations/src/typography/stories/typography.stories.tsx
  libs/@guardian/source-foundations/src/typography/types.ts
  libs/@guardian/source-foundations/src/utils/convert-value.test.ts
  libs/@guardian/source-foundations/src/utils/convert-value.ts
  libs/@guardian/source-foundations/vendor/typography/css.ts
  libs/@guardian/source-foundations/vendor/typography/objects.ts
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1360 Remove `@nx/cypress`
  .github/workflows/github-pages.yml
  Makefile
  README.md
  apps/github-pages/astro.config.mjs
  apps/github-pages/package.json
  libs/@guardian/libs/package.json
  nx.json
  package.json
  pnpm-lock.yaml
Labels: 🛠 workspace, 📦 npm, @guardian/libs, run_chromatic

#1361 Fix `identity-auth` linting
  libs/@guardian/identity-auth/package.json
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1366 Add `article` typography presets
  .changeset/breezy-keys-smell.md
  libs/@guardian/design-tokens/src/tokens.json
  libs/@guardian/design-tokens/tokens.d.ts
  libs/@guardian/design-tokens/tokens.js
  libs/@guardian/design-tokens/variables.css
  libs/@guardian/source-foundations/src/index.test.ts
  libs/@guardian/source-foundations/src/tokens.test.ts
  libs/@guardian/source-foundations/vendor/typography/css.ts
  libs/@guardian/source-foundations/vendor/typography/objects.ts
Labels: run_chromatic

#1373 Revert "bump pnpm to v9"
  package.json
  pnpm-lock.yaml
Labels: run_chromatic

#1377 Refactor `ab-core` for clearer intent
  .changeset/odd-jobs-flow.md
  libs/@guardian/ab-core/src/fixture.ts
Labels: 📦 npm, @guardian/ab-core, run_chromatic

#1376 Reformat `timeAgo` code for consistency
  .changeset/short-mirrors-doubt.md
  libs/@guardian/libs/src/datetime/timeAgo.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#1380 Update Design Tokens package to export multiple objects
  .changeset/bright-vans-sin.md
  libs/@guardian/cobalt-plugin-ts/index.mjs
  libs/@guardian/design-tokens/src/tokens.json
  libs/@guardian/design-tokens/tokens.d.ts
  libs/@guardian/design-tokens/tokens.js
  libs/@guardian/design-tokens/variables.css
  libs/@guardian/source-foundations/scripts/build-type-presets.ts
  libs/@guardian/source-foundations/src/_deprecated/typography/data.ts
  libs/@guardian/source-foundations/src/breakpoints/breakpoints.ts
  libs/@guardian/source-foundations/src/colour/palette.ts
  libs/@guardian/source-foundations/src/size/size.ts
  libs/@guardian/source-foundations/src/space/space.ts
  libs/@guardian/source-foundations/src/typography/stories/TypographyPresets.tsx
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#1383 patch fix colour palette
  .changeset/dry-cows-poke.md
  libs/@guardian/source-foundations/src/colour/palette.ts
Labels: 📦 npm, run_chromatic

#1392 Do not enable `incremental` in `@guardian/tsconfig`
  .changeset/wet-llamas-camp.md
  libs/@guardian/tsconfig/tsconfig.json
Labels: 📦 npm, @guardian/tsconfig, run_chromatic
