Repository guardian/csnx, pull requests merged in 2025-05, with the labels that each got.

#2069 Add new cloud sync and cloud upload icons
  .changeset/orange-hats-brush.md
  libs/@guardian/source/src/react-components/__generated__/icons/SvgCloudSync.tsx
  libs/@guardian/source/src/react-components/__generated__/icons/SvgCloudUpload.tsx
  libs/@guardian/source/src/react-components/icons/Icons.stories.tsx
  libs/@guardian/source/src/react-components/icons/labels.ts
  libs/@guardian/source/src/react-components/index.test.ts
  libs/@guardian/source/src/react-components/index.ts
Labels: 📦 npm, run_chromatic

#2058 Use our own geolocation to determine the correct stubs and sp config to load.
  .changeset/calm-hoops-heal.md
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.test.js
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/types/window.d.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#2076 Add new vendor to sourcepoint TCFV2 vendor list for ID5
  .changeset/five-baths-grab.md
  libs/@guardian/libs/src/consent-management-platform/vendors.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#2067 Automatically calculate background hover color for Buttons
  .changeset/afraid-needles-kneel.md
  libs/@guardian/source/src/react-components/button/Button.stories.tsx
  libs/@guardian/source/src/react-components/button/hoverColour.test.ts
  libs/@guardian/source/src/react-components/button/hoverColour.ts
  libs/@guardian/source/src/react-components/button/styles.ts
  libs/@guardian/source/src/react-components/button/theme.ts
  libs/@guardian/source/src/react-components/utils/colourConversions.ts
Labels: 📦 npm, run_chromatic

#2064 Remove CCPA from US as it's being deprecated.
  .changeset/plain-rivers-sleep.md
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.test.js
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/stub.test.js
  libs/@guardian/libs/src/consent-management-platform/stub.ts
  libs/@guardian/libs/src/consent-management-platform/types/window.d.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#2079 include the recommended and jsx-runtime configs into their own config objects
  .changeset/blue-points-occur.md
  libs/@guardian/eslint-config/configs/react.js
Labels: 📦 npm, @guardian/eslint-config, run_chromatic

#2081 add interactions to the crossword storybook
  libs/@guardian/react-crossword/package.json
  libs/@guardian/react-crossword/src/components/Cell.tsx
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/components/CrosswordInteraction.stories.tsx
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic

#2086 Revert "include the recommended and jsx-runtime configs into their own config objects"
  .changeset/blue-points-occur.md
  libs/@guardian/eslint-config/configs/react.js
Labels: 📦 npm, @guardian/eslint-config, run_chromatic

#2088 Reattempt fixing react for shared eslint configs
  .changeset/blue-points-occur.md
  libs/@guardian/eslint-config/configs/react.js
  libs/@guardian/react-crossword/src/components/Clues.tsx
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/layouts/ScreenLayout.tsx
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/eslint-config, run_chromatic

#2089 Improve ticker animation
  .changeset/true-frogs-reply.md
  libs/@guardian/source-development-kitchen/src/react-components/ticker/useTicker.ts
Labels: 📦 npm, run_chromatic, 🐥 Canaries
