Repository guardian/csnx, pull requests merged in 2025-01, with the labels that each got.

#1887 Update readme.md
  libs/@guardian/prettier/readme.md
Labels: 📦 npm, @guardian/prettier, run_chromatic

#1847 Stop loading the cmp if user is on info page
  .changeset/wise-dancers-travel.md
  @types/window.d.ts
  libs/@guardian/libs/src/consent-management-platform/exclusionList.test.js
  libs/@guardian/libs/src/consent-management-platform/exclusionList.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/types/window.d.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#1891 Crossword inputs in all cells Grid A11y
  libs/@guardian/react-crossword/src/components/Cell.stories.tsx
  libs/@guardian/react-crossword/src/components/Cell.tsx
  libs/@guardian/react-crossword/src/components/Clues.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/context/CurrentCell.tsx
Labels: 📦 npm, run_chromatic

#1893 Grid a11y handle click
  libs/@guardian/react-crossword/src/components/Grid.tsx
Labels: 📦 npm, run_chromatic

#1902 Handle Crossword input for IMEs / Android native keyboard.
  libs/@guardian/react-crossword/src/components/Grid.tsx
Labels: 📦 npm, run_chromatic

#1903 Crossword fix for keydown event handler
  libs/@guardian/react-crossword/src/components/Grid.tsx
Labels: 📦 npm, run_chromatic

#1904 Update default crossword theme
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/layouts/ScreenLayout.tsx
  libs/@guardian/react-crossword/src/theme.ts
Labels: 📦 npm, run_chromatic

#1894 Fix for stored state.
  libs/@guardian/react-crossword/src/context/Progress.tsx
  libs/@guardian/react-crossword/src/hooks/useStoredState.ts
Labels: 📦 npm, run_chromatic

#1873 Send CMP interaction via Ophan Component Event.
  .changeset/dirty-carpets-relate.md
  libs/@guardian/libs/src/consent-management-platform/lib/ophan.ts
  libs/@guardian/libs/src/consent-management-platform/lib/sourcepointConfig.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#1895 Grid a11y format label
  libs/@guardian/react-crossword/jest.config.js
  libs/@guardian/react-crossword/package.json
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/utils/formatClueForScreenReader.ts
  libs/@guardian/react-crossword/src/utils/getCellDescription.ts
  libs/@guardian/react-crossword/src/utils/parseCrosswordData.ts
  libs/@guardian/react-crossword/src/utils/stripHtmlTags.ts
  pnpm-lock.yaml
Labels: 📦 npm, run_chromatic, 🐥 Canaries

#1910 Back to regex
  libs/@guardian/react-crossword/src/utils/stripHtmlTags.test.ts
  libs/@guardian/react-crossword/src/utils/stripHtmlTags.ts
Labels: 📦 npm, run_chromatic

#1911 Revert "Fix for stored state. "
  libs/@guardian/react-crossword/src/context/Progress.tsx
  libs/@guardian/react-crossword/src/hooks/useStoredState.ts
Labels: 📦 npm, run_chromatic

#1917 upgrade packages in gh pages
  apps/github-pages/package.json
  pnpm-lock.yaml
Labels: run_chromatic

#1913 Refactor - move the input into the Cell.tsx component
  libs/@guardian/react-crossword/src/components/Cell.stories.tsx
  libs/@guardian/react-crossword/src/components/Cell.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
Labels: 📦 npm, run_chromatic

#1885 Add sticky clue
  libs/@guardian/react-crossword/src/@types/Layout.ts
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/Crossword.stories.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/components/StickyClue.stories.tsx
  libs/@guardian/react-crossword/src/components/StickyClue.tsx
  libs/@guardian/react-crossword/src/layouts/ScreenLayout.tsx
  libs/@guardian/react-crossword/src/theme.ts
Labels: 📦 npm, run_chromatic

#1919 Fix for stacking content issue with SVG foreign object.
  libs/@guardian/react-crossword/src/components/Cell.tsx
Labels: 📦 npm, run_chromatic

#1912 Make the grid hydrate on the client automatically
  libs/@guardian/react-crossword/src/components/Grid.tsx
Labels: 📦 npm, run_chromatic

#1884 Anagram helper control it's own visability
  libs/@guardian/react-crossword/src/components/AnagramHelper.stories.tsx
  libs/@guardian/react-crossword/src/components/AnagramHelper.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/context/ShowAnagramHelper.tsx
  libs/@guardian/react-crossword/src/layouts/ScreenLayout.tsx
Labels: 📦 npm, run_chromatic

#1920 Fixes for Preact in DCR
  libs/@guardian/react-crossword/src/components/Cell.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
Labels: 📦 npm, run_chromatic
