Repository guardian/csnx, pull requests merged in 2025-03, with the labels that each got.

#1983 Reflect WebX ownership of crossword in CODEOWNERS
  .github/CODEOWNERS
Labels: run_chromatic

#1980 Support scrolling clue into view when selected
  libs/@guardian/react-crossword/src/components/Clue.tsx
  libs/@guardian/react-crossword/src/components/Clues.tsx
Labels: 📦 npm, run_chromatic

#1982 Remove isCorpABTest Flag
  .changeset/calm-lamps-dream.md
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/types/window.d.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#1988 Add joinHref to Sourcepoint Config.
  .changeset/funny-news-occur.md
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/types/window.d.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#1990 Remove isCorpABTest flag
  .changeset/lovely-turtles-rescue.md
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/types/window.d.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#1993 Add print background colour and cell border for Firefox
  libs/@guardian/react-crossword/src/components/Cell.tsx
Labels: 📦 npm, run_chromatic

#1992 Crossword check word: darken strikethrough
  libs/@guardian/react-crossword/src/theme.ts
Labels: 📦 npm, run_chromatic

#1823 `react-crossword` v3
  .changeset/config.json
  .changeset/react-crozzword-next.md
  README.md
  libs/@guardian/react-crossword/package.json
Labels: 📦 npm, run_chromatic, 🐥 Canaries

#2003 Adds new OphanComponentType
  .changeset/weak-cats-relate.md
  libs/@guardian/libs/src/ophan/@types/index.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#2008 Add monospace font Courier New to storybook
  libs/@guardian/react-crossword/.storybook/preview-head.html
  libs/@guardian/source-development-kitchen/.storybook/preview-head.html
  libs/@guardian/source/.storybook/preview-head.html
  libs/@guardian/source/src/react-components/columns/Columns.stories.tsx
Labels: 📦 npm, run_chromatic

#2020 Remove usage of Array.at() - it is not supported in older browser versions
  .changeset/tricky-masks-agree.md
  libs/@guardian/react-crossword/src/utils/getCellsWithProgressForGroup.ts
Labels: 📦 npm, run_chromatic

#2021 Crossword accessibility improvements
  .changeset/open-areas-pay.md
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/AnagramHelper.tsx
  libs/@guardian/react-crossword/src/components/Clue.tsx
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/components/CrosswordButton.tsx
  libs/@guardian/react-crossword/src/components/FocusedClue.tsx
  libs/@guardian/react-crossword/src/components/SolutionDisplay.tsx
  libs/@guardian/react-crossword/src/theme.ts
Labels: 📦 npm, run_chromatic

#2026 Crosswords - change working direction when moving.
  .changeset/dirty-planes-shave.md
  libs/@guardian/react-crossword/src/components/Crossword.stories.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/stories/Formats.stories.tsx
  libs/@guardian/react-crossword/stories/formats/mini-cryptic.ts
Labels: 📦 npm, run_chromatic

#2001 Stop redirect after reject all
  .changeset/true-bushes-cry.md
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#2040 Bundle `use-local-storage-state` package with `@guardian/react-crossword`
  .changeset/warm-bears-sink.md
  configs/rollup/rollup.config.js
  libs/@guardian/react-crossword/rollup.config.js
Labels: 📦 npm, run_chromatic
