Repository guardian/csnx, pull requests merged in 2025-02, with the labels that each got.

#1923 Use specific corepack version
  .github/actions/setup-node-env/action.yml
Labels: run_chromatic

#1926 Crossword print styles
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/Cell.tsx
  libs/@guardian/react-crossword/src/components/Clue.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/components/StickyClue.tsx
  libs/@guardian/react-crossword/src/layouts/ScreenLayout.tsx
  libs/@guardian/react-crossword/src/theme.ts
Labels: 📦 npm, run_chromatic

#1929 Fix for crossword android keyboard
  libs/@guardian/react-crossword/src/components/Grid.tsx
Labels: 📦 npm, run_chromatic

#1930 Fixes based off feedback from colleagues
  libs/@guardian/react-crossword/src/components/AnagramHelper.tsx
  libs/@guardian/react-crossword/src/components/Controls.tsx
Labels: 📦 npm, run_chromatic

#1935 Add Ophan tracking to crossword
  libs/@guardian/react-crossword/src/components/AnagramHelper.tsx
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
Labels: 📦 npm, run_chromatic

#1938 Fixing issue with re rendering using local storage
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/context/Progress.tsx
  libs/@guardian/react-crossword/src/hooks/useClearUserInput.ts
  libs/@guardian/react-crossword/src/hooks/useStoredState.ts
  libs/@guardian/react-crossword/src/hooks/useUpdateCell.ts
Labels: 📦 npm, run_chromatic

#1941 Add check to cell and a display to show if the cell is correct
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/Cell.stories.tsx
  libs/@guardian/react-crossword/src/components/Cell.tsx
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/context/ValidAnswers.tsx
  libs/@guardian/react-crossword/src/hooks/useClearUserInput.ts
  libs/@guardian/react-crossword/src/hooks/useUpdateCell.ts
  libs/@guardian/react-crossword/src/theme.ts
Labels: 📦 npm, run_chromatic

#1943 Crossword controls A11y
  libs/@guardian/react-crossword/src/components/AnagramHelper.tsx
  libs/@guardian/react-crossword/src/components/Controls.tsx
Labels: 📦 npm, run_chromatic

#1944 improve experience for android mobile keyboard
  libs/@guardian/react-crossword/src/components/Grid.tsx
Labels: 📦 npm, run_chromatic

#1945 Performance sweep
  libs/@guardian/react-crossword/src/components/Cell.tsx
  libs/@guardian/react-crossword/src/components/Clue.tsx
  libs/@guardian/react-crossword/src/components/Clues.tsx
  libs/@guardian/react-crossword/src/components/Controls.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/context/CurrentCell.tsx
  libs/@guardian/react-crossword/src/context/ValidAnswers.tsx
  libs/@guardian/react-crossword/src/hooks/useUpdateCell.ts
Labels: 📦 npm, run_chromatic

#1955 remove sticky clue in favour of simpler focused clue above and below the grid.
  libs/@guardian/react-crossword/src/@types/Layout.ts
  libs/@guardian/react-crossword/src/@types/crossword.ts
  libs/@guardian/react-crossword/src/components/Crossword.stories.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/components/FocusedClue.stories.tsx
  libs/@guardian/react-crossword/src/components/FocusedClue.tsx
  libs/@guardian/react-crossword/src/layouts/ScreenLayout.tsx
  libs/@guardian/react-crossword/src/theme.ts
Labels: 📦 npm, run_chromatic

#1957 Re release packages as latest
  libs/@guardian/core-web-vitals/CHANGELOG.md
  libs/@guardian/core-web-vitals/package.json
  libs/@guardian/identity-auth-frontend/CHANGELOG.md
  libs/@guardian/identity-auth-frontend/package.json
  libs/@guardian/identity-auth/CHANGELOG.md
  libs/@guardian/identity-auth/package.json
  libs/@guardian/libs/CHANGELOG.md
  libs/@guardian/libs/package.json
  libs/@guardian/react-crossword/package.json
  libs/@guardian/source-development-kitchen/CHANGELOG.md
  libs/@guardian/source-development-kitchen/package.json
  pnpm-lock.yaml
Labels: 📦 npm, @guardian/libs, run_chromatic

#1958 Add noop to crosswords
  libs/@guardian/react-crossword/src/components/Cell.tsx
Labels: 📦 npm, run_chromatic

#1960 fix crossword controls
  libs/@guardian/react-crossword/src/components/Controls.tsx
Labels: 📦 npm, run_chromatic

#1959 Remove banner flash for cmp
  .changeset/wet-rats-pump.md
  libs/@guardian/libs/src/consent-management-platform/mergeUserConsent.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/types/window.d.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#1963 update local storage to be the same as FE
  libs/@guardian/react-crossword/src/components/Clues.stories.tsx
  libs/@guardian/react-crossword/src/components/Grid.stories.tsx
  libs/@guardian/react-crossword/src/context/Progress.tsx
Labels: 📦 npm, run_chromatic

#1966 react-crossword A11y improvements
  libs/@guardian/react-crossword/src/components/Cell.tsx
  libs/@guardian/react-crossword/src/components/Crossword.tsx
  libs/@guardian/react-crossword/src/components/Grid.tsx
  libs/@guardian/react-crossword/src/utils/getCellDescription.ts
Labels: 📦 npm, run_chromatic

#1969 Encode returnAddress url for Support page
  .changeset/large-ads-pick.md
  libs/@guardian/libs/src/consent-management-platform/isConsentOrPay.ts
  libs/@guardian/libs/src/consent-management-platform/lib/sourcepointConfig.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#1968 Remove consent or pay flag
  .changeset/weak-showers-scream.md
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/types/window.d.ts
Labels: 📦 npm, @guardian/libs, run_chromatic

#1976 Send propertyHref to Sourcepoint and reinstate CORP_FLAG.
  .changeset/rich-poems-jump.md
  libs/@guardian/libs/src/consent-management-platform/lib/sourcepointConfig.ts
  libs/@guardian/libs/src/consent-management-platform/sourcepoint.ts
  libs/@guardian/libs/src/consent-management-platform/types/window.d.ts
Labels: 📦 npm, @guardian/libs, run_chromatic, 🐥 Canaries
